xml/tests/testData/documentation/XmlDoc4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="test" type="testType"/>
  <xs:complexType name="testType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="myRefType" name="attribute"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="myRefType">
  <xs:annotation>
    <xs:documentation>
      Hello, world!
    </xs:documentation>
  </xs:annotation>
  <xs:union memberTypes="xs:string"/>
</xs:simpleType>
</xs:schema>