xml/tests/testData/xml/RedefineGroup/originalschema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.test.com"
           targetNamespace="http://www.test.com" elementFormDefault="qualified">
    <xs:group name="testGroup">
        <xs:choice>
            <xs:element ref="one"/>
            <xs:element ref="two" />
        </xs:choice>
    </xs:group>

    <xs:element name="one" type="groupType" />
    <xs:element name="two" type="groupType" />
    <xs:complexType name="groupType" mixed="true">
        <xs:group ref="testGroup" minOccurs="0" maxOccurs="unbounded"/>
        <xs:attribute name="value" type="xs:string" use="optional"/>
    </xs:complexType>

</xs:schema>