xml/tests/testData/xml/RedefineGroup/redefinedschema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.test.com"
           targetNamespace="http://www.test.com" elementFormDefault="qualified">
    <xs:redefine schemaLocation="originalschema.xsd">
        <xs:group name="testGroup">
            <xs:choice>
                <xs:group ref="testGroup"/>
                <xs:element ref="three"/>
                <xs:element ref="four" />
            </xs:choice>
        </xs:group>
    </xs:redefine>

    <xs:element name="three" type="groupType" />
    <xs:element name="four" type="groupType" />
</xs:schema>