xml/relaxng/resources/resources/html5-schema/svg11/svg-basic-graphics-attrib.rnc

namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"
namespace xsd = "http://www.w3.org/2001/XMLSchema-datatypes"


##
##     SVG 1.1 Basic Graphics Attribute Module
##     file: svg-basic-graphics-attrib.rng
##
##     This is SVG, a language for describing two-dimensional graphics in XML.
##     Copyright 2001, 2002 W3C (MIT, INRIA, Keio), All Rights Reserved.
##
##     Modifications Copyright 2007 Mozilla Foundation
##
##     $Id$
##

##
##     Basic Graphics Attribute
##
##         display, visibility
##
##     This module defines the Graphics attribute set.
##
[ xml:lang = "en" ]
grammar {
    SVG.display.attrib =
        attribute display {
            string "inline"
            | string "block"
            | string "list-item"
            | string "run-in"
            | string "compact"
            | string "marker"
            | string "table"
            | string "inline-table"
            | string "table-row-group"
            | string "table-header-group"
            | string "table-footer-group"
            | string "table-row"
            | string "table-column-group"
            | string "table-column"
            | string "table-cell"
            | string "table-caption"
            | string "none"
            | string "inherit"
        }?
    SVG.visibility.attrib =
        attribute visibility { string "visible" | string "hidden" | string "collapse" | string "inherit" }?
    SVG.transform-origin.attrib =
        attribute transform-origin { xsd:string }?
    SVG.transform-box.attrib =
        attribute transform-box {
            string "content-box" | string "border-box" | string "fill-box" | string "stroke-box" | string "view-box"
        }?
    SVG.Graphics.extra.attrib = empty
    SVG.Graphics.attrib &=
        SVG.display.attrib,
        SVG.visibility.attrib,
        SVG.transform-origin.attrib,
        SVG.transform-box.attrib,
        SVG.Graphics.extra.attrib
}
