xml/tests/testData/completion/12_4_included-sample.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            attributeFormDefault="unqualified"
            elementFormDefault="qualified">

        <xsd:element name="sample">
                <xsd:complexType>
                        <xsd:attribute name="align" type="sampleEnum"/>
                </xsd:complexType>
        </xsd:element>

        <xsd:simpleType name="sampleEnum">
                <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="CENTER"/>
                        <xsd:enumeration value="LEFT"/>
                        <xsd:enumeration value="RIGHT"/>
                </xsd:restriction>
        </xsd:simpleType>
</xsd:schema>