xml/tests/testData/completion/25.xsd

<xs:schema targetNamespace="http://www.dummy-temp-address"
   xmlns="http://www.dummy-temp-address"
   xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns:cars="http://www.crc-corp.com/schemas/cars/schema_annotation"
   elementFormDefault="unqualified"
   attributeFormDefault="unqualified"
   version="DRAFT">
<xs:element name="full-event-update" type="FullEventUpdate"/>
<xs:complexType name="FullEventUpdate" >
      <xs:sequence>
         <xs:element name="message-header" type="MessageHeader" />
      </xs:sequence>
</xs:complexType>
<xs:complexType name="MessageHeader" >
      <xs:sequence>
         <xs:element name="sender" type="xs:string" />
      </xs:sequence>
</xs:complexType>
</xs:schema>