xml/tests/testData/completion/27.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" xml:lang="en"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.w3.org/1999/xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:xml="http://www.w3.org/XML/1998/namespace"
    elementFormDefault="qualified">

  <xs:group name="special">
    <xs:choice>
      <xs:element ref="obj<caret>"/>
    </xs:choice>
  </xs:group>

  <xs:element name="objectXYZ">
    <xs:complexType mixed="true">
      <xs:attribute name="name" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
</xs:schema>