xml/tests/testData/completion/29.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="aaa">
  <xs:element name="userrole">
    <xs:complexType mixed="true">
      <xs:sequence minOccurs="0">
        <xs:any namespace="http://www.w3.org/1999/xhtml ##targetNamespace" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="label">
    <xs:complexType>
      <xs:attribute name="key" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>