xml/tests/testData/completion/8.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="myns1" >
  <xsd:element name="foo" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType>
      <xsd:attribute name="hidden" type="xsd:boolean"/>
      <xsd:attribute name="visibility">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="public"/>
            <xsd:enumeration value="protected"/>
            <xsd:enumeration value="private"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>