xml/tests/testData/completion/CompleteEnumeration_importedSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:imported="http://www.foobar.com/imported"
	targetNamespace="http://www.foobar.com/imported"
	elementFormDefault="qualified">
	<xs:complexType name="OptionalParametersType">
		<xs:sequence>
			<xs:element name="someEnumeratedType" type="imported:SomeEnumeratedType"
				maxOccurs="1" minOccurs="0">
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SomeEnumeratedType">
		<xs:annotation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Foo" />
			<xs:enumeration value="Bar" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>