xml/tests/testData/completion/CompleteWhenNoNsSchemaLocation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema version="1.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified"
  >
  <xsd:element name="build" type="buildType" />

  <xsd:complexType name="buildType" mixed="true">
    <xsd:sequence>
      <xsd:element name="statusInfo" type="statusInfoType" minOccurs="0" />
      <xsd:element name="statsValue" type="statsValueType" maxOccurs="unbounded" minOccurs="0" />
    </xsd:sequence>
    <xsd:attribute name="number" type="xsd:string" />
  </xsd:complexType>

  <xsd:complexType name="statsValueType">
    <xsd:attribute name="key" type="xsd:string" />
    <xsd:attribute name="value" type="xsd:decimal" />
  </xsd:complexType>

  <xsd:complexType name="statusInfoType">
    <xsd:sequence>
      <xsd:element name="text" type="statusInfoTextType" maxOccurs="unbounded" minOccurs="0" />
    </xsd:sequence>
    <xsd:attribute name="status" type="statusType"/>
  </xsd:complexType>

  <xsd:complexType name="statusInfoTextType" mixed="true">
    <xsd:attribute name="action" type="actionType" />
  </xsd:complexType>

  <xsd:simpleType name="actionType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="prepend"/>
      <xsd:enumeration value="append"/>
      <xsd:enumeration value="replace"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="statusType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="SUCCESS"/>
      <xsd:enumeration value="NORMAL"/>
      <xsd:enumeration value="FAILURE"/>
      <xsd:enumeration value="ERROR"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>