xml/tests/testData/completion/xslt.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--
XSLT v1.0 XSD Schema for Visual Studio.NET
(c) 2002 Fesersoft. All Rights Reserved.
http://www.fesersoft.com/dotnet
dotnet@fesersoft.com
v1.1.5 5/10/2003
-->
<xsd:schema
xmlns="http://www.w3.org/1999/XSL/Transform" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
version="1.0" 
targetNamespace="http://www.w3.org/1999/XSL/Transform" 
elementFormDefault="qualified" 
xmlns:vs="http://schemas.fesersoft.com/Visual-Studio-Intellisense" 
vs:ishtmlschema="false" 
vs:iscasesensitive="true" 
vs:friendlyname="XSLT v1.0 Schema"
>

	<xsd:element name="apply-imports">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="0"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	
	<xsd:element name="apply-templates">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="sort" />
				<xsd:element ref="with-param" />
			</xsd:choice>
			<xsd:attribute name="select" />
			<xsd:attribute name="mode" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="attribute">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="apply-imports" />
				<xsd:element ref="apply-templates" />
				<xsd:element ref="call-template" />
				<xsd:element ref="choose" />
				<xsd:element ref="copy" />
				<xsd:element ref="copy-of" />
				<xsd:element ref="fallback" />
				<xsd:element ref="for-each" />
				<xsd:element ref="if" />
				<xsd:element ref="message" />
				<xsd:element ref="number" />
				<xsd:element ref="text" />
				<xsd:element ref="value-of" />
				<xsd:element ref="variable" />
			</xsd:choice>
			<xsd:attribute name="name" use="required" />
			<xsd:attribute name="namespace" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="attribute-set">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="attribute" />
			</xsd:choice>
			<xsd:attribute name="name" use="required" />
			<xsd:attribute name="use-attribute-sets" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="call-template">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="with-param" />
			</xsd:choice>
			<xsd:attribute name="name" use="required" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="choose">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="otherwise" />
				<xsd:element ref="when" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="comment">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="apply-imports" />
				<xsd:element ref="apply-templates" />
				<xsd:element ref="call-template" />
				<xsd:element ref="choose" />
				<xsd:element ref="copy" />
				<xsd:element ref="copy-of" />
				<xsd:element ref="fallback" />
				<xsd:element ref="for-each" />
				<xsd:element ref="if" />
				<xsd:element ref="message" />
				<xsd:element ref="number" />
				<xsd:element ref="text" />
				<xsd:element ref="value-of" />
				<xsd:element ref="variable" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="copy">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="apply-templates" />
				<xsd:element ref="attribute" />
				<xsd:element ref="call-template" />
				<xsd:element ref="choose" />
				<xsd:element ref="comment" />
				<xsd:element ref="copy" />
				<xsd:element ref="copy-of" />
				<xsd:element ref="element" />
				<xsd:element ref="for-each" />
				<xsd:element ref="if" />
				<xsd:element ref="processing-instruction" />
				<xsd:element ref="text" />
				<xsd:element ref="value-of" />
				<xsd:element ref="variable" />
			</xsd:choice>
			<xsd:attribute name="use-attribute-sets" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="copy-of">
		<xsd:complexType mixed="true">
			<xsd:attribute name="select" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="decimal-format">
		<xsd:complexType mixed="true">
			<xsd:attribute name="name" />
			<xsd:attribute name="decimal-separator" />
			<xsd:attribute name="grouping-separator" />
			<xsd:attribute name="infinity" />
			<xsd:attribute name="minus-sign" />
			<xsd:attribute name="NaN" />
			<xsd:attribute name="percent" />
			<xsd:attribute name="per-mille" />
			<xsd:attribute name="zero-digit" />
			<xsd:attribute name="digit" />
			<xsd:attribute name="pattern-separator" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="element">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="apply-templates" />
				<xsd:element ref="attribute" />
				<xsd:element ref="call-template" />
				<xsd:element ref="choose" />
				<xsd:element ref="comment" />
				<xsd:element ref="copy" />
				<xsd:element ref="copy-of" />
				<xsd:element ref="element" />
				<xsd:element ref="for-each" />
				<xsd:element ref="if" />
				<xsd:element ref="processing-instruction" />
				<xsd:element ref="text" />
				<xsd:element ref="value-of" />
				<xsd:element ref="variable" />
			</xsd:choice>
			<xsd:attribute name="name" use="required" />
			<xsd:attribute name="namespace" />
			<xsd:attribute name="use-attribute-sets" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="fallback">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="apply-templates" />
				<xsd:element ref="attribute" />
				<xsd:element ref="call-template" />
				<xsd:element ref="choose" />
				<xsd:element ref="comment" />
				<xsd:element ref="copy" />
				<xsd:element ref="copy-of" />
				<xsd:element ref="element" />
				<xsd:element ref="for-each" />
				<xsd:element ref="if" />
				<xsd:element ref="processing-instruction" />
				<xsd:element ref="text" />
				<xsd:element ref="value-of" />
				<xsd:element ref="variable" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="for-each">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="apply-imports" />
				<xsd:element ref="apply-templates" />
				<xsd:element ref="attribute" />
				<xsd:element ref="call-template" />
				<xsd:element ref="choose" />
				<xsd:element ref="comment" />
				<xsd:element ref="copy" />
				<xsd:element ref="copy-of" />
				<xsd:element ref="element" />
				<xsd:element ref="fallback" />
				<xsd:element ref="for-each" />
				<xsd:element ref="if" />
				<xsd:element ref="message" />
				<xsd:element ref="number" />
				<xsd:element ref="processing-instruction" />
				<xsd:element ref="sort" />
				<xsd:element ref="text" />
				<xsd:element ref="value-of" />
				<xsd:element ref="variable" />
			</xsd:choice>
			<xsd:attribute name="select" use="required" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="if">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="apply-templates" />
				<xsd:element ref="attribute" />
				<xsd:element ref="call-template" />
				<xsd:element ref="choose" />
				<xsd:element ref="comment" />
				<xsd:element ref="copy" />
				<xsd:element ref="copy-of" />
				<xsd:element ref="element" />
				<xsd:element ref="for-each" />
				<xsd:element ref="if" />
				<xsd:element ref="processing-instruction" />
				<xsd:element ref="text" />
				<xsd:element ref="value-of" />
				<xsd:element ref="variable" />
			</xsd:choice>
			<xsd:attribute name="test" use="required" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="import">
		<xsd:complexType mixed="true">
			<xsd:attribute name="href" use="required" type="xsd:anyURI" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="include">
		<xsd:complexType mixed="true">
			<xsd:attribute name="href" use="required" type="xsd:anyURI" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="key">
		<xsd:complexType mixed="true">
			<xsd:attribute name="name" />
			<xsd:attribute name="match" />
			<xsd:attribute name="use" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="message">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="apply-templates" />
				<xsd:element ref="attribute" />
				<xsd:element ref="call-template" />
				<xsd:element ref="choose" />
				<xsd:element ref="comment" />
				<xsd:element ref="copy" />
				<xsd:element ref="copy-of" />
				<xsd:element ref="element" />
				<xsd:element ref="for-each" />
				<xsd:element ref="if" />
					<xsd:element ref="processing-instruction" />
				<xsd:element ref="text" />
				<xsd:element ref="value-of" />
				<xsd:element ref="variable" />
			</xsd:choice>
			<xsd:attribute name="terminate" default="no">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="no" />
						<xsd:enumeration value="yes" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="namespace-alias">
		<xsd:complexType mixed="true">
			<xsd:attribute name="stylesheet-prefix" />
			<xsd:attribute name="result-prefix" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="number">
		<xsd:complexType mixed="true">
			<xsd:attribute name="level" default="single">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="single" />
						<xsd:enumeration value="multiple" />
						<xsd:enumeration value="any" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="count" />
			<xsd:attribute name="from" />
			<xsd:attribute name="value" />
			<xsd:attribute name="format" />
			<xsd:attribute name="lang" />
			<xsd:attribute name="letter-value" default="alphabetic">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="alphabetic" />
						<xsd:enumeration value="traditional" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="grouping-separator" />
			<xsd:attribute name="grouping-size" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="otherwise">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="apply-templates" />
				<xsd:element ref="attribute" />
				<xsd:element ref="call-template" />
				<xsd:element ref="choose" />
				<xsd:element ref="comment" />
				<xsd:element ref="copy" />
				<xsd:element ref="copy-of" />
				<xsd:element ref="element" />
				<xsd:element ref="for-each" />
				<xsd:element ref="if" />
				<xsd:element ref="processing-instruction" />
				<xsd:element ref="text" />
				<xsd:element ref="value-of" />
				<xsd:element ref="variable" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="output">
		<xsd:complexType mixed="true">
			<xsd:attribute name="method" default="xml">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="xml" />
						<xsd:enumeration value="html" />
						<xsd:enumeration value="text" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="version" />
			<xsd:attribute name="encoding" />
			<xsd:attribute name="omit-xml-declaration" default="yes">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="yes" />
						<xsd:enumeration value="no" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="standalone" default="no">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="yes" />
						<xsd:enumeration value="no" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="doctype-public" />
			<xsd:attribute name="cdata-section-elements" />
			<xsd:attribute name="indent" default="yes">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="yes" />
						<xsd:enumeration value="no" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="media-type" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="param">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="apply-templates" />
				<xsd:element ref="attribute" />
				<xsd:element ref="call-template" />
				<xsd:element ref="choose" />
				<xsd:element ref="comment" />
				<xsd:element ref="copy" />
				<xsd:element ref="copy-of" />
				<xsd:element ref="element" />
				<xsd:element ref="for-each" />
				<xsd:element ref="if" />
				<xsd:element ref="processing-instruction" />
				<xsd:element ref="text" />
				<xsd:element ref="value-of" />
				<xsd:element ref="variable" />
			</xsd:choice>
			<xsd:attribute name="name" use="required" />
			<xsd:attribute name="select" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="preserve-space">
		<xsd:complexType mixed="true">
			<xsd:attribute name="elements" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="processing-instruction">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="apply-imports" />
				<xsd:element ref="apply-templates" />
				<xsd:element ref="call-template" />
				<xsd:element ref="choose" />
				<xsd:element ref="copy" />
				<xsd:element ref="copy-of" />
				<xsd:element ref="fallback" />
				<xsd:element ref="for-each" />
				<xsd:element ref="if" />
				<xsd:element ref="message" />
				<xsd:element ref="number" />
				<xsd:element ref="text" />
				<xsd:element ref="value-of" />
				<xsd:element ref="variable" />
			</xsd:choice>
			<xsd:attribute name="name" use="required" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="sort">
		<xsd:complexType mixed="true">
			<xsd:attribute name="select" />
			<xsd:attribute name="lang" />
			<xsd:attribute name="data-type">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:NMTOKEN">
								<xsd:enumeration value="text" />
								<xsd:enumeration value="number" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string" />
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="order" default="ascending">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="ascending" />
						<xsd:enumeration value="descending" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="case-order" default="upper-first">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="upper-first" />
						<xsd:enumeration value="lower-first" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="strip-space">
		<xsd:complexType mixed="true">
			<xsd:attribute name="elements" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="stylesheet" vs:defaultelement="1">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="attribute-set" />
				<xsd:element ref="decimal-format" />
				<xsd:element ref="import" />
				<xsd:element ref="include" />
				<xsd:element ref="key" />
				<xsd:element ref="output" />
				<xsd:element ref="param" />
				<xsd:element ref="preserve-space" />
				<xsd:element ref="strip-space" />
				<xsd:element ref="template" />
				<xsd:element ref="variable" />
			</xsd:choice>
			<xsd:attribute name="id" />
			<xsd:attribute name="extension-element-prefixes" />
			<xsd:attribute name="exclude-result-prefixes" />
			<xsd:attribute name="version" type="xsd:double" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="template">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="apply-imports" />
				<xsd:element ref="apply-templates" />
				<xsd:element ref="attribute" />
				<xsd:element ref="call-template" />
				<xsd:element ref="choose" />
				<xsd:element ref="comment" />
				<xsd:element ref="copy" />
				<xsd:element ref="copy-of" />
				<xsd:element ref="element" />
				<xsd:element ref="fallback" />
				<xsd:element ref="for-each" />
				<xsd:element ref="if" />
				<xsd:element ref="message" />
				<xsd:element ref="number" />
				<xsd:element ref="param" />
				<xsd:element ref="processing-instruction" />
				<xsd:element ref="preserve-space" />
				<xsd:element ref="strip-space" />
				<xsd:element ref="text" />
				<xsd:element ref="value-of" />
				<xsd:element ref="variable" />
                		<xsd:any namespace="http://www.w3.org/1999/xhtml" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
			<xsd:attribute name="name" />
			<xsd:attribute name="match" />
			<xsd:attribute name="priority" type="xsd:double" />
			<xsd:attribute name="mode" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="text">
		<xsd:complexType mixed="true">
			<xsd:attribute name="disable-output-escaping" default="no">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="yes" />
						<xsd:enumeration value="no" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="transform">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="attribute-set" />
				<xsd:element ref="import" />
				<xsd:element ref="include" />
				<xsd:element ref="output" />
				<xsd:element ref="param" />
				<xsd:element ref="template" />
				<xsd:element ref="variable" />
			</xsd:choice>
			<xsd:attribute name="id" />
			<xsd:attribute name="extension-element-prefixes" />
			<xsd:attribute name="exclude-result-prefixes" />
			<xsd:attribute name="version" type="xsd:double" use="required" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="value-of">
		<xsd:complexType mixed="true">
			<xsd:attribute name="select" use="required" />
			<xsd:attribute name="disable-output-escaping" default="no">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="yes" />
						<xsd:enumeration value="no" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="variable">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="apply-templates" />
				<xsd:element ref="attribute" />
				<xsd:element ref="call-template" />
				<xsd:element ref="choose" />
				<xsd:element ref="comment" />
				<xsd:element ref="copy" />
				<xsd:element ref="copy-of" />
				<xsd:element ref="element" />
				<xsd:element ref="for-each" />
				<xsd:element ref="if" />
				<xsd:element ref="processing-instruction" />
				<xsd:element ref="text" />
				<xsd:element ref="value-of" />
				<xsd:element ref="variable" />
			</xsd:choice>
			<xsd:attribute name="name" use="required" />
			<xsd:attribute name="select" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="when">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="apply-templates" />
				<xsd:element ref="attribute" />
				<xsd:element ref="call-template" />
				<xsd:element ref="choose" />
				<xsd:element ref="comment" />
				<xsd:element ref="copy" />
				<xsd:element ref="copy-of" />
				<xsd:element ref="element" />
				<xsd:element ref="for-each" />
				<xsd:element ref="if" />
				<xsd:element ref="processing-instruction" />
				<xsd:element ref="text" />
				<xsd:element ref="value-of" />
				<xsd:element ref="variable" />
			</xsd:choice>
			<xsd:attribute name="test" use="required" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="with-param">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="apply-templates" />
				<xsd:element ref="attribute" />
				<xsd:element ref="call-template" />
				<xsd:element ref="choose" />
				<xsd:element ref="comment" />
				<xsd:element ref="copy" />
				<xsd:element ref="copy-of" />
				<xsd:element ref="element" />
				<xsd:element ref="for-each" />
				<xsd:element ref="if" />
				<xsd:element ref="processing-instruction" />
				<xsd:element ref="text" />
				<xsd:element ref="value-of" />
				<xsd:element ref="variable" />
			</xsd:choice>
			<xsd:attribute name="name" use="required" />
			<xsd:attribute name="select" />
		</xsd:complexType>
	</xsd:element>
</xsd:schema>