xml/tests/testData/xml/ResolvingEntitiesInDtd/Xpcivocabulary.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Turbo XML 2.3.0.100.-->
<!-- Copyright (c) 2000 United Parcel Service of America, 
Inc. All rights reserved. -->
<!-- Xpci Library Version 1.0003-->
<!--  XPCI Version 1.0002 accommodated AVLite, WWTNT and DOL-->
<!--XPCI Version 1.0003 accommodated Local teams enhancements to PreparePickupRequest, two new DTDs,  PSBServiceRequest and PSBServiceResponse-->
<!--XPCI Version 1.0004 accommodate changes made to the Tracking DTDs for the ATS project-->
<!--XPCI Version 1.0005 accommodate functional requirements for the ROW September Release-->
<!--XPCI Version 1.0006 accommodate functional requirements for the BCDN Phase II Enhancements-->
<!--XPCI Version 1.0007 accommodate functional requirements for the Quantum View Schema-->
<!--XPCI Version 1.0008 accommodate functional requirements for the ROW February release-->
<!--XPCI Version 1.0009 accommodate functional requirements for the Quantum View Autoload Fall 2002 release-->
<!--XPCI Version 1.0010 accommodate functional requirements for ROW, Shipping and Label Recovery enhancements for January 2003-->
<!--Parameters-->
<!ENTITY % AddressArtifacts "(ConsigneeName? , StreetNumberLow? , StreetNumberHigh? , StreetNumberOddEven? , StreetPrefix? , StreetName? , StreetType? , StreetSuffix? , BuildingName? , AddressExtendedInformation* , PoliticalDivision4? , PoliticalDivision3? , PoliticalDivision2? , PoliticalDivision1? , Country? , CountryCode? , PostcodePrimaryHigh? , PostcodePrimaryLow? , PostcodeExtendedHigh? , PostcodeExtendedLow? , ResidentialAddressIndicator?)">
<!ENTITY % AddressInputFormat "(AddressLabelFormat |AddressKeyFormat |AddressArtifactFormat |AddressRegionalFormat)">
<!ENTITY % AddressResultsType "(ValidAddressIndicator |AmbiguousAddressIndicator |NoCandidatesIndicator 
|OperationCompletedIndicator )">
<!ENTITY % EMailMessage "(EMailAddress+, Memo?, Subject?, ReplyToEMailAddress?, FromEMailAddress, FromName?, UndeliverableEMailAddress?, MessageBody+)">
<!ENTITY % FlexAddress "(Address | AddressArtifactFormat | AddressKeyFormat | AddressTokenFormat | AddressLabelFormat | AddressRegionalFormat)">
<!ENTITY % OddEvenChoices "(OddIndicator | EvenIndicator | BothIndicator)">
<!ENTITY % CandidateOutputFormat "((ArtifactFormatIndicator , KeyFormatIndicator?) | (ArtifactFormatIndicator? , KeyFormatIndicator))">
<!ENTITY % RequestedOutputIndicators "(((%CandidateOutputFormat;)?) , ReformatInputIndicator? , ModifiedRequestIndicator?)">
<!ENTITY % BehaviorIndicators "(((CandidateListIndicator , %CandidateOutputFormat; , MaximumListSize?) | (BinaryIndicator)) , ReformatInputIndicator? , IncludeUPSPreferredIndicator?)">
<!--Deprecated Vocabulary Elements-->
<!ELEMENT AdditionalHandling EMPTY>
<!ELEMENT DocumentsOnly EMPTY>
<!ELEMENT ExtendedDestination EMPTY>
<!ELEMENT HoldForPickup EMPTY>
<!ELEMENT Hundredweight EMPTY>
<!ELEMENT Modify EMPTY>
<!ELEMENT OtherDocuments EMPTY>
<!ELEMENT ResidentialAddress EMPTY>
<!ELEMENT SaturdayDelivery EMPTY>
<!ELEMENT SaturdayPickup EMPTY>
<!ELEMENT ShipperExportDeclaration EMPTY>
<!ELEMENT SignatureRequired EMPTY>
<!ELEMENT Void EMPTY>
<!ELEMENT WaybillPrint EMPTY>
<!--Base Vocabulary-->
<!ELEMENT AccountName (#PCDATA)>
<!ELEMENT AccountNumber (#PCDATA)>
<!ELEMENT AccessLicenseProfile (CountryCode, LanguageCode, AccessLicenseText?)>
<!ELEMENT AccessLicenseText (#PCDATA)>
<!ELEMENT Activity (ActivityLocation?, Status?, Date?, Time?)>
<!ELEMENT ActiveThreadCount (#PCDATA)>
<!ELEMENT ActivityLocation ((Address | AddressArtifactFormat), Code?, Description?, SignedForByName?, SignatureImage?, HTMLImage?)>
<!ELEMENT AdditionalChargeIndicator EMPTY>
<!ELEMENT AdditionalHandlingIndicator EMPTY>
<!ELEMENT AdditionalHandlingCharge (CurrencyCode?, MonetaryValue)>
<!ELEMENT AdditionalServices (#PCDATA)>
<!ELEMENT Address (ConsigneeName?, AddressLine1?, AddressLine2?, AddressLine3?, City?, StateProvinceCode?, PostalCode?, CountryCode?, (ResidentialAddress | ResidentialAddressIndicator)?)>
<!ELEMENT AddressArtifactFormat (%AddressArtifacts;)>
<!ELEMENT AddressExtendedInformation (Type, Low, High?, (%OddEvenChoices;)?)>
<!ELEMENT AddressKeyFormat (ConsigneeName?, BuildingName?, AddressLine*, (Region? | (PoliticalDivision2?, PoliticalDivision1?, PostcodePrimaryLow?, PostcodeExtendedLow?)), Urbanization?, CountryCode, ResidentialAddressIndicator?)>
<!ELEMENT AddressLabelFormat (UserInput+, CountryCode)>
<!ELEMENT AddressLine (#PCDATA)>
<!ELEMENT AddressLine1 (#PCDATA)>
<!ELEMENT AddressLine2 (#PCDATA)>
<!ELEMENT AddressLine3 (#PCDATA)>
<!ELEMENT AddressRegionalFormat (((Region, Urbanization?)? | (PoliticalDivision4?, PoliticalDivision3?, PoliticalDivision2?, PoliticalDivision1?, PostcodePrimaryLow?)), CountryCode, ResidentialAddressIndicator?)>
<!ELEMENT AddressTokenFormat (#PCDATA)>
<!ELEMENT AddShippingChargesToCODIndicator EMPTY>
<!ELEMENT AirIndicator EMPTY>
<!ELEMENT AlternateDeliveryTime (#PCDATA)>
<!ELEMENT AlternateDeliveryDate (#PCDATA)>
<!ELEMENT AlternateNumber (#PCDATA | StructuredPhoneNumber)*>
<!ELEMENT AlternateProfileAccessNumber (#PCDATA)>
<!ELEMENT AmbiguousAddressIndicator EMPTY>
<!ELEMENT ArtifactFormatIndicator EMPTY>
<!ELEMENT ASOLocationIndicator EMPTY>
<!ELEMENT AttentionName (#PCDATA)>
<!ELEMENT Attribute (Name, Value)>
<!ELEMENT AutoDutyCode (#PCDATA)>
<!ELEMENT AddressValidationOperationCommands ((QueryIndicator, %BehaviorIndicators;) | ParseAndStandardizeIndicator)>
<!ELEMENT BarCodeDeliveryNumber (#PCDATA)>
<!ELEMENT BarCodeIndicator EMPTY>
<!ELEMENT BCDNPackage (Activity*, Shipper, Service, TrackingNumber?, DeliveryAttemptDate?, DeliveryAttemptTime?, RescheduledDeliveryDate?, RescheduledDeliveryTime?, ScheduledDeliveryDate?, ScheduledDeliveryTime?, COD?, DCREligibility)>
<!ELEMENT BeginDate (#PCDATA)>
<!ELEMENT BillDutyTaxShipChargestoShipper (BillShipper | BillThirdPartyShipper)>
<!ELEMENT BillImporter (ImporterOfRecord, (AccountNumber | CreditCard))>
<!ELEMENT BillingWeight (UnitOfMeasurement?, Weight)>
<!ELEMENT BillReceiver ((AccountNumber | CreditCard), Address?)>
<!ELEMENT BillShipper ((AccountNumber | CreditCard))>
<!ELEMENT BillThirdParty (BillThirdPartyShipper | BillThirdPartyConsignee)>
<!ELEMENT BillThirdPartyConsignee (ThirdParty, AccountNumber)>
<!ELEMENT BillThirdPartyShipper (ThirdParty, AccountNumber)>
<!ELEMENT BinaryIndicator EMPTY>
<!ELEMENT BookNumber (#PCDATA)>
<!ELEMENT BothIndicator EMPTY>
<!ELEMENT BrokerCode (#PCDATA)>
<!ELEMENT BuildingName (#PCDATA)>
<!ELEMENT BusinessTransitDays (#PCDATA)>
<!ELEMENT CallTagARS (Number?, Code?, ScheduledPickupDate?)>
<!ELEMENT CallTagARSCharge (CurrencyCode?, MonetaryValue)>
<!ELEMENT Candidate (AddressArtifactFormat?, AddressKeyFormat?, AddressTokenFormat?)>
<!ELEMENT CandidateListIndicator EMPTY>
<!ELEMENT CarNumber (#PCDATA)>
<!ELEMENT CertificateOfOrigin (Type?, Number?, Code?, COCode?)>
<!-- New Element CharSet-->
<!ELEMENT CharSet (#PCDATA)>
<!ELEMENT City (#PCDATA)>
<!ELEMENT ClientSoftwareProfile (SoftwareInstaller, SoftwareProductName, SoftwareProvider, SoftwareVersionNumber)>
<!ELEMENT ClosedIndicator EMPTY>
<!ELEMENT ClosedTime (#PCDATA)>
<!ELEMENT COCode (#PCDATA)>
<!ELEMENT COD (CODFundsCode?, CODCode?, CODAmount, ControlNumber?, CODStatus?, AddShippingChargesToCODIndicator?)>
<!ELEMENT CODAmount (CurrencyCode?, MonetaryValue)>
<!ELEMENT CODCharge (CurrencyCode?, MonetaryValue)>
<!ELEMENT CODCode (#PCDATA)>
<!ELEMENT Code (#PCDATA)>
<!ELEMENT CODFundsCode (#PCDATA)>
<!ELEMENT CODStatus (#PCDATA)>
<!ELEMENT Comments (#PCDATA)>
<!ELEMENT Commodity (OriginCountryCode, CommodityCode?, PartNumber?, CurrencyCode?, TotalAmount, LineUnitAmountPrice?, Quantity, UnitOfMeasurement, MerchandiseDescription+)>
<!ELEMENT CommodityCode (#PCDATA)>
<!ELEMENT CompanyName (#PCDATA)>
<!ELEMENT CompanyURL (#PCDATA)>
<!ELEMENT CompleteSystemIndicator EMPTY>
<!ELEMENT ConcurrentConnections (#PCDATA)>
<!ELEMENT ConfigurationInformation (#PCDATA)>
<!ELEMENT ConsigneeName (#PCDATA)>
<!ELEMENT ConsigneeBilled ((AccountNumber | CreditCard)?)>
<!ELEMENT ConsolidatedClearanceQuantity (#PCDATA)>
<!ELEMENT Contact (Name?, Title?, EMailAddress?, PhoneNumber?, FaxNumber?, AlternateNumber?)>
<!ELEMENT ContactInfo (Name?, PhoneNumber?)>
<!ELEMENT ContactPhoneNumber (PhoneNumber)>
<!ELEMENT ControlNumber (#PCDATA)>
<!ELEMENT ControlLogReceipt (ImageFormat, GraphicImage)>
<!ELEMENT CostAndFreight ((BillShipper | BillThirdPartyShipper), (BillImporter | BillReceiver | BillThirdPartyConsignee))>
<!ELEMENT Country (#PCDATA)>
<!ELEMENT CountryCode (#PCDATA)>
<!ELEMENT CreditCard (Type, Number, ExpirationDate)>
<!ELEMENT CurrencyCode (#PCDATA)>
<!ELEMENT CurrentRequestBacklog (#PCDATA)>
<!ELEMENT CustomerCenterCutoff (#PCDATA)>
<!ELEMENT CustomerClassification (Code, Description?)>
<!ELEMENT CustomsInvoice (Commodity, InvoiceLineTotal, CurrencyCode?, InvoiceNumber?, PONumber?, SubTotal, TotalInvoiceAmount, TermsOfShipment?, ReasonForExport, FreightCharges?, InsuranceCharges?, DiscountRebate?, OtherCharges?, Comments?)>
<!ELEMENT DatabasesOnlyIndicator EMPTY>
<!ELEMENT Date (#PCDATA)>
<!ELEMENT DateTimeStamp (#PCDATA)>
<!ELEMENT DayOfWeek (#PCDATA)>
<!ELEMENT DCISType (#PCDATA)>
<!ELEMENT DCISNumber (#PCDATA)>
<!ELEMENT DCRCutoffDateInUTC (#PCDATA)>
<!ELEMENT DCRCutoffTimeInUTC (#PCDATA)>
<!ELEMENT DCREligibility (EligibilityError*, ModificationStatus?, EligibilityStatus?, DeliveryAttempt, DCROptions, UniquePackageIdentifier)>
<!ELEMENT DCROptions (SameDayWillCall*, WillCall*, ReturnToSender*, FutureDelivery*)>
<!ELEMENT DeclarationStatement (#PCDATA)>
<!ELEMENT DelayCount (#PCDATA)>
<!ELEMENT DelDutyPaidVATUnPaid ((BillShipper | BillThirdPartyShipper), (BillImporter | BillReceiver | BillThirdPartyConsignee))>
<!ELEMENT DeliveryAttempt (Date?, Number?, Driver?, SLIC?, Region?, ShipperNumber?, AddressArtifactFormat, PackageCenter)>
<!ELEMENT DeliveryAttemptDate (#PCDATA)>
<!ELEMENT DeliveryAttemptTime (#PCDATA)>
<!ELEMENT DeliveryConfirmation (DCISType, DCISNumber?)>
<!ELEMENT DeliveryConfirmationCharge (CurrencyCode?, MonetaryValue)>
<!ELEMENT DeliveryStop (BarCodeDeliveryNumber, NumberBCDNPackages?, ShipTo?, ScheduledDeliveryDate?, ScheduledDeliveryTime?, RescheduledDeliveryDate?, RescheduledDeliveryTime?, BCDNPackage+)>
<!ELEMENT DeliveryZone (#PCDATA)>
<!ELEMENT Description (#PCDATA)>
<!ELEMENT DescriptionOfGoods (#PCDATA)>
<!ELEMENT DestinationControl (#PCDATA)>
<!ELEMENT DestinationCountryCode (#PCDATA)>
<!ELEMENT DestinationPostalCode (#PCDATA)>
<!ELEMENT DeveloperLicenseNumber (#PCDATA)>
<!ELEMENT DimensionalWeight (UnitOfMeasurement?, Weight)>
<!ELEMENT Dimensions (UnitOfMeasurement?, Length, Width, Height)>
<!ELEMENT Disclaimer (#PCDATA)>
<!ELEMENT DiscountRebate (#PCDATA)>
<!ELEMENT Distance (Value, UnitOfMeasurement)>
<!ELEMENT DocumentCode (#PCDATA)>
<!ELEMENT DocumentsOnlyIndicator EMPTY>
<!ELEMENT Directions (Segment, Distance?, Time?)>
<!ELEMENT Driver (Name?, Number?, CarNumber?)>
<!ELEMENT DrivingDirection (Directions*, TotalDistance, TotalTime)>
<!ELEMENT DropLocation (LocationID, IVR?, AddressKeyFormat, PhoneNumber+, FaxNumber?, EMailAddress?, Disclaimer*, LocationType, Distance, SpecialInstructions*, LatestGroundDropOffTime*, LatestAirDropOffTime*, AdditionalChargeIndicator?, AdditionalServices*, Service*, NonStandardHoursOfOperation?, StandardHoursOfOperation?)>
<!ELEMENT EarliestDeliveryTime (#PCDATA)>
<!ELEMENT EarliestTimeReady (#PCDATA)>
<!ELEMENT EligibilityError (Type, Number)>
<!ELEMENT EligibilityStatus (Code, Description?)>
<!ELEMENT EMailAddress (#PCDATA)>
<!ELEMENT EMailContent (#PCDATA)>
<!ELEMENT EMailMessage (EMailAddress+, Memo?, Subject?, SubjectCode?, FromEMailAddress?, FromName?, UndeliverableEMailAddress?, MessageBody*)>
<!ELEMENT EmployerIdentificationNumber (#PCDATA)>
<!ELEMENT EndDate (#PCDATA)>
<!ELEMENT EstimatedArrival (BusinessTransitDays, Time?, Date, DayOfWeek?, PickupDate?, PickupTime?, TotalTransitDays?, CustomerCenterCutoff?, RestDays?, HolidayCount?, DelayCount?)>
<!ELEMENT ExpirationDate (#PCDATA)>
<!ELEMENT ExportCommodityControlNumber (#PCDATA)>
<!ELEMENT ExportLicenseInformation (#PCDATA)>
<!ELEMENT ExtendedDestinationIndicator EMPTY>
<!ELEMENT EvenIndicator EMPTY>
<!ELEMENT FaxDestination (FaxDestinationIndicator, FaxNumber)>
<!ELEMENT FaxDestinationIndicator (#PCDATA)>
<!ELEMENT FaxNumber (#PCDATA | StructuredPhoneNumber)*>
<!ELEMENT FileName (#PCDATA)>
<!ELEMENT FlatRate (CurrencyCode?, MonetaryValue)>
<!ELEMENT FloorID (#PCDATA)>
<!ELEMENT FreeOnBoard ((BillShipper | BillThirdPartyShipper), (BillImporter | BillReceiver | BillThirdPartyConsignee))>
<!ELEMENT FreightCharges (CurrencyCode?, MonetaryValue)>
<!ELEMENT FreightCollect (BillReceiver | BillImporter | BillThirdPartyConsignee)>
<!--New Element FromEMailAddress-->
<!ELEMENT FromEMailAddress (#PCDATA)>
<!ELEMENT FromName (#PCDATA)>
<!ELEMENT FutureDelivery (Date, DayOfWeek?)>
<!ELEMENT Geocode (Latitude, Longitude, Quality?)>
<!ELEMENT GeocodeCandidate (AddressKeyFormat, Geocode, LandmarkName?)>
<!ELEMENT GraphicImage (#PCDATA)>
<!ELEMENT GroupNumber (#PCDATA)>
<!ELEMENT GroundIndicator EMPTY>
<!ELEMENT Guaranteed (Code, Description?)>
<!ELEMENT GuaranteedDaysToDelivery (#PCDATA)>
<!ELEMENT HandlingCharge (FlatRate | Percentage)>
<!ELEMENT HandlingChargeAmount (CurrencyCode?, MonetaryValue)>
<!ELEMENT HazardousMaterialsCharge (CurrencyCode?, MonetaryValue)>
<!ELEMENT HazardousMaterialsCode (#PCDATA)>
<!ELEMENT HeartBeatStatus (ActiveThreadCount, ConcurrentConnections, MaximumConcurrentConnections, CurrentRequestBacklog, MaximumBacklog, ConfigurationInformation)>
<!ELEMENT HeartBeatStatusCheckCommand EMPTY>
<!ELEMENT Height (#PCDATA)>
<!ELEMENT High (#PCDATA)>
<!ELEMENT HoldForPickupIndicator EMPTY>
<!ELEMENT HolidayHours (#PCDATA)>
<!ELEMENT HTMLImage (#PCDATA)>
<!ELEMENT HTTPUserAgent (#PCDATA)>
<!ELEMENT HolidayCount (#PCDATA)>
<!ELEMENT HundredWeightIndicator EMPTY>
<!ELEMENT Image (ImageFormat, GraphicImage)>
<!ELEMENT ImageFormat (Code, Description?)>
<!ELEMENT ImageMap (LocationID, XCoordinate, YCoordinate)>
<!ELEMENT ImporterOfRecord (CompanyName?, AttentionName?, PhoneNumber?, FaxDestination, Address)>
<!ELEMENT IncludeUPSPreferredIndicator EMPTY>
<!ELEMENT InformationLevel (#PCDATA)>
<!ELEMENT InformationSourceCode (#PCDATA)>
<!ELEMENT InquiryDataSource (#PCDATA)>
<!ELEMENT InsuranceCharges (CurrencyCode?, MonetaryValue)>
<!ELEMENT InsuredValue (CurrencyCode?, MonetaryValue)>
<!ELEMENT InsuredValueCharge (CurrencyCode?, MonetaryValue)>
<!ELEMENT InternationalSignatureGraphicImage (#PCDATA)>
<!ELEMENT InvoiceLineTotal (CurrencyCode?, MonetaryValue)>
<!ELEMENT InvoiceNumber (#PCDATA)>
<!ELEMENT ItemizedPackageCharges (AdditionalHandlingCharge?, CODCharge?, DeliveryConfirmationCharge?, HazardousMaterialsCharge?, InsuredValueCharge?, ShipmentNotificationCharge*, VerbalConfirmationCharge?)>
<!ELEMENT ItemizedShipmentCharges (CallTagARSCharge?, InsuredValueCharge?, SaturdayDeliveryCharge?, SaturdayPickupCharge?, ShipmentNotificationCharge*)>
<!ELEMENT IVR (PhraseID?, TextToSpeechIndicator?)>
<!ELEMENT KeyFormatIndicator EMPTY>
<!ELEMENT LabelControlNumber (ProductName, ProductVersion, PrinterMakeAndModel?, PrinterDriverVersion?)>
<!ELEMENT LabelDelivery (EMailMessage?, LabelLinkIndicator?, ResendEMailIndicator?)>
<!ELEMENT LabelDeliveryOptions (LabelDelivery)>
<!ELEMENT LabelImage (LabelImageFormat, GraphicImage, HTMLImage?, PDF417?, InternationalSignatureGraphicImage?, URL?)>
<!ELEMENT LabelImageFormat (Code, Description?)>
<!ELEMENT LabelLinkIndicator EMPTY>
<!ELEMENT LabelPrintMethod (Code, Description?)>
<!ELEMENT LabelResults (TrackingNumber, LabelImage?, Receipt?)>
<!ELEMENT LabelSpecification (LabelPrintMethod?, HTTPUserAgent?, LabelStockSize?, LabelImageFormat, LabelControlNumber?)>
<!ELEMENT LabelStockSize (UnitOfMeasurement?, Height, Width)>
<!ELEMENT LandmarkCode (#PCDATA)>
<!ELEMENT LandmarkName (#PCDATA)>
<!ELEMENT LanguageCode (#PCDATA)>
<!ELEMENT LatestAirDropOffTime (#PCDATA)>
<!ELEMENT LatestGroundDropOffTime (#PCDATA)>
<!ELEMENT LatestTimeReady (#PCDATA)>
<!ELEMENT Latitude (#PCDATA)>
<!ELEMENT Length (#PCDATA)>
<!ELEMENT LicenseExpirationDate (#PCDATA)>
<!ELEMENT LicenseInformation (#PCDATA)>
<!ELEMENT LineMonetaryTotals (CurrencyCode?, MonetaryValue)>
<!ELEMENT LineNumber (#PCDATA)>
<!ELEMENT LineUnitAmountPrice (CurrencyCode?, MonetaryValue)>
<!ELEMENT Location (#PCDATA)>
<!ELEMENT LocationCriteria (LocationType*, MaximumListSize?, SearchRadius?, ServiceSearch*)>
<!ELEMENT LocationID (#PCDATA)>
<!ELEMENT LocationType (UPSCentersIndicator?, UPSDesignatedIndicator?, UPSLetterCentersIndicator?, ASOLocationIndicator?, LocationSubType?, UPSGoldShieldIndicator?)>
<!ELEMENT LocationSubType (Code, Description?)>
<!ELEMENT Longitude (#PCDATA)>
<!ELEMENT LoopPositionNumber (#PCDATA)>
<!ELEMENT Low (#PCDATA)>
<!ELEMENT MapDimensions (Height, Width)>
<!ELEMENT MapID (#PCDATA)>
<!ELEMENT MapNavigation (Number?, MapDimensions?, ZoomFactor?, PanX?, PanY?, MapID?, MapURL?, ImageMap*)>
<!ELEMENT MapURL (#PCDATA)>
<!ELEMENT MarksAndNumbers (#PCDATA)>
<!ELEMENT MaximumBacklog (#PCDATA)>
<!ELEMENT MaximumConcurrentConnections (#PCDATA)>
<!ELEMENT MaximumListSize (#PCDATA)>
<!ELEMENT Message (Code, Description?)>
<!ELEMENT Memo (#PCDATA)>
<!ELEMENT MerchandiseDescription (#PCDATA)>
<!ELEMENT MessageBody (MIMEType, (EMailContent | Image), CharSet?, FileName?)>
<!ELEMENT Method (#PCDATA)>
<!--<!ATTLIST MessageBody  id    ID     #IMPLIED
                         idref IDREF  #IMPLIED >-->
<!ELEMENT MIMEType (#PCDATA)>
<!-- MIMEType must conform to RFC-822-->
<!ELEMENT ModificationOccurredIndicator EMPTY>
<!ELEMENT ModificationRequestIndicator EMPTY>
<!ELEMENT ModificationStatus (Code, Description?)>
<!ELEMENT ModifyIndicator EMPTY>
<!ELEMENT MonetaryValue (#PCDATA)>
<!ELEMENT Name (#PCDATA)>
<!ELEMENT NextDayPickupIndicator EMPTY>
<!ELEMENT NoCandidatesIndicator EMPTY>
<!ELEMENT NoMapIndicator EMPTY>
<!ELEMENT NonStandardHoursOfOperation (#PCDATA)>
<!ELEMENT NotificationCode (#PCDATA)>
<!ELEMENT Notification (NotificationCode?, AttentionName?, CompanyName?, FaxDestination?, EMailMessage?, PhoneNumber?)>
<!ELEMENT Number (#PCDATA)>
<!ELEMENT NumberBCDNPackages (#PCDATA)>
<!ELEMENT NumberOfPackagesPerCommodity (#PCDATA)>
<!ELEMENT OddIndicator EMPTY>
<!ELEMENT OffsetToUTC (#PCDATA)>
<!ELEMENT OnCallAir (PickupDetails?, Schedule?)>
<!ELEMENT OpenTime (#PCDATA)>
<!ELEMENT OperationCompletedIndicator EMPTY>
<!ELEMENT OriginAddress (LandmarkCode?, PhoneNumber?, Geocode?, AddressKeyFormat, MaximumListSize?)>
<!ELEMENT OriginCountryCode (#PCDATA)>
<!ELEMENT OtherCharges (CurrencyCode?, MonetaryValue)>
<!ELEMENT OtherDocumentsIndicator EMPTY>
<!ELEMENT OversizePackage (#PCDATA)>
<!ELEMENT Package (Activity*, Message*, PackagingType?, Description?, Dimensions?, DimensionalWeight?, PackageWeight?, OversizePackage?, TrackingNumber?, ReferenceNumber*, RescheduledDeliveryDate?, RescheduledDeliveryTime?, PackageServiceOptions?, AdditionalHandling?, Void?)>
<!ELEMENT PackageActivityStatusCode (#PCDATA)>
<!ELEMENT PackageCenter (UTCSign?, OffsetToUTC?, DCRCutoffDateInUTC?, DCRCutoffTimeInUTC?)>
<!ELEMENT PackageDeliveryChange (DateTimeStamp, TrackingNumber, DCROptions*, DeliveryAttempt?, UniquePackageIdentifier?, Contact?)>
<!ELEMENT PackageResults (TrackingNumber, OversizePackage?, TransportationCharges, ServiceOptionsCharges?, TotalPackageCharges?, ItemizedPackageCharges?, LabelImage?, Receipt?, CODAmount?)>
<!ELEMENT PackageSequenceNumber (#PCDATA)>
<!ELEMENT PackageServiceOptions (DeliveryConfirmation?, COD?, InsuredValue?, EarliestDeliveryTime?, HazardousMaterialsCode?, SignatureRequired?, HoldForPickup?, VerbalConfirmation?, LabelDelivery?, Notification*, ShipmentNotification*, ShipperReleaseIndicator?)>
<!ELEMENT PackageWeight (UnitOfMeasurement?, Weight)>
<!ELEMENT PackagingType (Code, Description?)>
<!ELEMENT PageNumber (#PCDATA)>
<!ELEMENT PanX (#PCDATA)>
<!ELEMENT PanY (#PCDATA)>
<!ELEMENT ParseAndStandardizeIndicator EMPTY>
<!ELEMENT PartNumber (#PCDATA)>
<!ELEMENT PartiesToTransaction (#PCDATA)>
<!ELEMENT PaymentInformation ((Prepaid | FreightCollect | BillThirdParty | FreeOnBoard | CostAndFreight | DelDutyPaidVATUnPaid | BillDutyTaxShipChargestoShipper | ConsigneeBilled))>
<!ELEMENT PaymentTerms (#PCDATA)>
<!ELEMENT PDF417 (#PCDATA)>
<!ELEMENT Percentage (#PCDATA)>
<!ELEMENT PhoneExtension (#PCDATA)>
<!ELEMENT PhoneCountryCode (#PCDATA)>
<!ELEMENT PhoneDialPlanNumber (#PCDATA)>
<!ELEMENT PhoneLineNumber (#PCDATA)>
<!ELEMENT PhoneNumber (#PCDATA | StructuredPhoneNumber)*>
<!ELEMENT PhraseID (#PCDATA)>
<!ELEMENT PickupCountryCode (#PCDATA)>
<!ELEMENT PickupDate (#PCDATA)>
<!ELEMENT PickupDateRange (BeginDate, EndDate)>
<!ELEMENT PickupDetails (PickupDate, EarliestTimeReady?, LatestTimeReady?, SuiteRoomID?, FloorID?, Location?, ContactInfo?)>
<!ELEMENT PickupPostalCode (#PCDATA)>
<!ELEMENT PickupSummary (Attribute+)>
<!ELEMENT PickupTime (#PCDATA)>
<!ELEMENT PickupType (Code, Description?)>
<!ELEMENT PLDData (#PCDATA)>
<!ELEMENT PODDays (#PCDATA)>
<!ELEMENT PODDate (#PCDATA)>
<!ELEMENT PoliticalDivision4 (#PCDATA)>
<!ELEMENT PoliticalDivision3 (#PCDATA)>
<!ELEMENT PoliticalDivision2 (#PCDATA)>
<!ELEMENT PoliticalDivision1 (#PCDATA)>
<!ELEMENT PONumber (#PCDATA)>
<!ELEMENT PostalCode (#PCDATA)>
<!ELEMENT PostcodeExtendedLow (#PCDATA)>
<!ELEMENT PostcodeExtendedHigh (#PCDATA)>
<!ELEMENT PostalCodeHighEnd (#PCDATA)>
<!ELEMENT PostalCodeLowEnd (#PCDATA)>
<!ELEMENT PostcodePrimaryLow (#PCDATA)>
<!ELEMENT PostcodePrimaryHigh (#PCDATA)>
<!ELEMENT PrepPickupTransactionId (#PCDATA)>
<!ELEMENT Prepaid ((BillShipper | BillThirdPartyShipper), (BillImporter | BillReceiver | BillThirdPartyConsignee)?)>
<!ELEMENT PrimaryContact (Name?, Title?, EMailAddress?, PhoneNumber?, FaxNumber?)>
<!ELEMENT PrinterMakeAndModel (#PCDATA)>
<!ELEMENT PrinterDriverVersion (#PCDATA)>
<!ELEMENT ProductName (#PCDATA)>
<!ELEMENT ProductVersion (#PCDATA)>
<!ELEMENT ProofOfDeliveryReplyType (#PCDATA)>
<!ELEMENT Quality (#PCDATA)>
<!ELEMENT Quantity (#PCDATA)>
<!ELEMENT QuantityScheduleBUnits (#PCDATA)>
<!ELEMENT QueryIndicator EMPTY>
<!ELEMENT Rank (#PCDATA)>
<!ELEMENT RatedShipmentWarning (#PCDATA)>
<!ELEMENT ReasonForExport (#PCDATA)>
<!ELEMENT Receipt (URL?, HTMLImage?, Image?)>
<!ELEMENT Receiver (Address, SignedForByName?)>
<!ELEMENT ReferenceNumber (BarCodeIndicator?, Number?, Code?, Value)>
<!ELEMENT ReformatInputIndicator EMPTY>
<!ELEMENT Region (#PCDATA)>
<!ELEMENT RegionalRequestIndicator EMPTY>
<!ELEMENT RegistrationInformation (UserName, Title?, CompanyName, Address, PhoneNumber, PhoneExtension?, EMailAddress, ((ShipperNumber, PickupPostalCode, PickupCountryCode) | ShipperAccount*))>
<!ELEMENT Remarks (#PCDATA)>
<!ELEMENT RescheduledDeliveryDate (#PCDATA)>
<!ELEMENT RescheduledDeliveryTime (#PCDATA)>
<!ELEMENT ResendPLDTransactionId (#PCDATA)>
<!ELEMENT ResidentialAddressIndicator EMPTY>
<!ELEMENT RestDays (#PCDATA)>
<!ELEMENT ResultsCode (#PCDATA)>
<!ELEMENT ResultsDescription (#PCDATA)>
<!ELEMENT ReturnService (Code)>
<!ELEMENT ReturnToSender (Code, Description?)>
<!ELEMENT SameDayWillCall (Date, DayOfWeek?)>
<!ELEMENT SaturdayDeliveryIndicator EMPTY>
<!ELEMENT SaturdayDeliveryCharge (CurrencyCode?, MonetaryValue)>
<!ELEMENT SaturdayPickupIndicator EMPTY>
<!ELEMENT SaturdayPickupCharge (CurrencyCode?, MonetaryValue)>
<!ELEMENT Schedule (PickupDay?, Method?)>
<!ELEMENT ScheduledDeliveryDate (#PCDATA)>
<!ELEMENT ScheduledDeliveryTime (#PCDATA)>
<!ELEMENT ScheduledPickupDate (Date)>
<!ELEMENT SearchRadius (#PCDATA)>
<!ELEMENT SearchResults (GeocodeCandidate+ | (Disclaimer?, DropLocation+, MapNavigation?, DrivingDirection*))>
<!ELEMENT Segment (#PCDATA)>
<!ELEMENT SequenceNumber (#PCDATA)>
<!ELEMENT Service (Code, Description?)>
<!ELEMENT ServiceOptionsCharges (CurrencyCode?, MonetaryValue)>
<!ELEMENT ServiceSearch (Time?, GroundIndicator?, AirIndicator?, SaturdayPickupIndicator?)>
<!ELEMENT ShipCandidate (Address)>
<!ELEMENT ShipFrom (CompanyName?, AttentionName?, PhoneNumber?, FaxNumber?, EMailAddress?, Address?)>
<!ELEMENT ShipTo (ShipperAssignedIdentificationNumber?, CompanyName?, AttentionName?, PhoneNumber?, TaxIdentificationNumber?, FaxNumber?, EMailAddress?, Address?, LocationID?)>
<!ELEMENT Shipment (Description?, Shipper, ShipTo, ShipFrom?, SoldTo?, DeliveryZone?, ShipmentWeight?, PaymentInformation?, ShipmentIdentificationNumber?, ReferenceNumber*, Service?, PickupDate?, ScheduledDeliveryDate?, ScheduledDeliveryTime?, AlternateDeliveryTime?, AlternateDeliveryDate?, ReturnService?, InvoiceLineTotal?, DocumentsOnly?, Package+, ShipmentServiceOptions?, HandlingCharge?)>
<!ELEMENT ShipmentCharges (TransportationCharges, ServiceOptionsCharges, ItemizedShipmentCharges?, HandlingChargeAmount?, TotalCharges)>
<!ELEMENT ShipmentDigest (#PCDATA)>
<!ELEMENT ShipmentIdentificationNumber (#PCDATA)>
<!ELEMENT ShipmentInsuredValue (CurrencyCode?, MonetaryValue)>
<!ELEMENT ShipmentNotification (NotificationCode?, AttentionName?, CompanyName?, FaxDestination?, EMailMessage?, PhoneNumber?, Memo?)>
<!ELEMENT ShipmentNotificationCharge (CurrencyCode?, MonetaryValue)>
<!ELEMENT ShipmentResults (DeliveryZone?, ShipmentCharges?, BillingWeight, ShipmentIdentificationNumber, ControlLogReceipt?, PackageResults+)>
<!ELEMENT ShipmentSEDCASNumber (#PCDATA)>
<!ELEMENT ShipmentServiceOptions (SaturdayPickup?, SaturdayDelivery?, OnCallAir?, CallTagARS?, ShipmentNotification*, Hundredweight?, COD?, LabelDelivery?, Notification*, CustomsInvoice?)>
<!-- ShipmentNotification, within ShipmentServiceOptions is flagged for deprication-->
<!ELEMENT ShipmentWeight (UnitOfMeasurement?, Weight)>
<!ELEMENT Shipper (Name?, AttentionName?, TaxIdentificationNumber?, PhoneNumber?, FaxNumber?, ShipperNumber?, EMailAddress?, Address?)>
<!ELEMENT ShipperAccount (ShipperNumber, PickupPostalCode, PickupCountryCode, AccountName)>
<!ELEMENT ShipperAssignedIdentificationNumber (#PCDATA)>
<!ELEMENT ShipperExportDeclarationIndicator EMPTY>
<!ELEMENT ShipperExportDeclarationCode (#PCDATA)>
<!ELEMENT ShipperExportDeclarationLineAmount (#PCDATA)>
<!ELEMENT ShipperInformation (ShipperNumber, ShipperProperty*)>
<!ELEMENT ShipperNumber (#PCDATA)>
<!ELEMENT ShipperProperty (Name, Value?)>
<!ELEMENT ShipperQuery (ShipperNumber, ShipperProperty*)>
<!ELEMENT ShipperReleaseIndicator EMPTY>
<!ELEMENT SignatureImage (ImageFormat, GraphicImage)>
<!ELEMENT SignatureRequiredIndicator EMPTY>
<!ELEMENT SignedForByName (#PCDATA)>
<!ELEMENT SLIC (#PCDATA)>
<!ELEMENT SoftwareInstaller (#PCDATA)>
<!ELEMENT SoftwareProductName (#PCDATA)>
<!ELEMENT SoftwareProvider (#PCDATA)>
<!ELEMENT SoftwareVersionNumber (#PCDATA)>
<!ELEMENT SoldTo (CompanyName, TaxIdentificationNumber?, Address, PhoneNumber?)>
<!ELEMENT SpecialInstructions (Segment+)>
<!ELEMENT StandardHoursOfOperation (#PCDATA)>
<!ELEMENT StateProvinceCode (#PCDATA)>
<!ELEMENT Status (StatusType, StatusCode?)>
<!ELEMENT StatusCode (Code, Description?)>
<!ELEMENT StatusType (Code, Description?)>
<!ELEMENT StopSequenceNumber (#PCDATA)>
<!ELEMENT StreetName (#PCDATA)>
<!ELEMENT StreetNumberLow (#PCDATA)>
<!ELEMENT StreetNumberHigh (#PCDATA)>
<!ELEMENT StreetNumberOddEven (%OddEvenChoices;)>
<!ELEMENT StreetPrefix (#PCDATA)>
<!ELEMENT StreetSuffix (#PCDATA)>
<!ELEMENT StreetType (#PCDATA)>
<!ELEMENT StructuredPhoneNumber (PhoneCountryCode?, PhoneDialPlanNumber, PhoneLineNumber, PhoneExtension?)>
<!ELEMENT Subject (#PCDATA)>
<!ELEMENT SubjectCode (#PCDATA)>
<!ELEMENT SubTotal (CurrencyCode?, MonetaryValue)>
<!ELEMENT SuiteRoomID (#PCDATA)>
<!ELEMENT ServiceSummary (Service, Guaranteed*, Disclaimer*, EstimatedArrival)>
<!ELEMENT TaxIdentificationNumber (#PCDATA)>
<!ELEMENT TermsOfShipment (#PCDATA)>
<!ELEMENT TextToSpeechIndicator EMPTY>
<!ELEMENT ThirdParty (CompanyName?, AttentionName?, PhoneNumber?, FaxDestination?, Address, TaxIdentificationNumber?)>
<!ELEMENT Time (#PCDATA)>
<!ELEMENT Title (#PCDATA)>
<!ELEMENT TokenFormatIndicator EMPTY>
<!ELEMENT Total (#PCDATA)>
<!ELEMENT TotalAmount (#PCDATA)>
<!ELEMENT TotalCharges (CurrencyCode?, MonetaryValue)>
<!ELEMENT TotalDistance (Distance)>
<!ELEMENT TotalPackageCharges (CurrencyCode?, MonetaryValue)>
<!ELEMENT TotalCost (CurrencyCode?, MonetaryValue)>
<!ELEMENT TotalInvoiceAmount (#PCDATA)>
<!ELEMENT TotalPackagesDelivered (#PCDATA)>
<!ELEMENT TotalPackagesInShipment (#PCDATA)>
<!ELEMENT TotalShipments (#PCDATA)>
<!ELEMENT TotalTime (#PCDATA)>
<!ELEMENT TotalTransitDays (#PCDATA)>
<!ELEMENT TrackingCandidate (TrackingNumber, DestinationPostalCode?, DestinationCountryCode?, PickupDateRange?)>
<!ELEMENT TrackingNumber (#PCDATA)>
<!ELEMENT TradeAgreementType (#PCDATA)>
<!ELEMENT TransactionID (#PCDATA)>
<!ELEMENT Translate (LanguageCode, DialectCode?, Code*)>
<!ELEMENT TransitFrom (%FlexAddress;)>
<!ELEMENT TransitFromList (Candidate+)>
<!ELEMENT TransitResponse (PickupDate, TransitFrom, TransitTo, DocumentsOnlyIndicator?, AutoDutyCode?, ShipmentWeight?, InvoiceLineTotal?, Disclaimer*, ServiceSummary*, MaximumListSize?)>
<!ELEMENT TransitTo (%FlexAddress;)>
<!ELEMENT TransitToList (Candidate+)>
<!ELEMENT TransportationCharges (CurrencyCode?, MonetaryValue)>
<!ELEMENT Type (#PCDATA)>
<!ELEMENT TypeDestinationCode (#PCDATA)>
<!ELEMENT UltimateDestinationCountryCode (#PCDATA)>
<!ELEMENT UndeliverableEMailAddress (#PCDATA)>
<!ELEMENT UniquePackageIdentifier (SLIC?, CountryCode?, InformationSourceCode?, LoopPositionNumber?, GroupNumber?, StopSequenceNumber?, PackageSequenceNumber?, PackageActivityStatusCode?)>
<!ELEMENT UnitOfMeasurement (Code, Description?)>
<!ELEMENT UPSCentersIndicator EMPTY>
<!ELEMENT UPSDesignatedIndicator EMPTY>
<!ELEMENT UPSLetterCentersIndicator EMPTY>
<!ELEMENT UPSPreferredAddress (%AddressArtifacts;)>
<!ELEMENT Urbanization (#PCDATA)>
<!ELEMENT URL (#PCDATA)>
<!ELEMENT UserInput (#PCDATA)>
<!ELEMENT UserName (#PCDATA)>
<!ELEMENT UTCSign (#PCDATA)>
<!ELEMENT ValidAddressIndicator EMPTY>
<!ELEMENT ValidationRulesOnlyIndicator EMPTY>
<!ELEMENT Value (#PCDATA)>
<!ELEMENT VerbalConfirmation (ContactInfo?, Name?, PhoneNumber?)>
<!ELEMENT VerbalConfirmationCharge (CurrencyCode?, MonetaryValue)>
<!ELEMENT Version (#PCDATA)>
<!ELEMENT VoidIndicator EMPTY>
<!ELEMENT WaybillNumber (#PCDATA)>
<!ELEMENT WayBillPrintIndicator EMPTY>
<!ELEMENT Weight (#PCDATA)>
<!ELEMENT Width (#PCDATA)>
<!ELEMENT WillCall (Date, DayOfWeek?)>
<!ELEMENT WillCallSearch (SLIC, PostcodePrimaryLow, CountryCode)>
<!ELEMENT YCoordinate (#PCDATA)>
<!ELEMENT XCoordinate (#PCDATA)>
<!ELEMENT ZoomFactor (#PCDATA)>
<!ELEMENT Town (#PCDATA)>
<!ELEMENT DialectCode (#PCDATA)>
<!ELEMENT ResendEMailIndicator EMPTY>
<!ELEMENT UPSGoldShieldIndicator (#PCDATA)>
<!ELEMENT PickupDay (#PCDATA)>
