xml/tests/testData/xml/ResolvingEntitiesInDtd/XpciInterchange.dtd

<?xml version='1.0' encoding='UTF-8' ?>

<!--Generated by XML Authority-->

<!-- Xpci Static Release Information -->
<!-- Change History  10/21/2000 By Hal Trebes - Updated Interchange Version to 1.0001 to reflect new vocabulary entries made under this version -->
<!-- Change History 02/09/01 By Stephanie Weaver - Update Interchange Version 1.0002 to allow for upcoming Production Release, IntegrationIndicator optional element was added to the Request Element-->
<!ELEMENT XpciVersion (#PCDATA)>

<!--<!ATTLIST XpciVersion  Version CDATA  #FIXED '1.0001' >
-->
<!ELEMENT AccessLicenseNumber (#PCDATA)>

<!ELEMENT AccessLicenseText (#PCDATA)>

<!ELEMENT CustomerContext EMPTY>

<!ELEMENT Error (ErrorSeverity , ErrorCode , ErrorDescription? , MinimumRetrySeconds? , ErrorLocation* , ErrorDigest*)>

<!ELEMENT ErrorCode (#PCDATA)>

<!ELEMENT ErrorDescription (#PCDATA)>

<!ELEMENT ErrorDigest (#PCDATA)>

<!ELEMENT ErrorLocation (ErrorLocationElementName? , ErrorLocationElementReference? , ErrorLocationAttributeName?)>

<!ELEMENT ErrorLocationAttributeName (#PCDATA)>

<!ELEMENT ErrorLocationElementReference (#PCDATA)>

<!ELEMENT ErrorLocationElementName (#PCDATA)>

<!ELEMENT ErrorSeverity (#PCDATA)>

<!ELEMENT IntegrationIndicator EMPTY>

<!ELEMENT MinimumRetrySeconds (#PCDATA)>

<!ELEMENT OnLineTool (ToolID , ToolVersion)>

<!ELEMENT Password (#PCDATA)>

<!ELEMENT Request (TransactionReference? , RequestAction , RequestOption* , IntegrationIndicator?)>

<!ELEMENT RequestAction (#PCDATA)>

<!ELEMENT RequestOption (#PCDATA)>

<!ELEMENT Response (TransactionReference? , ResponseStatusCode , ResponseStatusDescription? , Error*)>

<!ELEMENT ResponseStatusCode (#PCDATA)>

<!ELEMENT ResponseStatusDescription (#PCDATA)>

<!ELEMENT ToolID (#PCDATA)>

<!ELEMENT ToolVersion (#PCDATA)>

<!ELEMENT TransactionReference (CustomerContext? , XpciVersion? , ToolVersion?)>

<!ELEMENT UserId (#PCDATA)>

