xml/tests/testData/completion/InheritedAttr/library.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           targetNamespace="http://library"
           xmlns:library="http://library"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="bar" type='library:barType'/>
  <xs:complexType name="barType">
    <xs:attribute type='xs:string' name="buz"/>
    <xs:anyAttribute namespace="##any"/>
  </xs:complexType>
    <xs:attribute type='xs:string' name="boo"/>
</xs:schema>