xml/tests/testData/psi/resolve/schema/Company.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                      targetNamespace="http://www.company.org"
                      xmlns="http://www.company.org" 
                      elementFormDefault="qualified">
    <xsd:include schemaLocation="Product.xsd"/>
    <xsd:element name="Company">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Person" type="xsd:string" maxOccurs="unbounded"/>
                <xsd:element name="Product" type="ProductType" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
