plugins/relaxng/testData/highlighting/rng/backward-include-def.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0" ns="backward-include-def.rng">

  <include href="backward-include-ref.rng" />

  <start>
    <element name="t">
      <ref name="foo" />
    </element>
  </start>

  <define name="foo">
    <element name="foo">
      <ref name="backward" />
    </element>
  </define>

  <define name="backward">
    <element name="x"><empty /></element>
  </define>
</grammar>