plugins/relaxng/testData/highlighting/rng/ref-3.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0" ns="urn:test:simple.rng">

  <start>
    <ref name="target1" />
  </start>

  <div>
    <define name="target1">
      <element name="a"><empty /></element>
    </define>
  </div>

  <div>
    <define name="target2">
      <ref name="target1" />
    </define>
  </div>
</grammar>