platform/platform-resources/src/idea/ApplicationInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://jetbrains.org/intellij/schema/application-info" xmlns="http://jetbrains.org/intellij/schema/application-info">
  <xs:element name="component">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="versionType" name="version"/>
        <xs:element type="companyType" name="company"/>
        <xs:element type="buildType" name="build"/>
        <xs:element type="logoType" name="logo"/>
        <xs:element type="logoType" name="logo-eap" minOccurs="0"/>
        <xs:element type="aboutType" name="about" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Obsolete: the graphical "About" dialog is not used since 2020.1.
            </xs:documentation>
            <xs:documentation>deprecated</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="iconType" name="icon"/>
        <xs:element type="iconEapType" name="icon-eap" minOccurs="0"/>
        <xs:element type="licenseeType" name="licensee" minOccurs="0"/>
        <xs:element type="namesType" name="names"/>
        <xs:element type="productUrlType" name="productUrl" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Deprecated: override ExternalProductResourceUrls.downloadPageUrl instead.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="essentialPluginType" name="essential-plugin" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element type="welcome-screenType" name="welcome-screen" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Obsolete: use '//icon@svg' attribute instead ('ApplicationInfoEx#getApplicationSvgIconUrl').
            </xs:documentation>
            <xs:documentation>deprecated</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="welcome-wizardType" name="welcome-wizard" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Deprecated and no longer used since 2023.2.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="pluginsPageType" name="plugins-page" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>
              Deprecated and no longer used since 2019.2.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="editorType" name="editor" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Deprecated and no longer used by the IDE.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="pluginsType" name="plugins" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Specifies custom URLs used by the IDE to search and install plugins. By default, JetBrains Marketplace (https://plugins.jetbrains.com)
              is used.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="update-urlsType" name="update-urls" minOccurs="0"/>
        <xs:element type="helpType" name="help" minOccurs="0"/>
        <xs:element type="urlType" name="documentation" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Deprecated: override ExternalProductResourceUrls.gettingStartedPageUrl instead.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="urlType" name="support" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Deprecated: override ExternalProductResourceUrls.technicalSupportUrl instead.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="urlType" name="youtrack" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Deprecated: override ExternalProductResourceUrls.bugReportUrl instead.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="zendeskFormType" name="feedback" minOccurs="0"/>
        <xs:element type="whatsNewUrlType" name="whatsnew" minOccurs="0"/>
        <xs:element type="keymapType" name="keymap" minOccurs="0"/>
        <xs:element type="urlType" name="jetbrains-tv" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Deprecated: override ExternalProductResourceUrls.youTubeChannelUrl instead.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="subscriptionsType" name="subscriptions" minOccurs="0"/>
        <xs:element type="statisticsType" name="statistics" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Deprecated: is not used by the IDE.
            </xs:documentation>
            <xs:documentation>deprecated</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="default-lafType" name="default-laf" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="versionType">
    <xs:attribute type="xs:positiveInteger" name="major" use="required"/>
    <xs:attribute type="xs:string" name="minor" use="required"/>
    <xs:attribute type="xs:string" name="micro"/>
    <xs:attribute type="xs:string" name="patch"/>
    <xs:attribute type="xs:string" name="full"/>
    <xs:attribute type="xs:string" name="codename"/>
    <xs:attribute type="xs:boolean" name="eap"/>
    <xs:attribute type="xs:string" name="suffix">
      <xs:annotation>
        <xs:documentation>
          Specifies a type of this version which should be shown in UI after the version number separated by space.
          This value is used for presentation only, so it may contain an arbitrary string (e.g. "EAP", "Beta", "Preview", "RC").
          If it's omitted and 'eap' attribute is 'true', "EAP" suffix will be used.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="namesType">
    <xs:attribute type="xs:string" name="product">
      <xs:annotation>
        <xs:documentation>
          Shortened name of the product if the full name contains two words (e.g. "IDEA" for IntelliJ IDEA).
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" name="fullname">
      <xs:annotation>
        <xs:documentation>
          Name of the product without vendor name (e.g. "IntelliJ IDEA").
          May be omitted if same as the @product attribute.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" name="edition">
      <xs:annotation>
        <xs:documentation>
          Edition of the product if applicable (e.g. "Community Edition", "Professional Edition", etc.).
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" name="script">
      <xs:annotation>
        <xs:documentation>
          The base name (i.e., a name without the extension and architecture suffix)
          of launcher files (bin/xxx64.exe, bin/xxx.bat, bin/xxx.sh, macOS/xxx),
          usually a short product name in lower case (e.g. "idea").
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" name="motto">
      <xs:annotation>
        <xs:documentation>
          Motto of the product.
          Used as a comment for a desktop entry on XDG-compliant systems (read "Linux").
          Default is "The Drive to Develop".
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="productUrlType">
    <xs:attribute type="xs:anyURI" name="url" use="required"/>
  </xs:complexType>
  <xs:complexType name="companyType">
    <xs:attribute type="xs:string" name="name" use="required">
      <xs:annotation>
        <xs:documentation>
          Full name of the product vendor, e.g. "JetBrains s.r.o." for JetBrains products.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" name="url"/>
    <xs:attribute type="xs:string" name="shortName">
      <xs:annotation>
        <xs:documentation>
          Shortened name of the product vendor without "Inc." or similar suffixes, e.g. "JetBrains" for JetBrains products.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" name="copyrightStart">
      <xs:annotation>
        <xs:documentation>
          Year of first publication of the product protected by copyright.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="buildType">
    <xs:attribute type="xs:string" name="number" use="required">
      <xs:annotation>
        <xs:documentation>
          Specifies the full build number in format '&lt;product code&gt;-__BUILD__'. &lt;product code&gt; is a unique product code
          (e.g., IU for IntelliJ IDEA Ultimate Edition, IC for IntelliJ IDEA Community Edition), and __BUILD__ is a placeholder
          that will be replaced by the real build number (two or more numbers separated by dots) by the build scripts.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" name="apiVersion">
      <xs:annotation>
        <xs:documentation>
          This attribute allows setting an alternative build number which will be used instead the real one to detect compatible plugins.
          Since 162+, it is recommended to use composite build numbers instead, i.e., take the build number of IntelliJ sources
          the product is based on and append a sequential counter to it.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" name="date">
      <xs:annotation>
        <xs:documentation>
          In sources this attribute should be set to __BUILD_DATE__ placeholder which is replaced by real build number
          (date and UTC time in 'yyyyMMddHHmm' format) by the build scripts.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" name="majorReleaseDate">
      <xs:annotation>
        <xs:documentation>
          Date when the current major version was firstly released, in yyyyMMdd format.
          It is used to determine if a user has a valid subscription.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="logoType">
    <xs:annotation>
      <xs:documentation>
        Describes the splash screen which is shown when the product is starting.
      </xs:documentation>
    </xs:annotation>
    <xs:attribute type="xs:string" name="url" use="required">
      <xs:annotation>
        <xs:documentation>
          Path inside a JAR file (in PRODUCT_HOME/lib directory) to a file with the splash screen image.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="aboutType">
    <xs:attribute type="xs:string" name="url" use="required">
      <xs:annotation>
        <xs:documentation>Obsolete.</xs:documentation>
        <xs:documentation>deprecated</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" name="foreground">
      <xs:annotation>
        <xs:documentation>Obsolete.</xs:documentation>
        <xs:documentation>deprecated</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" name="copyrightForeground">
      <xs:annotation>
        <xs:documentation>Obsolete.</xs:documentation>
        <xs:documentation>deprecated</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" name="linkColor">
      <xs:annotation>
        <xs:documentation>Obsolete.</xs:documentation>
        <xs:documentation>deprecated</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:int" name="logoX">
      <xs:annotation>
        <xs:documentation>Obsolete.</xs:documentation>
        <xs:documentation>deprecated</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:int" name="logoY">
      <xs:annotation>
        <xs:documentation>Obsolete.</xs:documentation>
        <xs:documentation>deprecated</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:int" name="logoW">
      <xs:annotation>
        <xs:documentation>Obsolete.</xs:documentation>
        <xs:documentation>deprecated</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:int" name="logoH">
      <xs:annotation>
        <xs:documentation>Obsolete.</xs:documentation>
        <xs:documentation>deprecated</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="iconType">
    <xs:annotation>
      <xs:documentation>
        Specifies paths inside a JAR file (in PRODUCT_HOME/lib directory) to image files which contain the product icon.
      </xs:documentation>
    </xs:annotation>
    <xs:attribute type="xs:string" name="size12">
      <xs:annotation>
        <xs:documentation>
          Path to a 12x12 png file with the product icon which will be used for 'Project View' tool window.
          <strong>Deprecated:</strong> it's not recommended to use product-specific icon for Project View. Omit this attribute and the standard
          'directory' icon (toolwindows/toolWindowProject.svg) will be used.
        </xs:documentation>
        <xs:documentation>deprecated</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" name="size16">
      <xs:annotation>
        <xs:documentation>
          Path to a 16x16 png file with the product icon.
          <strong>Deprecated: use 'svg-small' attribute instead.</strong>
        </xs:documentation>
        <xs:documentation>deprecated</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" name="ico">
      <xs:annotation>
        <xs:documentation>
          Path to an ico file with the product icon.
          <strong>Deprecated:</strong> unused for a long time (if ever).
        </xs:documentation>
        <xs:documentation>deprecated</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" name="svg" use="required">
      <xs:annotation>
        <xs:documentation>
          Path to an SVG file containing the product icon.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" name="svg-small" use="required">
      <xs:annotation>
        <xs:documentation>
          Path to an SVG file containing the product icon which looks good when shown as 16x16 image.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="iconEapType">
    <xs:attribute type="xs:string" name="svg" use="required">
      <xs:annotation>
        <xs:documentation>
          Path to an SVG file containing the icon for an EAP version of the product.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" name="svg-small">
      <xs:annotation>
        <xs:documentation>
          Path to an SVG file containing the icon for an EAP version of the product which looks good when shown as 16x16 image.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="licenseeType">
    <xs:attribute type="xs:boolean" name="show">
      <xs:annotation>
        <xs:documentation>
          Deprecated: information about licensee is never shown on the splash screen (for faster loading)
        </xs:documentation>
        <xs:documentation>deprecated</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="essentialPluginType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:annotation>
          <xs:documentation>
            Specifies ID of a plugin which is essential part of the IDE,
            so it cannot be disabled and shouldn't be shown in Settings | Plugins.
          </xs:documentation>
        </xs:annotation>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="welcome-screenType">
    <xs:attribute type="xs:string" name="logo-url" use="required"/>
  </xs:complexType>
  <xs:complexType name="welcome-wizardType">
    <xs:attribute type="xs:string" name="dialog" use="required" />
  </xs:complexType>
  <xs:complexType name="editorType">
    <xs:attribute type="xs:string" name="background-url" use="required"/>
  </xs:complexType>
  <xs:complexType name="helpType">
    <xs:attribute type="xs:string" name="file">
      <xs:annotation>
        <xs:documentation>
          <strong>Deprecated: JavaHelp isn't used anymore, specify 'webhelp-url' attribute instead.</strong>
        </xs:documentation>
        <xs:documentation>deprecated</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" name="root">
      <xs:annotation>
        <xs:documentation>
          <strong>Deprecated: JavaHelp isn't used anymore, specify 'webhelp-url' attribute instead.</strong>
        </xs:documentation>
        <xs:documentation>deprecated</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" name="webhelp-url">
      <xs:annotation>
        <xs:documentation>
          Deprecated: override ExternalProductResourceUrls.helpPageUrl instead.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:boolean" name="has-help"/>
    <xs:attribute type="xs:boolean" name="has-context-help"/>
  </xs:complexType>
  <xs:complexType name="update-urlsType">
    <xs:attribute type="xs:anyURI" name="check">
      <xs:annotation>
        <xs:documentation>
          Deprecated: override ExternalProductResourceUrls.updateMetadataUrl instead. 
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:anyURI" name="patches">
      <xs:annotation>
        <xs:documentation>
          Deprecated: override ExternalProductResourceUrls.computePatchUrl instead.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="urlType">
    <xs:attribute type="xs:string" name="url" use="required"/>
  </xs:complexType>
  <xs:complexType name="whatsNewUrlType">
    <xs:attribute type="xs:anyURI" name="url">
      <xs:annotation>
        <xs:documentation>
          Deprecated: override ExternalProductResourceUrls.whatIsNewPageUrl instead. 
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:boolean" name="show-on-update">
      <xs:annotation>
        <xs:documentation>
          Deprecated: override UpdateStrategyCustomization.showWhatIsNewPageAfterUpdate instead. 
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="whatsNewEligibilityType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="embed"/>
      <xs:enumeration value="auto"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="pluginsType">
    <xs:attribute type="xs:anyURI" name="url">
      <xs:annotation>
        <xs:documentation>
          URL of the main plugin repository used by the IDE. By default, JetBrains Marketplace URL is used (https://plugins.jetbrains.com).
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" name="list-url"/>
    <xs:attribute type="xs:string" name="channel-list-url">
      <xs:annotation>
        <xs:documentation>
          Deprecated and no longer used by the IDE.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" name="download-url"/>
    <xs:attribute type="xs:string" name="builtin-url">
      <xs:annotation>
        <xs:documentation>
          Deprecated since 2023.3. 
          Use 'intellij.plugins.custom.built.in.repository.url' system property to pass URL of built-in custom plugin repository instead.
        </xs:documentation>
        <xs:documentation>deprecated</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="keymapType">
    <xs:attribute type="xs:string" name="win" use="required"/>
    <xs:attribute type="xs:string" name="mac" use="required"/>
  </xs:complexType>
  <xs:complexType name="subscriptionsType">
    <xs:attribute type="xs:string" name="formid"/>
    <xs:attribute type="xs:string" name="news-key">
      <xs:annotation>
        <xs:documentation>
          Deprecated: is not used by the IDE since 2021.2.
        </xs:documentation>
        <xs:documentation>deprecated</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" name="news-value">
      <xs:annotation>
        <xs:documentation>
          Deprecated: is not used by the IDE since 2021.2.
        </xs:documentation>
        <xs:documentation>deprecated</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" name="tips-key">
      <xs:annotation>
        <xs:documentation>
          Deprecated: is not used by the IDE since 2021.2.
        </xs:documentation>
        <xs:documentation>deprecated</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:boolean" name="tips-available"/>
    <xs:attribute type="xs:string" name="additional-form-data">
      <xs:annotation>
        <xs:documentation>
          Deprecated: is not used by the IDE since 2021.2.
        </xs:documentation>
        <xs:documentation>deprecated</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="pluginsPageType">
    <xs:attribute type="xs:string" name="title" use="required"/>
    <xs:attribute type="xs:string" name="category"/>
    <xs:attribute type="xs:string" name="depends"/>
  </xs:complexType>
  <xs:complexType name="statisticsType">
    <xs:attribute type="xs:string" name="settings">
      <xs:annotation>
        <xs:documentation>
          Deprecated: is not used by the IDE.
        </xs:documentation>
        <xs:documentation>deprecated</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" name="service">
      <xs:annotation>
        <xs:documentation>
          Deprecated: is not used by the IDE.
        </xs:documentation>
        <xs:documentation>deprecated</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" name="service-key">
      <xs:annotation>
        <xs:documentation>
          Deprecated: is not used by the IDE.
        </xs:documentation>
        <xs:documentation>deprecated</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" name="fus-settings">
      <xs:annotation>
        <xs:documentation>
          Deprecated: is not used by the IDE.
        </xs:documentation>
        <xs:documentation>deprecated</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" name="event-log-settings">
      <xs:annotation>
        <xs:documentation>
          Deprecated: is not used by the IDE.
        </xs:documentation>
        <xs:documentation>deprecated</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="default-lafType">
    <xs:attribute type="xs:string" name="light"/>
    <xs:attribute type="xs:string" name="dark"/>
    <xs:attribute type="xs:string" name="light-classic"/>
    <xs:attribute type="xs:string" name="dark-classic"/>
  </xs:complexType>
  <xs:complexType name="zendeskFormType">
    <xs:sequence>
      <xs:element name="field" type="zendeskFieldType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Deprecated and no longer used since 2023.3, override ExternalProductResourceUrls::feedbackReporter instead.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="url">
      <xs:annotation>
        <xs:documentation>
          Deprecated: override FeedbackReporter.feedbackFormUrl instead.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" name="zendesk-form-id">
      <xs:annotation>
        <xs:documentation>
          Deprecated and no longer used since 2023.3, override ExternalProductResourceUrls::feedbackReporter instead.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" name="zendesk-url">
      <xs:annotation>
        <xs:documentation>
          Deprecated and no longer used since 2023.3, override ExternalProductResourceUrls::feedbackReporter instead.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="zendeskFieldType">
    <xs:attribute type="xs:long" name="id" use="required"/>
    <xs:attribute type="xs:string" name="type"/>
    <xs:attribute type="xs:string" name="value"/>
  </xs:complexType>
</xs:schema>
