platform/platform-resources/src/idea/ApplicationInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://jetbrains.org/intellij/schema/application-info" xmlns="http://jetbrains.org/intellij/schema/application-info">
  <xs:element name="component">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="versionType" name="version"/>
        <xs:element type="companyType" name="company"/>
        <xs:element type="buildType" name="build"/>
        <xs:element type="logoType" name="logo"/>
        <xs:element type="aboutType" name="about"/>
        <xs:element type="iconType" name="icon"/>
        <xs:element type="packageType" name="package" minOccurs="0"/>
        <xs:element type="licenseeType" name="licensee" minOccurs="0"/>
        <xs:element type="namesType" name="names"/>
        <xs:element name="essential-plugin" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string"/>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element type="welcome-screenType" name="welcome-screen"/>
        <xs:element type="customize-ide-wizardType" name="customize-ide-wizard" minOccurs="0"/>
        <xs:element type="pluginsPageType" name="plugins-page" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element type="editorType" name="editor" minOccurs="0"/>
        <xs:element type="pluginsType" name="plugins" minOccurs="0"/>
        <xs:element type="evaluationType" name="evaluation" minOccurs="0"/>
        <xs:element type="update-urlsType" name="update-urls" minOccurs="0"/>
        <xs:element type="helpType" name="help" minOccurs="0"/>
        <xs:element type="urlType" name="documentation" minOccurs="0"/>
        <xs:element type="urlType" name="support" minOccurs="0"/>
        <xs:element type="feedbackType" name="feedback" minOccurs="0"/>
        <xs:element type="urlType" name="whatsnew" minOccurs="0"/>
        <xs:element type="keymapType" name="keymap" minOccurs="0"/>
        <xs:element type="urlType" name="third-party" minOccurs="0"/>
        <xs:element type="urlType" name="jetbrains-tv" minOccurs="0"/>
        <xs:element type="subscriptionsType" name="subscriptions" minOccurs="0"/>
        <xs:element type="statisticsType" name="statistics" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="versionType">
    <xs:attribute type="xs:string" name="major" use="required"/>
    <xs:attribute type="xs:string" name="minor" use="required"/>
    <xs:attribute type="xs:string" name="micro"/>
    <xs:attribute type="xs:string" name="patch"/>
    <xs:attribute type="xs:string" name="full"/>
    <xs:attribute type="xs:string" name="codename"/>
    <xs:attribute type="xs:boolean" name="eap"/>
  </xs:complexType>
  <xs:complexType name="namesType">
    <xs:attribute type="xs:string" name="product">
      <xs:annotation>
        <xs:documentation>
          Shortened name of the product if the full name contains two words (e.g. "IDEA" for IntelliJ IDEA).
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" name="fullname">
      <xs:annotation>
        <xs:documentation>
          Name of the product without vendor name (e.g. "IntelliJ IDEA").
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" name="script">
      <xs:annotation>
        <xs:documentation>
          Base name of the script files (*.exe, *.bat, *.sh) from the product 'bin' directory without extension.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" name="default-launcher-name">
      <xs:annotation>
        <xs:documentation>
          Default name of the command-line launcher to be suggested in 'Create Launcher Script' dialog.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="companyType">
    <xs:attribute type="xs:string" name="name" use="required">
      <xs:annotation>
        <xs:documentation>
          Full name of the product vendor, e.g. "JetBrains s.r.o." for JetBrains products.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" name="url"/>
    <xs:attribute type="xs:string" name="shortName">
      <xs:annotation>
        <xs:documentation>
          Shortened name of the product vendor without "Inc." or similar suffixes, e.g. "JetBrains" for JetBrains products.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="buildType">
    <xs:attribute type="xs:string" name="number" use="required"/>
    <xs:attribute type="xs:string" name="date"/>
    <xs:attribute type="xs:string" name="majorReleaseDate"/>
  </xs:complexType>
  <xs:complexType name="logoType">
    <xs:attribute type="xs:string" name="url" use="required"/>
    <xs:attribute type="xs:string" name="textcolor" use="required"/>
    <xs:attribute type="xs:string" name="progressColor"/>
    <xs:attribute type="xs:int" name="progressX"/>
    <xs:attribute type="xs:int" name="progressY"/>
    <xs:attribute type="xs:int" name="progressHeight"/>
    <xs:attribute type="xs:string" name="progressTailIcon"/>
    <xs:attribute type="xs:int" name="licenseOffsetY"/>
  </xs:complexType>
  <xs:complexType name="aboutType">
    <xs:attribute type="xs:string" name="url" use="required"/>
    <xs:attribute type="xs:string" name="foreground"/>
    <xs:attribute type="xs:string" name="copyrightForeground"/>
    <xs:attribute type="xs:string" name="linkColor"/>
    <xs:attribute type="xs:int" name="logoX"/>
    <xs:attribute type="xs:int" name="logoY"/>
    <xs:attribute type="xs:int" name="logoW"/>
    <xs:attribute type="xs:int" name="logoH"/>
  </xs:complexType>
  <xs:complexType name="iconType">
    <xs:attribute type="xs:string" name="size12"/>
    <xs:attribute type="xs:string" name="size16"/>
    <xs:attribute type="xs:string" name="size32"/>
    <xs:attribute type="xs:string" name="size128"/>
    <xs:attribute type="xs:string" name="ico"/>
  </xs:complexType>
  <xs:complexType name="packageType">
    <xs:attribute type="xs:string" name="code"/>
  </xs:complexType>
  <xs:complexType name="licenseeType">
    <xs:attribute type="xs:boolean" name="show"/>
  </xs:complexType>
  <xs:complexType name="welcome-screenType">
    <xs:attribute type="xs:string" name="logo-url" use="required"/>
  </xs:complexType>
  <xs:complexType name="customize-ide-wizardType">
    <xs:attribute type="xs:string" name="provider" use="required"/>
  </xs:complexType>
  <xs:complexType name="editorType">
    <xs:attribute type="xs:string" name="background-url" use="required"/>
  </xs:complexType>
  <xs:complexType name="helpType">
    <xs:attribute type="xs:string" name="file"/>
    <xs:attribute type="xs:string" name="root"/>
    <xs:attribute type="xs:string" name="webhelp-url"/>
    <xs:attribute type="xs:boolean" name="has-help"/>
    <xs:attribute type="xs:boolean" name="has-context-help"/>
  </xs:complexType>
  <xs:complexType name="update-urlsType">
    <xs:attribute type="xs:anyURI" name="check"/>
    <xs:attribute type="xs:anyURI" name="patches"/>
  </xs:complexType>
  <xs:complexType name="urlType">
    <xs:attribute type="xs:string" name="url" use="required"/>
  </xs:complexType>
  <xs:complexType name="pluginsType">
    <xs:attribute type="xs:anyURI" name="url"/>
    <xs:attribute type="xs:string" name="list-url"/>
    <xs:attribute type="xs:string" name="channel-list-url"/>
    <xs:attribute type="xs:string" name="download-url"/>
    <xs:attribute type="xs:string" name="builtin-url"/>
  </xs:complexType>
  <xs:complexType name="keymapType">
    <xs:attribute type="xs:string" name="win" use="required"/>
    <xs:attribute type="xs:string" name="mac" use="required"/>
  </xs:complexType>
  <xs:complexType name="evaluationType">
    <xs:attribute type="xs:string" name="license-url"/>
  </xs:complexType>
  <xs:complexType name="subscriptionsType">
    <xs:attribute type="xs:string" name="formid"/>
    <xs:attribute type="xs:string" name="news-key"/>
    <xs:attribute type="xs:string" name="news-value"/>
    <xs:attribute type="xs:string" name="tips-key"/>
    <xs:attribute type="xs:boolean" name="tips-available"/>
    <xs:attribute type="xs:string" name="additional-form-data"/>
  </xs:complexType>
  <xs:complexType name="feedbackType">
    <xs:attribute type="xs:string" name="eap-url"/>
    <xs:attribute type="xs:string" name="release-url"/>
  </xs:complexType>
  <xs:complexType name="pluginsPageType">
    <xs:attribute type="xs:string" name="title" use="required"/>
    <xs:attribute type="xs:string" name="category"/>
    <xs:attribute type="xs:string" name="depends"/>
  </xs:complexType>
  <xs:complexType name="statisticsType">
    <xs:attribute type="xs:string" name="settings"/>
    <xs:attribute type="xs:string" name="service"/>
    <xs:attribute type="xs:string" name="service-key"/>
  </xs:complexType>
</xs:schema>