xml/tests/testData/xml/DtdWithXsd/helptopic.xsd

<?xml version="1.0" encoding ="windows-1251"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="path">
        <xs:complexType mixed="false">
            <xs:attribute name="on" type="AccessPathType" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="tabs">
        <xs:complexType mixed="false">
            <xs:sequence maxOccurs="unbounded" minOccurs="0">
                <xs:element ref="tab" maxOccurs="unbounded" minOccurs="1"/>
            </xs:sequence>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="filter"/>
            <xs:attribute ref="include-id" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="tab">
        <xs:complexType mixed="true">
            <xs:group ref="ForElements" maxOccurs="unbounded" minOccurs="0"/>
            <xs:attribute name="title" type="xs:string" use="required"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="filter"/>
            <xs:attribute ref="include-id" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="access">
        <xs:complexType mixed="false">
            <xs:sequence maxOccurs="unbounded" minOccurs="0">
                <xs:element ref="var" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="menupath" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="shortcut" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="toolbar" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="br" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attribute name="style" type="AccessStyleType" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="for">
        <xs:complexType mixed="true">
            <xs:group ref="ForElements" minOccurs="0" maxOccurs="unbounded"/>
            <xs:attribute name="id" type="ProductTypeId" use="optional"/>
            <xs:attribute ref="filter" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="var">
        <xs:complexType mixed="false">
            <xs:attribute name="name" use="required" type="xs:string"/>
            <xs:attribute name="value" use="required" type="xs:string"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="keep-when-empty" default="yes"/>
            <xs:attribute ref="platform"/>
            <xs:attribute ref="filter"/>
        </xs:complexType>
    </xs:element>

    <xs:attribute name="include-id" type="xs:string"/>

    <xs:simpleType name="TopicOptionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
            <xs:enumeration value="inherit"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="index-keyword">
        <xs:complexType mixed="true">
            <xs:attribute name="product" type="xs:string" use="optional"/>
            <xs:attribute name="weight" type="xs:integer" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="library">
        <xs:complexType mixed="true">
            <xs:sequence maxOccurs="unbounded" minOccurs="0">
                <xs:group ref="ForElements" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="index-mode">
        <xs:complexType mixed="false">
            <xs:attribute name="mode" use="required" type="IndexModeType"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="topic">
        <xs:complexType mixed="false">
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="index-mode" maxOccurs="1" minOccurs="0"/>
                <xs:element ref="index-keyword" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="new" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="edition" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="header" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="content" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="seealso" maxOccurs="1" minOccurs="0"/>
                <xs:element ref="footer" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="var" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute ref="id" use="required"/>
            <xs:attribute name="title" use="optional" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="footer">
        <xs:complexType mixed="false">
            <xs:attribute name="feedback" type="YesNoType" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="header">
        <xs:complexType mixed="false">
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="HighLevelElements" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="intro" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>

        </xs:complexType>
    </xs:element>

    <xs:simpleType name="ProcedureListScopeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="all"/>
            <xs:enumeration value="child"/>
            <xs:enumeration value="descendant"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="procedure-list">
        <xs:complexType mixed="false">
            <xs:attribute name="scope" use="optional" type="ProcedureListScopeType"/>
            <xs:attribute ref="include-id"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="toc">
        <xs:complexType mixed="false">
            <xs:attribute name="section" use="optional" type="xs:string"/>
            <xs:attribute name="depth" use="optional" type="NumbersOnly"/>
            <xs:attribute name="previews" use="optional" type="YesNoType"/>
            <xs:attributeGroup ref="expandables"/>
            <xs:attribute ref="include-id"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attribute name="structure" type="OfTagNameType" use="optional"/>
            <xs:attribute name="show-structure-for" type="StructureScopeType" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="keyword">
        <xs:complexType mixed="true">
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="emphasis">
        <xs:complexType mixed="true">
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="category">
        <xs:complexType mixed="false">
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="anchor" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="link" minOccurs="1" maxOccurs="unbounded"/>
                <xs:element ref="chunk" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="include" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute ref="id" use="required"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attributeGroup ref="expandables"/>
            <xs:attribute ref="for" use="optional"/>
            <xs:attribute ref="sorted" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="value">
        <xs:complexType mixed="true">
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="ImageAlignType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="middle"/>
            <xs:enumeration value="top"/>
            <xs:enumeration value="bottom"/>
            <xs:enumeration value="none"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="YesNoType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="HiddenNewType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="none"/>
            <xs:enumeration value="link"/>
            <xs:enumeration value="marker"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PositionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="start"/>
            <xs:enumeration value="end"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="VerticalAlignType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="top"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="bottom"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="content">
        <xs:complexType mixed="false">
            <xs:group ref="HighLevelElements" minOccurs="0" maxOccurs="unbounded"/>
        </xs:complexType>
    </xs:element>

    <xs:attribute name="anchor" type="xs:string"/>

    <xs:element name="h1">
        <xs:complexType mixed="true">
            <xs:attribute ref="anchor" use="optional"/>
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
            <xs:attribute ref="caps"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="h2">
        <xs:complexType mixed="true">
            <xs:attribute ref="anchor" use="optional"/>
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
            <xs:attribute ref="caps"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="h3">
        <xs:complexType mixed="true">
            <xs:attribute ref="anchor" use="optional"/>
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
            <xs:attribute ref="caps"/>
        </xs:complexType>

    </xs:element>

    <xs:element name="h4">
        <xs:complexType mixed="true">
            <xs:attribute ref="anchor" use="optional"/>
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
            <xs:attribute ref="caps"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="h5">
        <xs:complexType mixed="true">
            <xs:attribute ref="anchor" use="optional"/>
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
            <xs:attribute ref="caps"/>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="TargetType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="_blank"/>
            <xs:enumeration value="_top"/>
            <xs:enumeration value="_parent"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="a">
        <xs:complexType mixed="true">
            <xs:attribute name="name" type="xs:string" use="prohibited"/>
            <xs:attribute name="href" type="xs:string" use="required"/>
            <xs:attribute name="target" type="TargetType" use="optional"/>
            <xs:attribute name="anchor" type="xs:string" use="optional"/>
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="b">
        <xs:complexType mixed="true">
            <xs:group ref="InlineElements" maxOccurs="unbounded" minOccurs="0"/>
            <xs:attributeGroup ref="expandables"/>
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="s">
        <xs:complexType mixed="true">
            <xs:group ref="InlineElements" maxOccurs="unbounded" minOccurs="0"/>
            <xs:attributeGroup ref="expandables"/>
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="i">
        <xs:complexType mixed="true">
            <xs:group ref="InlineElements" maxOccurs="unbounded" minOccurs="0"/>
            <xs:attributeGroup ref="expandables"/>
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="u">
        <xs:complexType mixed="true">
            <xs:group ref="InlineElements" maxOccurs="unbounded" minOccurs="0"/>
            <xs:attributeGroup ref="expandables"/>
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="annotation">
        <xs:complexType mixed="true">
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="intro">
        <xs:complexType mixed="false">
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="HighLevelElements" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attributeGroup ref="expandables"/>
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
        </xs:complexType>
    </xs:element>

    <xs:attribute name="id" type="xs:string"/>

    <xs:attribute name="use-when" type="xs:string"/>

    <xs:simpleType name="ScreenshotRenderModeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="separated"/>
            <xs:enumeration value="joined"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:attributeGroup name="imgTitleSet">
        <xs:attribute name="title" type="xs:string" use="optional"/>
        <xs:attribute name="usetitle" type="YesNoType" use="optional"/>
    </xs:attributeGroup>

    <xs:element name="img">
        <xs:complexType mixed="true">
            <xs:attribute name="src" use="required" type="xs:string"/>
            <xs:attribute name="alt" type="xs:string" use="optional"/>
            <xs:attribute name="width" type="xs:long" use="optional"/>
            <xs:attribute name="height" type="xs:long" use="optional"/>
            <xs:attribute name="type" type="ScreenshotRenderModeType" use="optional"/>
            <xs:attribute name="align" type="ImageAlignType" use="optional"/>
            <xs:attributeGroup ref="imgTitleSet"/>
            <xs:attribute name="thumbnail" type="YesNoType" use="optional"/>
            <xs:attribute name="scale" type="xs:integer" use="optional"/>
            <xs:attribute name="custom-popup-size" use="optional" type="CustomPopupSizeType"/>
            <xs:attribute ref="include-id"/>
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="yes"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="anchor">
        <xs:complexType mixed="false">
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="list">
        <xs:complexType mixed="false">
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="var" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="for" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="li" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="include" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="chunk" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attribute name="type" type="ListType" use="optional"/>
            <xs:attribute ref="sorted" use="optional"/>
            <xs:attribute name="nest" type="YesNoType" use="optional"/>
            <xs:attribute name="start" type="xs:integer" use="optional"/>
            <xs:attribute ref="include-id"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
            <xs:attributeGroup ref="expandables"/>
            <xs:attribute ref="printable" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:attribute name="sorted" type="SortType"/>

    <xs:element name="def">
        <xs:complexType mixed="true">
            <xs:group ref="ListableElements" maxOccurs="unbounded" minOccurs="0"/>
            <xs:attribute name="title" type="xs:string" use="required"/>
            <xs:attribute name="sorted" type="SortType" use="optional"/>
            <xs:attribute ref="include-id"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="deflist">
        <xs:complexType mixed="true">
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="var" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="def" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="include" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="chunk" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="for" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="sorted" use="optional" type="SortType"/>
            <xs:attribute ref="include-id"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attributeGroup ref="expandables"/>
            <xs:attribute ref="printable" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="WhiteSpaceTreatmentType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="keep"/>
            <xs:enumeration value="strip"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CodeBlockType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="block"/>
            <xs:enumeration value="inline"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="code">
        <xs:complexType mixed="true">
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="property" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="i" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="u" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="font" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="string" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="field" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="annotation" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="br" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="comment" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="keyword" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="value" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="emphasis" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="style" use="optional" type="CodeBlockType"/>
            <xs:attribute ref="include-id"/>
            <xs:attribute ref="id" use="optional"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
            <xs:attribute name="white-space" type="WhiteSpaceTreatmentType" use="optional"/>
            <xs:attributeGroup ref="expandables"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="td">
        <xs:complexType mixed="true">
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="note" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="tip" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="tag-link" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="warning" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="tag-list" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="edition" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="img" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="p" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="b" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="keyword" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="s" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="i" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="a" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="u" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="list" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="shortcut" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="menupath" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="br" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="hr" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="control" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="value" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="code" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="anchor" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="font" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="procedure-list" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="emphasis" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="chunk" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="table" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="h1" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="h2" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="h3" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="h4" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="h5" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="for" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="include" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute ref="valign" use="optional"/>
            <xs:attribute ref="include-id"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attribute ref="align" use="optional"/>
            <xs:attribute name="width" use="optional" type="xs:string"/>
            <xs:attribute name="colspan" use="optional" type="xs:long"/>
            <xs:attribute name="rowspan" use="optional" type="xs:long"/>
            <xs:attribute name="border" type="xs:long" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:attribute name="align" type="HAlignType"/>

    <xs:attribute name="printable" type="YesNoType"/>

    <xs:simpleType name="HAlignType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="left"/>
            <xs:enumeration value="right"/>
            <xs:enumeration value="center"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="title">
        <xs:complexType mixed="true">
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
            <xs:attribute ref="alternative-title"/>
        </xs:complexType>
    </xs:element>

    <xs:attribute name="alternative-title" type="xs:string"/>

    <xs:element name="tr">
        <xs:complexType mixed="false">
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="td" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="chunk" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="include" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute ref="valign" use="optional"/>
            <xs:attribute name="class" use="optional" type="xs:string"/>
            <xs:attribute ref="include-id"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attributeGroup ref="expandables"/>
        </xs:complexType>
    </xs:element>

    <xs:attribute name="valign" type="VerticalAlignType"/>

    <xs:element name="table">
        <xs:complexType mixed="false">
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="var" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="tr" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="include" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="for" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="chunk" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="width" type="xs:string" use="optional"/>
            <xs:attribute name="cellpadding" use="optional" type="xs:long"/>
            <xs:attribute ref="include-id"/>
            <xs:attribute ref="sorted"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
            <xs:attribute name="cellspacing" type="xs:long" use="optional"/>
            <xs:attribute name="first-row-style" type="TableFirstRowStyleType" use="optional"/>
            <xs:attribute name="border" type="xs:long" use="optional"/>
            <xs:attribute name="title" type="xs:string" use="optional"/>
            <xs:attribute name="interlace" type="YesNoType" use="optional"/>
            <xs:attributeGroup ref="expandables"/>
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attribute ref="printable" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="TableFirstRowStyleType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="header"/>
            <xs:enumeration value="normal"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ExpandableElementType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="block"/>
            <xs:enumeration value="inline"/>
            <xs:enumeration value="auto"/>
            <xs:enumeration value="none"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:attribute name="expand" type="ExpandableElementType"/>

    <xs:attribute name="filter" type="xs:string"/>

    <xs:attributeGroup name="expandables">
        <xs:attribute ref="expand" use="optional"/>
        <xs:attribute name="expand-title" use="optional"/>
        <xs:attribute name="expand-label" use="optional"/>
        <xs:attribute name="collapse-label" use="optional"/>
    </xs:attributeGroup>

    <xs:simpleType name="ColorTypeColorId">
        <xs:restriction base="xs:string">
            <xs:pattern value="(#([a-f]|[A-F]|[0-9]){6})|([a-zA-Z]+)"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ProductTypeIdBase">
        <xs:restriction base="xs:string">
            <xs:pattern value="!*(([a-z]{2},*)*[a-z]{2,})"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ProductTypeId">
        <xs:union memberTypes="ProductTypeIdBase">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="all"/>
                    <xs:enumeration value="!all"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>

    <xs:simpleType name="AccessPathType">
        <xs:union memberTypes="AccessPathTokenType">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="primary"/>
                    <xs:enumeration value="secondary"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>

    <xs:simpleType name="PlatformType">
        <xs:union memberTypes="PlatformPathTokenType">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="all"/>
                    <xs:enumeration value="primary"/>
                    <xs:enumeration value="secondary"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>

    <xs:simpleType name="PlatformPathTokenType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([a-z]{3,9})|(([a-z]{3,9},)+[a-z]{3,9})"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AccessPathTokenType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([a-z]{3})|(([a-z]{3},)+[a-z]{3})"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ColorType">
        <xs:union memberTypes="ColorTypeColorId">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="inherit"/>
                    <xs:enumeration value="aliceblue"/>
                    <xs:enumeration value="antiquewhite"/>
                    <xs:enumeration value="aqua"/>
                    <xs:enumeration value="aquamarine"/>
                    <xs:enumeration value="azure"/>
                    <xs:enumeration value="beige"/>
                    <xs:enumeration value="bisque"/>
                    <xs:enumeration value="black"/>
                    <xs:enumeration value="blanchedalmond"/>
                    <xs:enumeration value="blue"/>
                    <xs:enumeration value="blueviolet"/>
                    <xs:enumeration value="brown"/>
                    <xs:enumeration value="burlywood"/>
                    <xs:enumeration value="cadetblue"/>
                    <xs:enumeration value="chartreuse"/>
                    <xs:enumeration value="chocolate"/>
                    <xs:enumeration value="coral"/>
                    <xs:enumeration value="cornflowerblue"/>
                    <xs:enumeration value="cornsilk"/>
                    <xs:enumeration value="crimson"/>
                    <xs:enumeration value="cyan"/>
                    <xs:enumeration value="darkblue"/>
                    <xs:enumeration value="darkcyan"/>
                    <xs:enumeration value="darkgoldenrod"/>
                    <xs:enumeration value="darkgray"/>
                    <xs:enumeration value="darkgreen"/>
                    <xs:enumeration value="darkkhaki"/>
                    <xs:enumeration value="darkmagenta"/>
                    <xs:enumeration value="darkolivegreen"/>
                    <xs:enumeration value="darkorange"/>
                    <xs:enumeration value="darkorchid"/>
                    <xs:enumeration value="darkred"/>
                    <xs:enumeration value="darksalmon"/>
                    <xs:enumeration value="darkseagreen"/>
                    <xs:enumeration value="darkslateblue"/>
                    <xs:enumeration value="darkslategray"/>
                    <xs:enumeration value="darkturquoise"/>
                    <xs:enumeration value="darkviolet"/>
                    <xs:enumeration value="deeppink"/>
                    <xs:enumeration value="deepskyblue"/>
                    <xs:enumeration value="dimgray"/>
                    <xs:enumeration value="dodgerblue"/>
                    <xs:enumeration value="firebrick"/>
                    <xs:enumeration value="floralwhite"/>
                    <xs:enumeration value="forestgreen"/>
                    <xs:enumeration value="fuchsia"/>
                    <xs:enumeration value="gainsboro"/>
                    <xs:enumeration value="ghostwhite"/>
                    <xs:enumeration value="gold"/>
                    <xs:enumeration value="goldenrod"/>
                    <xs:enumeration value="gray"/>
                    <xs:enumeration value="green"/>
                    <xs:enumeration value="greenyellow"/>
                    <xs:enumeration value="honeydew"/>
                    <xs:enumeration value="hotpink"/>
                    <xs:enumeration value="indianred"/>
                    <xs:enumeration value="indigo"/>
                    <xs:enumeration value="ivory"/>
                    <xs:enumeration value="khaki"/>
                    <xs:enumeration value="lavender"/>
                    <xs:enumeration value="lavenderblush"/>
                    <xs:enumeration value="lawngreen"/>
                    <xs:enumeration value="lemonchiffon"/>
                    <xs:enumeration value="lightblue"/>
                    <xs:enumeration value="lightcoral"/>
                    <xs:enumeration value="lightcyan"/>
                    <xs:enumeration value="lightgoldenrodyellow"/>
                    <xs:enumeration value="lightgreen"/>
                    <xs:enumeration value="lightgrey"/>
                    <xs:enumeration value="lightpink"/>
                    <xs:enumeration value="lightsalmon"/>
                    <xs:enumeration value="lightseagreen"/>
                    <xs:enumeration value="lightskyblue"/>
                    <xs:enumeration value="lightslategray"/>
                    <xs:enumeration value="lightsteelblue"/>
                    <xs:enumeration value="lightyellow"/>
                    <xs:enumeration value="lime"/>
                    <xs:enumeration value="limegreen"/>
                    <xs:enumeration value="linen"/>
                    <xs:enumeration value="magenta"/>
                    <xs:enumeration value="maroon"/>
                    <xs:enumeration value="mediumaquamarine"/>
                    <xs:enumeration value="mediumblue"/>
                    <xs:enumeration value="mediumorchid"/>
                    <xs:enumeration value="mediumpurple"/>
                    <xs:enumeration value="mediumseagreen"/>
                    <xs:enumeration value="mediumslateblue"/>
                    <xs:enumeration value="mediumspringgreen"/>
                    <xs:enumeration value="mediumturquoise"/>
                    <xs:enumeration value="mediumvioletred"/>
                    <xs:enumeration value="midnightblue"/>
                    <xs:enumeration value="mintcream"/>
                    <xs:enumeration value="mistyrose"/>
                    <xs:enumeration value="moccasin"/>
                    <xs:enumeration value="navajowhite"/>
                    <xs:enumeration value="navy"/>
                    <xs:enumeration value="oldlace"/>
                    <xs:enumeration value="olive"/>
                    <xs:enumeration value="olivedrab"/>
                    <xs:enumeration value="orange"/>
                    <xs:enumeration value="orangered"/>
                    <xs:enumeration value="orchid"/>
                    <xs:enumeration value="palegoldenrod"/>
                    <xs:enumeration value="palegreen"/>
                    <xs:enumeration value="paleturquoise"/>
                    <xs:enumeration value="palevioletred"/>
                    <xs:enumeration value="papayawhip"/>
                    <xs:enumeration value="peachpuff"/>
                    <xs:enumeration value="peru"/>
                    <xs:enumeration value="pink"/>
                    <xs:enumeration value="plum"/>
                    <xs:enumeration value="powderblue"/>
                    <xs:enumeration value="purple"/>
                    <xs:enumeration value="red"/>
                    <xs:enumeration value="rosybrown"/>
                    <xs:enumeration value="royalblue"/>
                    <xs:enumeration value="saddlebrown"/>
                    <xs:enumeration value="salmon"/>
                    <xs:enumeration value="sandybrown"/>
                    <xs:enumeration value="seagreen"/>
                    <xs:enumeration value="seashell"/>
                    <xs:enumeration value="sienna"/>
                    <xs:enumeration value="silver"/>
                    <xs:enumeration value="skyblue"/>
                    <xs:enumeration value="slateblue"/>
                    <xs:enumeration value="slategray"/>
                    <xs:enumeration value="snow"/>
                    <xs:enumeration value="springgreen"/>
                    <xs:enumeration value="steelblue"/>
                    <xs:enumeration value="tan"/>
                    <xs:enumeration value="teal"/>
                    <xs:enumeration value="thistle"/>
                    <xs:enumeration value="tomato"/>
                    <xs:enumeration value="turquoise"/>
                    <xs:enumeration value="violet"/>
                    <xs:enumeration value="wheat"/>
                    <xs:enumeration value="white"/>
                    <xs:enumeration value="whitesmoke"/>
                    <xs:enumeration value="yellow"/>
                    <xs:enumeration value="yellowgreen"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>

    <xs:simpleType name="WeightType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="normal"/>
            <xs:enumeration value="bold"/>
            <xs:enumeration value="bolder"/>
            <xs:enumeration value="lighter"/>
            <xs:enumeration value="100"/>
            <xs:enumeration value="200"/>
            <xs:enumeration value="300"/>
            <xs:enumeration value="400"/>
            <xs:enumeration value="500"/>
            <xs:enumeration value="600"/>
            <xs:enumeration value="700"/>
            <xs:enumeration value="800"/>
            <xs:enumeration value="900"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="font">
        <xs:complexType mixed="true">
            <xs:group ref="InlineElements" minOccurs="0" maxOccurs="unbounded"/>
            <xs:attribute name="color" type="ColorType" use="optional"/>
            <xs:attribute name="background" type="ColorType" use="optional"/>
            <xs:attribute name="size" type="xs:long" use="optional"/>
            <xs:attribute name="weight" type="WeightType" use="optional"/>
            <xs:attribute name="script" type="FontScriptType" use="optional"/>
            <xs:attribute ref="include-id"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="FontScriptType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="upper"/>
            <xs:enumeration value="lower"/>
            <xs:enumeration value="normal"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="field">
        <xs:complexType mixed="true">
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="property">
        <xs:complexType mixed="true">
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="string">
        <xs:complexType mixed="true">
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="comment">
        <xs:complexType mixed="true">
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="step">
        <xs:complexType mixed="true">
            <xs:group ref="ListableElements" maxOccurs="unbounded" minOccurs="0"/>
            <xs:attributeGroup ref="expandables"/>
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="remark">
        <xs:complexType mixed="false">
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="ParagraphElements" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="tip" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="note" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="warning" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="position" use="optional" type="PositionType"/>
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="procedure">
        <xs:complexType mixed="false">
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="remark" maxOccurs="2" minOccurs="0"/>
                <xs:element ref="include" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="step" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="note" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="tip" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="warning" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="title" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="for" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="chunk" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="title" use="optional" type="xs:string"/>
            <xs:attribute ref="caps"/>
            <xs:attribute name="style" type="ListType" use="optional"/>
            <xs:attribute ref="include-id"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attribute ref="anchor" use="optional"/>
            <xs:attribute ref="alternative-title"/>
            <xs:attributeGroup ref="expandables"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="br">
        <xs:complexType mixed="false">
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
            <xs:attribute ref="keep-when-empty" default="yes"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="p">
        <xs:complexType mixed="true">
            <xs:group ref="ParagraphElements" minOccurs="0" maxOccurs="unbounded"/>
            <xs:attribute ref="include-id"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attributeGroup ref="expandables"/>
            <xs:attribute ref="printable" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="hr">
        <xs:complexType mixed="false">
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
            <xs:attribute ref="id"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attribute ref="keep-when-empty" default="yes"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="shortcut">
        <xs:complexType mixed="true">
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="a" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="key" type="xs:string" use="optional"/>
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="yes"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
            <xs:attribute name="force-platform" type="PlatformType" use="optional"/>
            <xs:attribute ref="on"/>
            <xs:attribute name="secondary" type="xs:string" use="optional"/>
            <xs:attribute name="primary" type="xs:string" use="optional"/>
            <xs:attribute ref="br"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="toolbar">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element ref="a" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="img" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute ref="on"/>
            <xs:attribute ref="br"/>
            <xs:attribute ref="keep-when-empty" default="yes"/>
        </xs:complexType>
    </xs:element>

    <xs:attribute name="br" type="YesNoType"/>

    <xs:element name="menupath">
        <xs:complexType mixed="true">
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="a" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
            <xs:attribute ref="on"/>
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attribute ref="br"/>
        </xs:complexType>
    </xs:element>

    <xs:attribute name="on" type="DialogAccessOnType"/>

    <xs:element name="note">
        <xs:complexType mixed="false">
            <xs:group ref="NoteTags" maxOccurs="unbounded" minOccurs="0"/>
            <xs:attribute ref="include-id"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attributeGroup ref="expandables"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="tip">
        <xs:complexType mixed="false">
            <xs:group ref="NoteTags" maxOccurs="unbounded" minOccurs="0"/>
            <xs:attribute ref="include-id"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attributeGroup ref="expandables"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="warning">
        <xs:complexType mixed="false">
            <xs:group ref="NoteTags" maxOccurs="unbounded" minOccurs="0"/>
            <xs:attribute ref="include-id"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attributeGroup ref="expandables"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="control">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element ref="include" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="link">
        <xs:complexType mixed="true">
            <xs:attribute name="anchor" use="optional" type="xs:string"/>
            <xs:attribute name="title" use="optional" type="xs:string"/>
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
            <xs:attribute ref="for" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="seealso">
        <xs:complexType mixed="false">
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="var" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="for" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="category" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="chunk" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute ref="keep-when-empty" default="no"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="li">
        <xs:complexType mixed="true">
            <xs:group ref="ListableElements" maxOccurs="unbounded" minOccurs="0"/>
            <xs:attribute ref="include-id"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
            <xs:attribute ref="id"/>
            <xs:attribute ref="keep-when-empty" default="no"/>
            <xs:attribute ref="use-when"/>
            <xs:attribute ref="index"/>
            <xs:attribute ref="filter"/>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="SortType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="asc"/>
            <xs:enumeration value="desc"/>
            <xs:enumeration value="none"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="include">
        <xs:complexType mixed="false">
            <xs:sequence maxOccurs="unbounded" minOccurs="0">
                <xs:element ref="var" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="src" use="required" type="xs:anyURI"/>
            <xs:attribute name="include-id" use="required" type="xs:string"/>
            <xs:attribute ref="filter" use="optional"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="keep-when-empty" default="yes"/>
            <xs:attribute ref="platform"/>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="ListType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="bullet"/>
            <xs:enumeration value="decimal"/>
            <xs:enumeration value="roman-upper"/>
            <xs:enumeration value="roman-lower"/>
            <xs:enumeration value="alpha-lower"/>
            <xs:enumeration value="alpha-upper"/>
            <xs:enumeration value="none"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="StructureScopeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="self"/>
            <xs:enumeration value="children"/>
            <xs:enumeration value="self,children"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AccessStyleType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="nohr"/>
            <xs:enumeration value="nobr"/>
            <xs:enumeration value="nobr,nohr"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DialogAccessOnType">
        <xs:union memberTypes="DialogAccessOnTypeBase">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="primary"/>
                    <xs:enumeration value="secondary"/>
                    <xs:enumeration value="all"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>

    <xs:simpleType name="DialogAccessOnTypeBase">
        <xs:restriction base="xs:string">
            <xs:pattern value="([a-z]{3})|([a-z]{3},+[a-z]{3})+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="IndexModeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="auto"/>
            <xs:enumeration value="mixed"/>
            <xs:enumeration value="manual"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="IndexRestrictionModeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="noindex"/>
            <xs:enumeration value="index"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:attribute name="index" type="IndexRestrictionModeType"/>
    <xs:element name="whatsnew">
        <xs:complexType mixed="false">
            <xs:attribute name="from-version" type="VersionRefType" use="required"/>
            <xs:attribute name="current-version" type="VersionRefType" use="required"/>
            <xs:attribute ref="include-id"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="VersionRefType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9]){1,3}\.([0-9]){1,3}\.([0-9]){1,3}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CustomPopupSizeType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9]){1,4},([0-9]){1,4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="new">
        <xs:complexType mixed="true">
            <xs:attribute name="product" use="required" type="xs:string"/>
            <xs:attribute name="version" type="VersionTypeLong" use="required"/>
            <xs:attribute name="category" use="required" type="xs:long"/>
            <xs:attribute name="title" type="xs:string" use="optional"/>
            <xs:attribute name="anchor" type="xs:string" use="optional"/>
            <xs:attribute ref="caps" use="optional"/>
            <xs:attribute name="hidden" use="optional" type="HiddenNewType"/>
            <xs:attribute ref="keep-when-empty" default="yes"/>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="VersionTypeLong">
        <xs:restriction base="xs:string">
            <xs:pattern value="(\d+\.){2}\d+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:attribute name="for" type="ProductTypeId"/>

    <xs:attribute name="keep-when-empty" type="YesNoType"/>

    <xs:attribute name="platform" type="PlatformType"/>

    <xs:element name="chunk">
        <xs:complexType mixed="true">
            <xs:group ref="ForElements" maxOccurs="unbounded" minOccurs="0"/>
            <xs:attribute ref="include-id" use="required"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="keep-when-empty" default="yes"/>
            <xs:attribute ref="platform"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="chapter">
        <xs:complexType mixed="true">
            <xs:group ref="ForElements" maxOccurs="unbounded" minOccurs="0"/>
            <xs:attribute ref="include-id"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="keep-when-empty" default="yes"/>
            <xs:attribute ref="platform"/>
            <xs:attribute ref="caps"/>
            <xs:attribute name="title" use="required" type="xs:string"/>
            <xs:attribute ref="anchor"/>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="OfTagNameType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([a-z0-9]+)|(([a-z0-9]+,)+[a-z0-9]+)"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="OfSingleTagNameTypeExtended">
        <xs:union memberTypes="OfSingleTagNameType">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration  value="for"/>
                    <xs:enumeration  value="index-keyword"/>
                    <xs:enumeration  value="library"/>
                    <xs:enumeration  value="index-mode"/>
                    <xs:enumeration  value="topic"/>
                    <xs:enumeration  value="footer"/>
                    <xs:enumeration  value="header"/>
                    <xs:enumeration  value="procedure-list"/>
                    <xs:enumeration  value="toc"/>
                    <xs:enumeration  value="keyword"/>
                    <xs:enumeration  value="emphasis"/>
                    <xs:enumeration  value="category"/>
                    <xs:enumeration  value="value"/>
                    <xs:enumeration  value="content"/>
                    <xs:enumeration  value="h1"/>
                    <xs:enumeration  value="h2"/>
                    <xs:enumeration  value="h3"/>
                    <xs:enumeration  value="h4"/>
                    <xs:enumeration  value="h5"/>
                    <xs:enumeration  value="a"/>
                    <xs:enumeration  value="b"/>
                    <xs:enumeration  value="s"/>
                    <xs:enumeration  value="i"/>
                    <xs:enumeration  value="u"/>
                    <xs:enumeration  value="annotation"/>
                    <xs:enumeration  value="intro"/>
                    <xs:enumeration  value="img"/>
                    <xs:enumeration  value="anchor"/>
                    <xs:enumeration  value="list"/>
                    <xs:enumeration  value="def"/>
                    <xs:enumeration  value="deflist"/>
                    <xs:enumeration  value="code"/>
                    <xs:enumeration  value="td"/>
                    <xs:enumeration  value="title"/>
                    <xs:enumeration  value="tr"/>
                    <xs:enumeration  value="table"/>
                    <xs:enumeration  value="font"/>
                    <xs:enumeration  value="field"/>
                    <xs:enumeration  value="property"/>
                    <xs:enumeration  value="string"/>
                    <xs:enumeration  value="comment"/>
                    <xs:enumeration  value="step"/>
                    <xs:enumeration  value="remark"/>
                    <xs:enumeration  value="procedure"/>
                    <xs:enumeration  value="space"/>
                    <xs:enumeration  value="br"/>
                    <xs:enumeration  value="p"/>
                    <xs:enumeration  value="hr"/>
                    <xs:enumeration  value="product"/>
                    <xs:enumeration  value="shortcut"/>
                    <xs:enumeration  value="menupath"/>
                    <xs:enumeration  value="note"/>
                    <xs:enumeration  value="tip"/>
                    <xs:enumeration  value="warning"/>
                    <xs:enumeration  value="control"/>
                    <xs:enumeration  value="link"/>
                    <xs:enumeration  value="seealso"/>
                    <xs:enumeration  value="li"/>
                    <xs:enumeration  value="include"/>
                    <xs:enumeration  value="whatsnew"/>
                    <xs:enumeration  value="new"/>
                    <xs:enumeration  value="chunk"/>
                    <xs:enumeration  value="tag-list"/>
                    <xs:enumeration  value="edition"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>

    <xs:simpleType name="OfSingleTagNameType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([a-z0-9\-]+)"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="NumbersOnly">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9\-]+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="tag-list">
        <xs:complexType mixed="false">
            <xs:sequence maxOccurs="unbounded" minOccurs="0">
                <xs:element ref="var" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute ref="for"/>
            <xs:attribute ref="keep-when-empty" default="yes"/>
            <xs:attribute ref="platform"/>
            <xs:attribute name="of" use="required" type="OfTagNameType"/>
            <xs:attribute name="stop-at" use="optional" type="OfSingleTagNameTypeExtended"/>
            <xs:attribute name="links" use="optional" type="YesNoType"/>
            <xs:attribute name="title-source" use="optional" type="OfSingleTagNameType"/>
            <xs:attribute name="sort" use="optional" type="SortType"/>
            <xs:attribute ref="printable" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="edition">
        <xs:complexType mixed="false">
            <xs:attribute name="id" use="required" type="OfSingleTagNameType"/>
            <xs:attribute name="product-id" use="optional" type="ProductTypeId"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="tag-link">
        <xs:complexType mixed="true">
            <xs:attribute name="title-source" use="optional" type="xs:string"/>
            <xs:attribute ref="id" use="required"/>
            <xs:attribute ref="for"/>
            <xs:attribute ref="platform"/>
            <xs:attribute name="from" use="optional" type="xs:string"/>
            <xs:attribute ref="printable" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:attribute name="caps" type="CapitalizationModeType"/>

    <xs:simpleType name="CapitalizationModeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="title"/>
            <xs:enumeration value="sentence"/>
            <xs:enumeration value="aswritten"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:group name="NoteTags">
        <xs:sequence>
            <xs:element ref="tag-list" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="edition" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="img" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="p" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="tag-link" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="list" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="br" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="hr" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="include" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="procedure-list" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="chunk" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="for" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>

    <xs:group name="ForElements">
        <xs:sequence>
            <xs:element ref="td" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="link" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="tag-list" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="intro" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="tag-link" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="edition" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="img" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="p" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="b" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="s" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="i" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="a" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="u" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="list" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="var" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="shortcut" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="menupath" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="br" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="hr" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="control" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="value" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="code" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="anchor" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="font" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="for" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="include" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="procedure-list" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="property" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="string" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="field" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="annotation" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="comment" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="keyword" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="emphasis" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="chunk" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="chapter" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="table" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="procedure" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="note" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="tip" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="warning" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="h1" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="h2" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="h3" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="h4" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="h5" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="deflist" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="toc" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="whatsnew" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="category" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="li" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="tr" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="step" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="def" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="access" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:group>

    <xs:group name="HighLevelElements">
        <xs:sequence>
            <xs:element ref="var" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="tag-list" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="tag-link" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="edition" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="img" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="p" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="list" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="br" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="hr" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="code" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="anchor" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="procedure-list" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="chunk" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="chapter" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="table" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="procedure" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="h1" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="h2" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="h3" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="h4" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="h5" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="note" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="tip" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="warning" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="deflist" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="toc" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="whatsnew" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="include" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="access" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="for" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>

    <xs:group name="InlineElements">
        <xs:sequence>
            <xs:element ref="b" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="i" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="a" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="s" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="u" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="shortcut" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="menupath" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="control" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="value" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="code" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="font" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="include" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="property" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="string" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="field" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="annotation" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="comment" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="keyword" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="emphasis" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="chunk" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>

    <xs:group name="ParagraphElements">
        <xs:sequence>
            <xs:element ref="var" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="p" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="br" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="list" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="edition" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="img" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="hr" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="tag-link" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="b" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="s" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="i" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="a" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="u" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="shortcut" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="menupath" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="keyword" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="control" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="value" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="code" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="anchor" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="font" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="include" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="emphasis" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="chunk" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="for" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:group>

    <xs:group name="ListableElements">
        <xs:sequence>
            <xs:element ref="tag-list" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="edition" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="chunk" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="img" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="p" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="b" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="keyword" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="tag-link" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="s" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="i" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="a" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="u" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="list" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="shortcut" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="menupath" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="br" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="hr" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="control" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="value" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="code" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="anchor" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="font" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="include" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="annotation" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="procedure-list" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="emphasis" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="note" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="tip" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="warning" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="deflist" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="step" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="for" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
</xs:schema>