xml/tests/testData/index/ext2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified"
	xmlns="http://a.b.c"
        xmlns:more="http://a.b.c.d"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://a.b.c">
  <xsd:include schemaLocation="base.xsd"/>
  <xsd:simpleType name="extSimple4">
    <xsd:restriction base="baseSimpleType"/>
  </xsd:simpleType>
  <xsd:simpleType name="extSimple5">
    <xsd:restriction base="extSimple4"/>
  </xsd:simpleType>
  <xsd:complexType name="more:extComplex1">
    <xsd:complexContent>
      <xsd:extension base="baseComplexType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="more:extComplex2">
    <xsd:complexContent>
      <xsd:extension base="baseSimpleType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="wiseElement">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="extSimple4"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>