xml/tests/testData/xml/allUnbound.xsd

<schema
    xmlns:tns="allUnbound"
    xmlns="http://www.w3.org/2001/XMLSchema"
    targetNamespace="allUnbound"
    elementFormDefault="qualified">

    <complexType name="object"/>

    <complexType name="all">
        <complexContent>
            <extension base="tns:object">
                <all>
                    <element name="req" type="string"/>
                    <element name="optional" type="string" minOccurs="0"/>
                </all>
            </extension>
        </complexContent>
    </complexType>

    <element name="root">
        <complexType>
            <sequence>
                <element name="item" type="tns:all" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
</schema>