xml/tests/testData/xml/ComplexSchemaValidation20.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema xmlns="http://test/xsd/test1/test1"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:test2="http://test/xsd/test1/test2"
            targetNamespace="http://test/xsd/test1/test1"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://test/xsd/test1/test2" schemaLocation="ComplexSchemaValidation20_2.xsd"/>

    <xsd:element name="simple">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="simpleType"/>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="simpleType">
        <xsd:complexContent>
            <xsd:extension base="empty">
                <xsd:sequence maxOccurs="unbounded">
                    <xsd:choice>
                        <!--<xsd:any namespace="##targetNamespace"/>-->
                        <!--<xsd:group ref="localTypes"/>-->
                        <xsd:group ref="test2:alphaGroup"/>
                    </xsd:choice>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="empty" abstract="true"/>

    <xsd:group name="localTypes">
        <xsd:choice>
            <xsd:element ref="simple"/>
        </xsd:choice>
    </xsd:group>

</xsd:schema>
