xml/tests/testData/xml/ComplexSchemaValidation5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
            xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:test="http://www.etas.com/TELEGY/Test"
            targetNamespace="http://www.etas.com/TELEGY/Test"
            elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <!-- Defn for the file properties to be used by the Data config object-->
  <xsd:complexType name="FileProperties">
    <xsd:sequence>
      <xsd:element name="FileExtn">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="\.{1}[a-zA-Z0-9]{3}"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <!-- Things like close rules, size restrictions could be put here -->
    </xsd:sequence>
    <xsd:attribute name="fpId" type="xsd:positiveInteger" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="FilePropertySet">
    <xsd:sequence>
      <xsd:element name="FileProperties" type="test:FileProperties"
                   maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="Test">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FilePropertySet" type="test:FilePropertySet"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
