xml/tests/testData/xml/ComplexSchemaValidation14.xsd

<xs:schema targetNamespace="parent"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:p="parent"
    elementFormDefault="qualified">

   <xs:complexType name="ParentType">
        <xs:attribute name="name" form="qualified" use="required"/>
    </xs:complexType>

    <xs:element name="Parent" type="p:ParentType"/>

</xs:schema>
