xml/tests/testData/xml/ComplexSchemaValidation8_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://drools.org/semantics/groovy"
           elementFormDefault="qualified"
           xmlns:groovy="http://drools.org/semantics/groovy"
           xmlns:rules="http://drools.org/rules">

  <xs:import namespace="http://drools.org/rules" schemaLocation="ComplexSchemaValidation8.xsd"/>

  <xs:element name="import"      type="xs:string" substitutionGroup="rules:abstractImport"/>

  <xs:element name="functions"   type="xs:string" substitutionGroup="rules:abstractFunctions"/>

  <xs:element name="class"       type="xs:string" substitutionGroup="rules:abstractClass"/>

  <xs:element name="condition"   type="xs:string" substitutionGroup="rules:abstractCondition"/>

  <xs:element name="consequence" type="xs:string" substitutionGroup="rules:abstractConsequence"/>

</xs:schema>
