xml/tests/testData/xml/ComplexSchemaValidation11_2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema xmlns="http://www.springframework.org/schema/util"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://www.springframework.org/schema/util"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

  <xsd:import namespace="http://www.springframework.org/schema/beans"/>

  <xsd:element name="properties">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:string"/>
      <xsd:attribute name="location" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="constant">
    <xsd:annotation>
      <xsd:documentation>
        Reference a public, static field on a type and expose its value as
        a bean. For example &lt;util:constant static-field=&quot;java.lang.Integer.MAX_VALUE&quot;/&gt;.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:string"/>
      <xsd:attribute name="static-field" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="property-path">
    <xsd:annotation>
      <xsd:documentation>
        Reference a property on a bean (or as a nested value) and expose its values as
        a bean. For example &lt;util:property-path path=&quot;order.customer.name&quot;/&gt;.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:string"/>
      <xsd:attribute name="path" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="map">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="beans:mapType">
          <xsd:attribute name="id" type="xsd:string" use="required"/>
          <xsd:attribute name="map-class" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <expected-type class="java.util.Class"/>
                <assignable-from class="java.util.Map"/>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:attribute>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="list">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="beans:listOrSetType">
          <xsd:attribute name="id" type="xsd:string" use="required"/>
          <xsd:attribute name="list-class" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <expected-type class="java.util.Class"/>
                <assignable-from class="java.util.List"/>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:attribute>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="set">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="beans:listOrSetType">
          <xsd:attribute name="id" type="xsd:string" use="required"/>
          <xsd:attribute name="set-class" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <expected-type class="java.util.Class"/>
                <assignable-from class="java.util.Set"/>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:attribute>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
