xml/tests/testData/xml/ComplexSchemaValidation6.xsd

<xsd:schema
    xmlns:pg="http://abcde/pg.html"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://abcde/pg.html"
    elementFormDefault="qualified"
    attributeFormDefault="qualified"
    >
   <xsd:complexType name="tableType">
        <xsd:attribute name="name" type="xsd:string" use="required"/>
    </xsd:complexType>
   <xsd:element name="table" type="pg:tableType"/>
</xsd:schema>