xml/tests/testData/xml/ComplexSchemaValidation13_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:test" xmlns="urn:test" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified" attributeFormDefault="unqualified">
     <xs:complexType name="TestType3">
        <xs:sequence>
            <xs:element name="Test4" type="TestType4" maxOccurs="unbounded">
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TestType4">
    </xs:complexType>
</xs:schema>