xml/tests/testData/xml/ComplexSchemaValidation16.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.inversoft.com/schemas/savant-2.0/project"
    xmlns:project="http://www.inversoft.com/schemas/savant-2.0/project"
    xmlns:base="http://www.inversoft.com/schemas/savant-2.0/base">

  <xsd:import namespace="http://www.inversoft.com/schemas/savant-2.0/base"/>

  <xsd:complexType name="dialect">
    <xsd:annotation>
      <xsd:documentation>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="namespace" type="xsd:string" use="required"/>
    <xsd:attribute name="version" type="xsd:string" use="required"/>
    <xsd:attribute name="config" use="optional">
      <xsd:simpleType>
        <xsd:list itemType="xsd:string"/>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:element name="project">
    <xsd:annotation>
      <xsd:documentation>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="properties" type="base:properties" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="property" type="base:property" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="dialect" type="project:dialect" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="dependencies" type="base:dependencies" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="workflow" type="base:workflow" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="publishWorkflow" type="base:publishWorkflow" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="name" type="xsd:string" use="required"/>
      <xsd:attribute name="version" type="xsd:string" use="required"/>
      <xsd:attribute name="group" type="xsd:string" use="required"/>
      <xsd:attribute name="savantConfigVersion" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>