xml/tests/testData/xml/ComplexRedefine5_2.xsd

<?xml version="1.0"?>

<xs:schema targetNamespace="http://simple" xmlns="http://simple" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xs:complexType name="outer.type">
        <xs:sequence>
            <xs:element ref="inner" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:attributeGroup name="innerAttributes">
        <xs:attribute name="attr" type="xs:boolean" use="optional"/>
    </xs:attributeGroup>

    <xs:complexType name="inner.type">
        <xs:attributeGroup ref="innerAttributes">
        </xs:attributeGroup>
    </xs:complexType>

    <xs:element name="outer" type="outer.type">
    </xs:element>

    <xs:element name="inner" type="inner.type">
    </xs:element>

</xs:schema>