xml/tests/testData/xml/ComplexSchemaValidation7_2.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	xmlns:tns="http://www.themindelectric.com/wsdl/Country/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:mxsmisc="http://www.themindelectric.com/package/com.marketxs.soap.misc/"
	xmlns:mxsutil="http://www.themindelectric.com/package/com.marketxs.soap.util/"
	name="Country" targetNamespace="http://www.themindelectric.com/wsdl/Country/">
    <wsdl:documentation>
        The Country service provides access to all countries and regions. Each country is connected to one region.
    </wsdl:documentation>
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.themindelectric.com/package/com.marketxs.soap.util/">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <xsd:complexType name="DataWrapper" abstract="true">
        <xsd:sequence/>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.themindelectric.com/package/com.marketxs.soap.misc/">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <xsd:import namespace="http://www.themindelectric.com/package/com.marketxs.soap.util/"/>
        <xsd:complexType name="RegionData">
            <xsd:annotation>
                <xsd:documentation>
                    Data object representing a region, such as a continent.
                </xsd:documentation>
            </xsd:annotation>
          <xsd:complexContent>
            <xsd:extension base="mxsutil:DataWrapper">
              <xsd:sequence>
                <xsd:element name="regionId" type="xsd:long"/>
                <xsd:element name="regionName" nillable="true" type="xsd:string"/>
              </xsd:sequence>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      <xsd:complexType name="CountryData">
          <xsd:annotation>
              <xsd:documentation>
                  Data object representing a country.
              </xsd:documentation>
          </xsd:annotation>
        <xsd:complexContent>
          <xsd:extension base="mxsmisc:RegionData">
            <xsd:sequence>
              <xsd:element name="currencyId" type="xsd:long"/>
              <xsd:element name="countryId" type="xsd:long"/>
              <xsd:element name="countryName" nillable="true" type="xsd:string"/>
              <xsd:element name="isoCode" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfCountryData">
        <xsd:complexContent>
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="mxsmisc:CountryData[]"/>
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfRegionData">
        <xsd:complexContent>
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="mxsmisc:RegionData[]"/>
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="CountryException">
          <xsd:sequence>
              <xsd:element name="message" nillable="true" type="xsd:string"/>
          </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="CountryException">
        <wsdl:part name="fault" type="mxsmisc:CountryException"/>
    </wsdl:message>
  <wsdl:message name="getCountry0In">
      <wsdl:documentation>org0 countryId the country's primary key.</wsdl:documentation>
    <wsdl:part name="arg0" type="xsd:long"/>
  </wsdl:message>
  <wsdl:message name="getCountry0Out">
    <wsdl:part name="Result" type="mxsmisc:CountryData"/>
  </wsdl:message>
  <wsdl:message name="getCountries1In"/>
  <wsdl:message name="getCountries1Out">
    <wsdl:part name="Result" type="mxsmisc:ArrayOfCountryData"/>
  </wsdl:message>
  <wsdl:message name="getRegion2In">
      <wsdl:documentation>arg0 regionId the region's primary key.</wsdl:documentation>
    <wsdl:part name="arg0" type="xsd:long"/>
  </wsdl:message>
  <wsdl:message name="getRegion2Out">
    <wsdl:part name="Result" type="mxsmisc:RegionData"/>
  </wsdl:message>
  <wsdl:message name="getRegions3In"/>
  <wsdl:message name="getRegions3Out">
    <wsdl:part name="Result" type="mxsmisc:ArrayOfRegionData"/>
  </wsdl:message>
  <wsdl:portType name="Country">
    <wsdl:operation name="getCountry" parameterOrder="arg0">
        <wsdl:documentation>Get a country by its primary key.</wsdl:documentation>
      <wsdl:input name="getCountry0In" message="tns:getCountry0In"/>
      <wsdl:output name="getCountry0Out" message="tns:getCountry0Out"/>
        <wsdl:fault name="CountryException" message="tns:CountryException"/>
    </wsdl:operation>
    <wsdl:operation name="getCountries" parameterOrder="argv0">
        <wsdl:documentation>Get all available countries.</wsdl:documentation>
      <wsdl:input name="getCountries1In" message="tns:getCountries1In"/>
      <wsdl:output name="getCountries1Out" message="tns:getCountries1Out"/>
        <wsdl:fault name="CountryException" message="tns:CountryException"/>
    </wsdl:operation>
    <wsdl:operation name="getRegion" parameterOrder="arg0">
        <wsdl:documentation>Get a region by its primary key.</wsdl:documentation>
      <wsdl:input name="getRegion2In" message="tns:getRegion2In"/>
      <wsdl:output name="getRegion2Out" message="tns:getRegion2Out"/>
        <wsdl:fault name="CountryException" message="tns:CountryException"/>
    </wsdl:operation>
    <wsdl:operation name="getRegions" parameterOrder="argv0">
        <wsdl:documentation>Get all available regions.</wsdl:documentation>
      <wsdl:input name="getRegions3In" message="tns:getRegions3In"/>
      <wsdl:output name="getRegions3Out" message="tns:getRegions3Out"/>
        <wsdl:fault name="CountryException" message="tns:CountryException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Country" type="tns:Country">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCountry">
      <soap:operation soapAction="getCountry" style="rpc"/>
      <wsdl:input name="getCountry0In">
        <soap:body use="encoded" namespace="http://tempuri.org/com.marketxs.soap.misc.CountryImpl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output name="getCountry0Out">
        <soap:body use="encoded" namespace="http://tempuri.org/com.marketxs.soap.misc.CountryImpl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
        <wsdl:fault name="CountryException">
            <soap:fault name="CountryException" use="encoded" namespace="http://tempuri.org/com.marketxs.soap.misc.CountryImpl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCountries">
      <soap:operation soapAction="getCountries" style="rpc"/>
      <wsdl:input name="getCountries1In">
        <soap:body use="encoded" namespace="http://tempuri.org/com.marketxs.soap.misc.CountryImpl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output name="getCountries1Out">
        <soap:body use="encoded" namespace="http://tempuri.org/com.marketxs.soap.misc.CountryImpl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
        <wsdl:fault name="CountryException">
            <soap:fault name="CountryException" use="encoded" namespace="http://tempuri.org/com.marketxs.soap.misc.CountryImpl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRegion">
      <soap:operation soapAction="getRegion" style="rpc"/>
      <wsdl:input name="getRegion2In">
        <soap:body use="encoded" namespace="http://tempuri.org/com.marketxs.soap.misc.CountryImpl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output name="getRegion2Out">
        <soap:body use="encoded" namespace="http://tempuri.org/com.marketxs.soap.misc.CountryImpl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
        <wsdl:fault name="CountryException">
            <soap:fault name="CountryException" use="encoded" namespace="http://tempuri.org/com.marketxs.soap.misc.CountryImpl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRegions">
      <soap:operation soapAction="getRegions" style="rpc"/>
      <wsdl:input name="getRegions3In">
        <soap:body use="encoded" namespace="http://tempuri.org/com.marketxs.soap.misc.CountryImpl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output name="getRegions3Out">
        <soap:body use="encoded" namespace="http://tempuri.org/com.marketxs.soap.misc.CountryImpl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
        <wsdl:fault name="CountryException">
            <soap:fault name="CountryException" use="encoded" namespace="http://tempuri.org/com.marketxs.soap.misc.CountryImpl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Country">
    <wsdl:documentation>Country service</wsdl:documentation>
    <wsdl:port name="Country" binding="tns:Country">
      <soap:address location="http://@soap.cluster@/Country"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
