xml/tests/testData/xml/ComplexSchemaValidation17.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:test" xmlns:utest="urn:test" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="type1" type="utest:TestType1"/>

    <xs:complexType name="TestType1">
        <xs:sequence>
            <xs:element name="int1" type="xs:int"></xs:element>
            <xs:element name="int2" type="xs:int"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TestType2">
        <xs:complexContent>
            <xs:extension base="utest:TestType1">
                <xs:sequence>
                    <xs:element name="int3" type="xs:int" >
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
