xml/tests/testData/xml/ComplexRedefine3_2.xsd

<?xml version="1.0"?>

<xs:schema
             targetNamespace="http://graphml.graphdrawing.org/xmlns/graphml"

             xmlns="http://graphml.graphdrawing.org/xmlns/graphml"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"

             elementFormDefault="unqualified"
             attributeFormDefault="unqualified"
>

<!--=============redefinition of the======================-->
<!--=============key attributes===========================-->

<xs:redefine schemaLocation="ComplexRedefine3_3.xsd">

  <xs:attributeGroup name="key.extra.attrib">
    <xs:attributeGroup ref="key.extra.attrib"/>
    <xs:attributeGroup ref="key.attributes.attrib"/>
  </xs:attributeGroup>

</xs:redefine>

	<xs:simpleType name="key.name.type" final="#all">
		<xs:restriction base="xs:NMTOKEN"/>
	</xs:simpleType>

<xs:simpleType name="key.type.type" final="#all">
  <xs:restriction base="xs:NMTOKEN">
    <xs:enumeration value="boolean"/>
    <xs:enumeration value="int"/>
    <xs:enumeration value="long"/>
    <xs:enumeration value="float"/>
    <xs:enumeration value="double"/>
    <xs:enumeration value="string"/>
  </xs:restriction>
</xs:simpleType>

	<xs:attributeGroup name="key.attributes.attrib">
		<xs:attribute name="attr.name" type="key.name.type" use="optional"/>
		<xs:attribute name="attr.type" type="key.type.type" use="optional"/>
	</xs:attributeGroup>

</xs:schema>
