xml/tests/testData/xml/ComplexSchemaValidation13.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:test" xmlns="urn:test" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xs:complexType name="TestType1">
        <xs:sequence>
            <xs:element name="Test2" type="TestType2" maxOccurs="unbounded">
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TestType2">
    </xs:complexType>
</xs:schema>
