xml/tests/testData/xml/ComplexSchemaValidation14_2.xsd

<xs:schema targetNamespace="parent"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:p="parent"
    xmlns:p2="p:myns"
    elementFormDefault="qualified">
   <xs:import namespace="p:myns" schemaLocation="<error>ComplexSchemaValidation14_2_2.xsd</error>"/>
   <xs:complexType name="ParentType">
        <xs:attribute name="name" form="qualified" use="required"/>
    </xs:complexType>

    <xs:element name="Parent" type="p:ParentType"/>

</xs:schema>
