xml/tests/testData/xml/ComplexSchemaValidation7.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions  xmlns:tns="http://tempuri.org/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  targetNamespace="http://tempuri.org/">
 <types>
  <xsd:schema    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:stns="java:com.bea.medrec.webservices"
    elementFormDefault="qualified"
    attributeFormDefault="qualified"
    targetNamespace="java:com.bea.medrec.webservices">
   <xsd:import     namespace="http://schemas.xmlsoap.org/soap/encoding/">
   </xsd:import>
   <xsd:complexType     name="AddressWS">
    <xsd:sequence>
     <xsd:element       type="xsd:string"
       name="city"
       minOccurs="1"
       nillable="true"
       maxOccurs="1">
     </xsd:element>

    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType     name="ArrayOfPatientWS">
    <xsd:complexContent>
     <xsd:restriction       xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
       base="soapenc:Array">
      <xsd:attribute        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        ref="soapenc:arrayType"
        wsdl:arrayType="stns:PatientWS[]">
      </xsd:attribute>
     </xsd:restriction>
    </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType     name="ArrayOfPrescriptionWS">
    <xsd:complexContent>
     <xsd:restriction       xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
       base="soapenc:Array">
      <xsd:attribute        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        ref="soapenc:arrayType"
        wsdl:arrayType="stns:PrescriptionWS[]">
      </xsd:attribute>
     </xsd:restriction>
    </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType     name="ArrayOfRecordWS">
    <xsd:complexContent>
     <xsd:restriction       xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
       base="soapenc:Array">
      <xsd:attribute        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        ref="soapenc:arrayType"
        wsdl:arrayType="stns:RecordWS[]">
      </xsd:attribute>
     </xsd:restriction>
    </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType     name="PatientWS">
    <xsd:sequence>
     <xsd:element       type="stns:AddressWS"
       name="addressWS"
       minOccurs="1"
       nillable="true"
       maxOccurs="1">
     </xsd:element>
     <xsd:element       type="xsd:string"
       name="dateOfBirth"
       minOccurs="1"
       nillable="true"
       maxOccurs="1">
     </xsd:element>
     <xsd:element       type="xsd:string"
       name="email"
       minOccurs="1"
       nillable="true"
       maxOccurs="1">
     </xsd:element>
     <xsd:element       type="xsd:string"
       name="firstName"
       minOccurs="1"
       nillable="true"
       maxOccurs="1">
     </xsd:element>
     <xsd:element       type="xsd:string"
       name="gender"
       minOccurs="1"
       nillable="true"
       maxOccurs="1">
     </xsd:element>
     <xsd:element       type="xsd:int"
       name="id"
       minOccurs="1"
       nillable="true"
       maxOccurs="1">
     </xsd:element>
     <xsd:element       type="xsd:string"
       name="lastName"
       minOccurs="1"
       nillable="true"
       maxOccurs="1">
     </xsd:element>
     <xsd:element       type="xsd:string"
       name="middleName"
       minOccurs="1"
       nillable="true"
       maxOccurs="1">
     </xsd:element>
     <xsd:element       type="xsd:string"
       name="phone"
       minOccurs="1"
       nillable="true"
       maxOccurs="1">
     </xsd:element>
     <xsd:element       type="xsd:string"
       name="ssn"
       minOccurs="1"
       nillable="true"
       maxOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType     name="PrescriptionWS">
    <xsd:sequence>
     <xsd:element       type="xsd:string"
       name="datePrescribed"
       minOccurs="1"
       nillable="true"
       maxOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType     name="RecordWS">
    <xsd:sequence>
     <xsd:element       type="xsd:string"
       name="date"
       minOccurs="1"
       nillable="true"
       maxOccurs="1">
     </xsd:element>

     <xsd:element       type="stns:ArrayOfPrescriptionWS"
       name="prescriptions"
       minOccurs="1"
       nillable="true"
       maxOccurs="1">
     </xsd:element>
     <xsd:element       type="stns:VitalSignsWS"
       name="vitalSigns"
       minOccurs="1"
       nillable="true"
       maxOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType     name="RecordsSummaryWS">
    <xsd:sequence>
     <xsd:element       type="stns:ArrayOfPrescriptionWS"
       name="prescriptions"
       minOccurs="1"
       nillable="true"
       maxOccurs="1">
     </xsd:element>
     <xsd:element       type="stns:ArrayOfRecordWS"
       name="records"
       minOccurs="1"
       nillable="true"
       maxOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType     name="VitalSignsWS">
    <xsd:sequence>
     <xsd:element       type="xsd:string"
       name="bloodPressure"
       minOccurs="1"
       nillable="true"
       maxOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
  </xsd:schema>
 </types>
 <message   name="addRecord">
  <part    xmlns:partns="java:com.bea.medrec.webservices"
    type="partns:RecordWS"
    name="record">
  </part>
 </message>
 <message   name="addRecordResponse">
 </message>
 <message   name="getRecord">
  <part    xmlns:partns="http://www.w3.org/2001/XMLSchema"
    type="partns:int"
    name="id">
  </part>
 </message>
 <message   name="getRecordResponse">
  <part    xmlns:partns="java:com.bea.medrec.webservices"
    type="partns:RecordWS"
    name="result">
  </part>
 </message>
 <message   name="getRecordsSummary">
  <part    xmlns:partns="http://www.w3.org/2001/XMLSchema"
    type="partns:int"
    name="id">
  </part>
 </message>
 <message   name="getRecordsSummaryResponse">
  <part    xmlns:partns="java:com.bea.medrec.webservices"
    type="partns:RecordsSummaryWS"
    name="result">
  </part>
 </message>
 <message   name="findPatientByLastNameWild">
  <part    xmlns:partns="http://www.w3.org/2001/XMLSchema"
    type="partns:string"
    name="lastName">
  </part>
 </message>
 <message   name="findPatientByLastNameWildResponse">
  <part    xmlns:partns="java:com.bea.medrec.webservices"
    type="partns:ArrayOfPatientWS"
    name="result">
  </part>
 </message>
 <message   name="findPatientBySsn">
  <part    xmlns:partns="http://www.w3.org/2001/XMLSchema"
    type="partns:string"
    name="id">
  </part>
 </message>
 <message   name="findPatientBySsnResponse">
  <part    xmlns:partns="java:com.bea.medrec.webservices"
    type="partns:PatientWS"
    name="result">
  </part>
 </message>
 <message   name="registerPatient">
  <part    xmlns:partns="java:com.bea.medrec.webservices"
    type="partns:PatientWS"
    name="patient">
  </part>
  <part    xmlns:partns="http://www.w3.org/2001/XMLSchema"
    type="partns:string"
    name="password">
  </part>
 </message>
 <message   name="registerPatientResponse">
 </message>
 <message   name="updatePatient">
  <part    xmlns:partns="java:com.bea.medrec.webservices"
    type="partns:PatientWS"
    name="patient">
  </part>
 </message>
 <message   name="updatePatientResponse">
 </message>
 <portType   name="MedRecWebServicesPort">
  <operation    name="addRecord">
   <input     message="tns:addRecord">
   </input>
   <output     message="tns:addRecordResponse">
   </output>
  </operation>
  <operation    name="getRecord">
   <input     message="tns:getRecord">
   </input>
   <output     message="tns:getRecordResponse">
   </output>
  </operation>
  <operation    name="getRecordsSummary">
   <input     message="tns:getRecordsSummary">
   </input>
   <output     message="tns:getRecordsSummaryResponse">
   </output>
  </operation>
  <operation    name="findPatientByLastNameWild">
   <input     message="tns:findPatientByLastNameWild">
   </input>
   <output     message="tns:findPatientByLastNameWildResponse">
   </output>
  </operation>
  <operation    name="findPatientBySsn">
   <input     message="tns:findPatientBySsn">
   </input>
   <output     message="tns:findPatientBySsnResponse">
   </output>
  </operation>
  <operation    name="registerPatient">
   <input     message="tns:registerPatient">
   </input>
   <output     message="tns:registerPatientResponse">
   </output>
  </operation>
  <operation    name="updatePatient">
   <input     message="tns:updatePatient">
   </input>
   <output     message="tns:updatePatientResponse">
   </output>
  </operation>
 </portType>
 <binding   type="tns:MedRecWebServicesPort"
   name="MedRecWebServicesPort">
  <soap:binding    style="rpc"
    transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation    name="addRecord">
   <soap:operation     style="rpc"
     soapAction=""/>
   <input>
    <soap:body      namespace="http://tempuri.org/"
      encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
      use="encoded"/>
   </input>
   <output>
    <soap:body      namespace="http://tempuri.org/"
      encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
      use="encoded"/>
   </output>
  </operation>
  <operation    name="getRecord">
   <soap:operation     style="rpc"
     soapAction=""/>
   <input>
    <soap:body      namespace="http://tempuri.org/"
      encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
      use="encoded"/>
   </input>
   <output>
    <soap:body      namespace="http://tempuri.org/"
      encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
      use="encoded"/>
   </output>
  </operation>
  <operation    name="getRecordsSummary">
   <soap:operation     style="rpc"
     soapAction=""/>
   <input>
    <soap:body      namespace="http://tempuri.org/"
      encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
      use="encoded"/>
   </input>
   <output>
    <soap:body      namespace="http://tempuri.org/"
      encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
      use="encoded"/>
   </output>
  </operation>
  <operation    name="findPatientByLastNameWild">
   <soap:operation     style="rpc"
     soapAction=""/>
   <input>
    <soap:body      namespace="http://tempuri.org/"
      encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
      use="encoded"/>
   </input>
   <output>
    <soap:body      namespace="http://tempuri.org/"
      encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
      use="encoded"/>
   </output>
  </operation>
  <operation    name="findPatientBySsn">
   <soap:operation     style="rpc"
     soapAction=""/>
   <input>
    <soap:body      namespace="http://tempuri.org/"
      encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
      use="encoded"/>
   </input>
   <output>
    <soap:body      namespace="http://tempuri.org/"
      encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
      use="encoded"/>
   </output>
  </operation>
  <operation    name="registerPatient">
   <soap:operation     style="rpc"
     soapAction=""/>
   <input>
    <soap:body      namespace="http://tempuri.org/"
      encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
      use="encoded"/>
   </input>
   <output>
    <soap:body      namespace="http://tempuri.org/"
      encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
      use="encoded"/>
   </output>
  </operation>
  <operation    name="updatePatient">
   <soap:operation     style="rpc"
     soapAction=""/>
   <input>
    <soap:body      namespace="http://tempuri.org/"
      encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
      use="encoded"/>
   </input>
   <output>
    <soap:body      namespace="http://tempuri.org/"
      encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
      use="encoded"/>
   </output>
  </operation>
 </binding>
 <service   name="MedRecWebServices">
  <port    name="MedRecWebServicesPort"
    binding="tns:MedRecWebServicesPort">
   <soap:address     location="http://pls.set.the.end.point.address/"/>
  </port>
 </service>
</definitions>
