xml/tests/testData/xml/deprecated.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="test.deprecated" elementFormDefault="qualified">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <!-- deprecated element -->
                <xs:element name="deprecated"/>
                <xs:element name="deprecatedByDoc">
                    <xs:annotation>
                        <xs:documentation>Some doc</xs:documentation>
                        <xs:documentation>deprecated</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="deprecatedByCdata">
                    <xs:annotation>
                        <xs:documentation>
                            <![CDATA[deprecated]]>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <!-- DEPRECATED attribute -->
            <xs:attribute name="deprecated"/>
        </xs:complexType>
    </xs:element>
</xs:schema>