xml/tests/testData/xml/NoNamespaceLocation.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
  <xs:element name="aRoot" type="aRootType" />
  <xs:complexType name="aRootType">
    <xs:sequence>
      <xs:element name="anElement" type="anElementType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="anElementType">
    <xs:attribute ref="xml:space" />
  </xs:complexType>
</xs:schema>