xml/tests/testData/xml/RedefineBaseType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:a="http://www.cadence.com/a"
targetNamespace="http://www.cadence.com/a"
elementFormDefault="unqualified"
attributeFormDefault="unqualified">

<xs:complexType name="baseType">
<xs:sequence>
<xs:element name="e1" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aType">
    <xs:complexContent>
        <xs:extension base="a:baseType">
            <xs:sequence>
                <xs:element name="e2" type="xs:string"/>
            </xs:sequence>
        </xs:extension>
    </xs:complexContent>
</xs:complexType>

<xs:element name="a" type="a:aType"/>
</xs:schema>