xml/tests/testData/xml/SchemaWithXmlId.xml

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema version="1.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xml="http://www.w3.org/XML/1998/namespace"
            elementFormDefault="qualified"
  >
  <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
  <xsd:element name="build" type="buildType" />

  <xsd:complexType name="buildType" mixed="true">
    <xsd:sequence>
      <xsd:element name="statusInfo" type="statusInfoType" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="statusInfoType">
    <xsd:attribute ref="xml:id" use="optional"/>
  </xsd:complexType>
</xsd:schema>