xml/tests/testData/xml/WsdlValidation.wsdl

<?xml version="1.0" ?>

<definitions targetNamespace="urn:PegaRULES:SOAP:Ticketing:V20100113"
	xmlns:tns="urn:PegaRULES:SOAP:Ticketing:V20100113"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:ns1="urn:Ticketing-Data-Service-CreateTicketRequest:pyXMLPage"
	xmlns:ns2="urn:Ticketing-Data-Service-CreateTicketResponse:pyXMLPage"
	xmlns:ns3="urn:Ticketing-Data-Service-RetrieveTicketRequest:pyXMLPage"
	xmlns:ns4="urn:Ticketing-Data-Service-RetrieveTicketResponse:pyXMLPage"
	xmlns:ns5="urn:Ticketing-Data-Service-searchTicketRequest:pyXMLPage"
	xmlns:ns6="urn:Ticketing-Data-Service-searchTicketResponse:pyXMLPage"
	xmlns:ns7="urn:Ticketing-Data-Service-ApplicationData:pyDefault"
	xmlns:ns8="urn:Ticketing-Data-Service-TicketingData:pyDefault"
	xmlns:ns9="urn:Ticketing-Data-Service-TicketingException:pyDefault"
	xmlns:ns10="urn:Ticketing-Data-Service-Contact:pyDefault"
	xmlns:ns11="urn:Ticketing-Data-Service-TicketSubject:pyDefault"
	xmlns:ns12="urn:Ticketing-Data-Service-TicketSummary:pyDefault"
	xmlns:ns13="urn:Ticketing-Data-Service-AppDataElement:pyDefault"
	xmlns:ns14="urn:Ticketing-Data-Service-AppDataTable:pyDefault"
	xmlns:ns15="urn:Ticketing-Data-Service-AppDataRow:pyDefault"
	xmlns="http://schemas.xmlsoap.org/wsdl/">

	<types>
		<schema targetNamespace="urn:Ticketing-Data-Service-CreateTicketRequest:pyXMLPage"
			elementFormDefault="unqualified"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="urn:Ticketing-Data-Service-ApplicationData:pyDefault"/>
			<import namespace="urn:Ticketing-Data-Service-TicketingData:pyDefault"/>
			<complexType name="pagedata">
				<sequence>
					<element name="appData" minOccurs="0" type="ns7:pagedata"/>
					<element name="ticketingData" minOccurs="0" type="ns8:pagedata"/>
				</sequence>
			</complexType>
		</schema>
		<schema targetNamespace="urn:Ticketing-Data-Service-CreateTicketResponse:pyXMLPage"
			elementFormDefault="unqualified"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="urn:Ticketing-Data-Service-TicketingException:pyDefault"/>
			<complexType name="pagedata">
				<sequence>
					<element name="caseId" minOccurs="0" type="xsd:string"/>
					<element name="errorResponse" minOccurs="0" maxOccurs="unbounded" type="ns9:pagedata"/>
					<element name="ticketId" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
				</sequence>
			</complexType>
		</schema>
		<schema targetNamespace="urn:Ticketing-Data-Service-RetrieveTicketRequest:pyXMLPage"
			elementFormDefault="unqualified"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<complexType name="pagedata">
				<sequence>
					<element name="ticketId" minOccurs="0" type="xsd:string"/>
				</sequence>
			</complexType>
		</schema>
		<schema targetNamespace="urn:Ticketing-Data-Service-RetrieveTicketResponse:pyXMLPage"
			elementFormDefault="unqualified"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="urn:Ticketing-Data-Service-ApplicationData:pyDefault"/>
			<import namespace="urn:Ticketing-Data-Service-TicketingException:pyDefault"/>
			<import namespace="urn:Ticketing-Data-Service-TicketingData:pyDefault"/>
			<complexType name="pagedata">
				<sequence>
					<element name="appData" minOccurs="0" type="ns7:pagedata"/>
					<element name="errorResponse" minOccurs="0" maxOccurs="unbounded" type="ns9:pagedata"/>
					<element name="status" minOccurs="0" type="xsd:string"/>
					<element name="statusDateTime" minOccurs="0" type="xsd:dateTime"/>
					<element name="ticketId" minOccurs="0" type="xsd:string"/>
					<element name="ticketingData" minOccurs="0" type="ns8:pagedata"/>
				</sequence>
			</complexType>
		</schema>
		<schema targetNamespace="urn:Ticketing-Data-Service-searchTicketRequest:pyXMLPage"
			elementFormDefault="unqualified"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="urn:Ticketing-Data-Service-Contact:pyDefault"/>
			<import namespace="urn:Ticketing-Data-Service-TicketSubject:pyDefault"/>
			<complexType name="pagedata">
				<sequence>
					<element name="businessDomain" minOccurs="0" type="xsd:string"/>
					<element name="creator" minOccurs="0" type="ns10:pagedata"/>
					<element name="requestor" minOccurs="0" type="ns10:pagedata"/>
					<element name="ticketSubject" minOccurs="0" type="ns11:pagedata"/>
				</sequence>
			</complexType>
		</schema>
		<schema targetNamespace="urn:Ticketing-Data-Service-searchTicketResponse:pyXMLPage"
			elementFormDefault="unqualified"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="urn:Ticketing-Data-Service-TicketingException:pyDefault"/>
			<import namespace="urn:Ticketing-Data-Service-TicketSummary:pyDefault"/>
			<complexType name="pagedata">
				<sequence>
					<element name="errorResponse" minOccurs="0" maxOccurs="unbounded" type="ns9:pagedata"/>
					<element name="summary" minOccurs="0" maxOccurs="unbounded" type="ns12:pagedata"/>
				</sequence>
			</complexType>
		</schema>
		<schema targetNamespace="urn:Ticketing-Data-Service-ApplicationData:pyDefault"
			elementFormDefault="unqualified"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="urn:Ticketing-Data-Service-AppDataElement:pyDefault"/>
			<import namespace="urn:Ticketing-Data-Service-AppDataTable:pyDefault"/>
			<complexType name="pagedata">
				<sequence>
					<element name="dataElement" minOccurs="0" maxOccurs="unbounded" type="ns13:pagedata"/>
					<element name="tableElement" minOccurs="0" maxOccurs="unbounded" type="ns14:pagedata"/>
				</sequence>
			</complexType>
		</schema>
		<schema targetNamespace="urn:Ticketing-Data-Service-TicketingData:pyDefault"
			elementFormDefault="unqualified"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="urn:Ticketing-Data-Service-Contact:pyDefault"/>
			<import namespace="urn:Ticketing-Data-Service-TicketSubject:pyDefault"/>
			<complexType name="pagedata">
				<sequence>
					<element name="businessDomain" minOccurs="0" type="xsd:string"/>
					<element name="comment" minOccurs="0" type="xsd:string"/>
					<element name="creator" minOccurs="0" type="ns10:pagedata"/>
					<element name="event" minOccurs="0" type="xsd:string"/>
					<element name="eventSubType" minOccurs="0" type="xsd:string"/>
					<element name="longDescription" minOccurs="0" type="xsd:string"/>
					<element name="referenceTag" minOccurs="0" type="xsd:string"/>
					<element name="requestor" minOccurs="0" type="ns10:pagedata"/>
					<element name="shortDescription" minOccurs="0" type="xsd:string"/>
					<element name="templateName" minOccurs="0" type="xsd:string"/>
					<element name="ticketPriority" minOccurs="0" type="xsd:string"/>
					<element name="ticketSubject" minOccurs="0" type="ns11:pagedata"/>
					<element name="ticketType" minOccurs="0" type="xsd:string"/>
				</sequence>
			</complexType>
		</schema>
		<schema targetNamespace="urn:Ticketing-Data-Service-TicketingException:pyDefault"
			elementFormDefault="unqualified"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<complexType name="pagedata">
				<sequence>
					<element name="code" minOccurs="0" type="xsd:string"/>
					<element name="message" minOccurs="0" type="xsd:string"/>
					<element name="severity" minOccurs="0" type="xsd:string"/>
				</sequence>
			</complexType>
		</schema>
		<schema targetNamespace="urn:Ticketing-Data-Service-Contact:pyDefault"
			elementFormDefault="unqualified"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<complexType name="pagedata">
				<sequence>
					<element name="alternatePhone" minOccurs="0" type="xsd:string"/>
					<element name="contactId" minOccurs="0" type="xsd:string"/>
					<element name="contactName" minOccurs="0" type="xsd:string"/>
					<element name="contactType" minOccurs="0" type="xsd:string"/>
					<element name="eMail" minOccurs="0" type="xsd:string"/>
					<element name="phoneContactPreferred" minOccurs="0" type="xsd:boolean"/>
					<element name="primaryPhone" minOccurs="0" type="xsd:string"/>
				</sequence>
			</complexType>
		</schema>
		<schema targetNamespace="urn:Ticketing-Data-Service-TicketSubject:pyDefault"
			elementFormDefault="unqualified"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<complexType name="pagedata">
				<sequence>
					<element name="accountId" minOccurs="0" type="xsd:string"/>
					<element name="clientId" minOccurs="0" type="xsd:string"/>
					<element name="domainKey" minOccurs="0" type="xsd:string"/>
				</sequence>
			</complexType>
		</schema>
		<schema targetNamespace="urn:Ticketing-Data-Service-TicketSummary:pyDefault"
			elementFormDefault="unqualified"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="urn:Ticketing-Data-Service-Contact:pyDefault"/>
			<import namespace="urn:Ticketing-Data-Service-TicketSubject:pyDefault"/>
			<complexType name="pagedata">
				<sequence>
					<element name="businessDomain" minOccurs="0" type="xsd:string"/>
					<element name="creator" minOccurs="0" type="ns10:pagedata"/>
					<element name="requestor" minOccurs="0" type="ns10:pagedata"/>
					<element name="shortDescription" minOccurs="0" type="xsd:string"/>
					<element name="ticketId" minOccurs="0" type="xsd:string"/>
					<element name="ticketSubject" minOccurs="0" type="ns11:pagedata"/>
				</sequence>
			</complexType>
		</schema>
		<schema targetNamespace="urn:Ticketing-Data-Service-AppDataElement:pyDefault"
			elementFormDefault="unqualified"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<complexType name="pagedata">
				<sequence>
					<element name="Value" minOccurs="0" type="xsd:string"/>
					<element name="label" minOccurs="0" type="xsd:string"/>
				</sequence>
			</complexType>
		</schema>
		<schema targetNamespace="urn:Ticketing-Data-Service-AppDataTable:pyDefault"
			elementFormDefault="unqualified"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="urn:Ticketing-Data-Service-AppDataRow:pyDefault"/>
			<complexType name="pagedata">
				<sequence>
					<element name="dataRow" minOccurs="0" maxOccurs="unbounded" type="ns15:pagedata"/>
					<element name="label" minOccurs="0" type="xsd:string"/>
				</sequence>
			</complexType>
		</schema>
		<schema targetNamespace="urn:Ticketing-Data-Service-AppDataRow:pyDefault"
			elementFormDefault="unqualified"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="urn:Ticketing-Data-Service-AppDataElement:pyDefault"/>
			<complexType name="pagedata">
				<sequence>
					<element name="columnData" minOccurs="0" maxOccurs="unbounded" type="ns13:pagedata"/>
					<element name="rowId" minOccurs="0" type="xsd:long"/>
				</sequence>
			</complexType>
		</schema>
		<schema targetNamespace="urn:PegaRULES:SOAP:Ticketing:V20100113"
			elementFormDefault="unqualified"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="urn:Ticketing-Data-Service-CreateTicketRequest:pyXMLPage"/>
			<import namespace="urn:Ticketing-Data-Service-CreateTicketResponse:pyXMLPage"/>
			<import namespace="urn:Ticketing-Data-Service-RetrieveTicketRequest:pyXMLPage"/>
			<import namespace="urn:Ticketing-Data-Service-RetrieveTicketResponse:pyXMLPage"/>
			<import namespace="urn:Ticketing-Data-Service-searchTicketRequest:pyXMLPage"/>
			<import namespace="urn:Ticketing-Data-Service-searchTicketResponse:pyXMLPage"/>
			<element name="CreateTicket">
				<complexType>
					<sequence>
							<element name="RequestData" type="ns1:pagedata"/>
					</sequence>
				</complexType>
			</element>
			<element name="CreateTicketResponse">
				<complexType>
					<sequence>
							<element name="ResponseData" type="ns2:pagedata"/>
					</sequence>
				</complexType>
			</element>
			<element name="RetrieveTicket">
				<complexType>
					<sequence>
							<element name="RequestData" type="ns3:pagedata"/>
					</sequence>
				</complexType>
			</element>
			<element name="RetrieveTicketResponse">
				<complexType>
					<sequence>
							<element name="ResponseData" type="ns4:pagedata"/>
					</sequence>
				</complexType>
			</element>
			<element name="SearchTicket">
				<complexType>
					<sequence>
							<element name="RequestData" type="ns5:pagedata"/>
					</sequence>
				</complexType>
			</element>
			<element name="SearchTicketResponse">
				<complexType>
					<sequence>
							<element name="ResponseData" type="ns6:pagedata"/>
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>

	<message name="CreateTicket">
		<part name="parameters" element="tns:CreateTicket"/>
	</message>

	<message name="CreateTicketResponse">
		<part name="parameters" element="tns:CreateTicketResponse"/>
	</message>

	<message name="RetrieveTicket">
		<part name="parameters" element="tns:RetrieveTicket"/>
	</message>

	<message name="RetrieveTicketResponse">
		<part name="parameters" element="tns:RetrieveTicketResponse"/>
	</message>

	<message name="SearchTicket">
		<part name="parameters" element="tns:SearchTicket"/>
	</message>

	<message name="SearchTicketResponse">
		<part name="parameters" element="tns:SearchTicketResponse"/>
	</message>

	<portType name="V20100113Type">
		<operation name="CreateTicket">
			<input message="tns:CreateTicket"/>
			<output message="tns:CreateTicketResponse"/>
		</operation>
		<operation name="RetrieveTicket">
			<input message="tns:RetrieveTicket"/>
			<output message="tns:RetrieveTicketResponse"/>
		</operation>
		<operation name="SearchTicket">
			<input message="tns:SearchTicket"/>
			<output message="tns:SearchTicketResponse"/>
		</operation>
	</portType>

	<binding name="V20100113Binding" type="tns:V20100113Type">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="CreateTicket">
			<soap:operation style="document" soapAction="urn:PegaRULES:SOAP:Ticketing:V20100113#CreateTicket"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="RetrieveTicket">
			<soap:operation style="document" soapAction="urn:PegaRULES:SOAP:Ticketing:V20100113#RetrieveTicket"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SearchTicket">
			<soap:operation style="document" soapAction="urn:PegaRULES:SOAP:Ticketing:V20100113#SearchTicket"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>

	<service name="V20100113Service">
		<port name="V20100113Port" binding="tns:V20100113Binding">
			<soap:address location="http://tstw02-marish.tdbfg.com:8099/prweb/PRSOAPServlet"/>
		</port>
	</service>

</definitions>
