xml/tests/testData/xml/wsdl11_soapbinding.xsd

<?xml version="1.0" encoding="UTF-8" ?> 
<!-- 
 
Copyright 2001 - 2005, International Business Machines Corporation and Microsoft Corporation
All Rights Reserved

License for WSDL Schema Files

The Authors grant permission to copy and distribute the WSDL Schema 
Files in any medium without fee or royalty as long as this notice and 
license are distributed with them.  The originals of these files can 
be located at:

http://schemas.xmlsoap.org/wsdl/soap/2003-02-11.xsd

THESE SCHEMA FILES ARE PROVIDED "AS IS," AND THE AUTHORS MAKE NO REPRESENTATIONS 
OR WARRANTIES, EXPRESS OR IMPLIED, REGARDING THESE FILES, INCLUDING, BUT NOT 
LIMITED TO, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, 
NON-INFRINGEMENT OR TITLE.  THE AUTHORS WILL NOT BE LIABLE FOR ANY DIRECT, 
INDIRECT, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF OR 
RELATING TO ANY USE OR DISTRIBUTION OF THESE FILES.

The name and trademarks of the Authors may NOT be used in any manner, 
including advertising or publicity pertaining to these files or any program 
or service that uses these files, written prior permission.  Title to copyright 
in these files will at all times remain with the Authors.

No other rights are granted by implication, estoppel or otherwise.


--> 
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
           xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
           targetNamespace="http://schemas.xmlsoap.org/wsdl/soap/" >

  <xs:import namespace = "http://schemas.xmlsoap.org/wsdl/" />

  <xs:simpleType name="encodingStyle" >
    <xs:annotation>
      <xs:documentation>
      "encodingStyle" indicates any canonicalization conventions followed in the contents of the containing element.  For example, the value "http://schemas.xmlsoap.org/soap/encoding/" indicates the pattern described in SOAP specification
      </xs:documentation>
    </xs:annotation>
    <xs:list itemType="xs:anyURI" />
  </xs:simpleType>

  <xs:element name="binding" type="soap:tBinding" />
  <xs:complexType name="tBinding" >
    <xs:complexContent>
      <xs:extension base="wsdl:tExtensibilityElement" >
        <xs:attribute name="transport" type="xs:anyURI" use="required" />
        <xs:attribute name="style" type="soap:tStyleChoice" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="tStyleChoice" >
    <xs:restriction base="xs:string" >
      <xs:enumeration value="rpc" />
      <xs:enumeration value="document" />
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="operation" type="soap:tOperation" />
  <xs:complexType name="tOperation" >
    <xs:complexContent>
      <xs:extension base="wsdl:tExtensibilityElement" >
        <xs:attribute name="soapAction" type="xs:anyURI" use="optional" />
        <xs:attribute name="style" type="soap:tStyleChoice" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="body" type="soap:tBody" />
  <xs:attributeGroup name="tBodyAttributes" >
    <xs:attribute name="encodingStyle" type="soap:encodingStyle" use="optional" />	   
    <xs:attribute name="use" type="soap:useChoice" use="optional" />
    <xs:attribute name="namespace" type="xs:anyURI" use="optional" />
  </xs:attributeGroup>
  <xs:complexType name="tBody" >
    <xs:complexContent>
      <xs:extension base="wsdl:tExtensibilityElement" >
        <xs:attribute name="parts" type="xs:NMTOKENS" use="optional" />
        <xs:attributeGroup ref = "soap:tBodyAttributes" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:simpleType name="useChoice" >
    <xs:restriction base="xs:string" >
      <xs:enumeration value="literal" />
      <xs:enumeration value="encoded" />
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="fault" type="soap:tFault" />
  <xs:complexType name="tFaultRes" abstract="true" >
    <xs:complexContent>
      <xs:restriction base="soap:tBody" >
	    <xs:attribute ref="wsdl:required" use="optional" /> 
        <xs:attribute name="parts" type="xs:NMTOKENS" use="prohibited" />
		<xs:attributeGroup ref="soap:tBodyAttributes" />
      </xs:restriction>
    </xs:complexContent>  	
  </xs:complexType>
  <xs:complexType name="tFault" >
    <xs:complexContent>
      <xs:extension base="soap:tFaultRes">
        <xs:attribute name="name" type="xs:NCName" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:element name="header" type="soap:tHeader" />
  <xs:attributeGroup name="tHeaderAttributes" >
    <xs:attribute name="message" type="xs:QName" use="required" />
    <xs:attribute name="part" type="xs:NMTOKEN" use="required" />
    <xs:attribute name="use" type="soap:useChoice" use="required" />
    <xs:attribute name="encodingStyle" type="soap:encodingStyle" use="optional" />
    <xs:attribute name="namespace" type="xs:anyURI" use="optional" />      
  </xs:attributeGroup>
  <xs:complexType name="tHeader" >
    <xs:complexContent>
      <xs:extension base="wsdl:tExtensibilityElement" >
        <xs:sequence>
          <xs:element ref="soap:headerfault" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
		<xs:attributeGroup ref="soap:tHeaderAttributes" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="headerfault" type="soap:tHeaderFault" />
  <xs:complexType name="tHeaderFault" >
	<xs:attributeGroup ref="soap:tHeaderAttributes" />
  </xs:complexType>

  <xs:element name="address" type="soap:tAddress" />
  <xs:complexType name="tAddress" >
    <xs:complexContent>
      <xs:extension base="wsdl:tExtensibilityElement" >
        <xs:attribute name="location" type="xs:anyURI" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>