xml/tests/testData/xml/XIncludeTestSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://example.com/persistence"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:persistence="http://example.com/persistence"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
  version="1.0">
  <xsd:element name="persistence">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element ref="persistence:persistence-unit"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="persistence-unit">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="class" type="xsd:string"
                     minOccurs="0" maxOccurs="unbounded">
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
