xml/tests/testData/xml/XsiSchemaLocation2_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:test2="urn:schemas-dig-de:test2" xmlns:test3="urn:schemas-dig-de:test3" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:schemas-dig-de:test2">
    <xs:include schemaLocation="XsiSchemaLocation2_2.xsd"/>
    <xs:import namespace="urn:schemas-dig-de:test3" schemaLocation="XsiSchemaLocation2_3.xsd"/>

    <xs:complexType name="annotated">
    </xs:complexType>
    
    <xs:attributeGroup name="occurs">
    </xs:attributeGroup>
    
    <xs:element name="control">
        <xs:annotation>
            <xs:documentation>The string field</xs:documentation>
        </xs:annotation>
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element ref="test3:superControl" minOccurs="1" maxOccurs="unbounded"/>
                <xs:element name="my" type="test3:superControlType" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
            <xs:attribute name="flag" type="test3:Bool" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name = "Length">
      <xs:restriction base = "test3:Bool">
        <xs:pattern value = "true"/>
      </xs:restriction>
    </xs:simpleType>
   <xs:simpleType name = "Length">
     <xs:restriction base = "xs:string">
       <xs:pattern value = "111"/>
     </xs:restriction>
   </xs:simpleType>
  <xs:complexType name="aaa">
      <xs:sequence>
          <xs:group ref = "test3:group" minOccurs = "0" maxOccurs = "unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref = "test3:group2" minOccurs = "0" maxOccurs = "unbounded"/>
   </xs:complexType>
  
    <xs:element name="control2" type="xs:annotated"/>
        
    <xs:complexType name="bbb">
      <xs:attributeGroup ref = "xs:occurs" minOccurs = "0" maxOccurs = "unbounded"/>
      <xs:attribute ref="test3:myattribute" />
   </xs:complexType>
</xs:schema>
