xml/tests/testData/xml/XsiType_Request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://Request.xsd"
    xmlns:types="http://Types.xsd"
    targetNamespace="http://Request.xsd"
    elementFormDefault="qualified">

    <xs:import schemaLocation="XsiType_Types.xsd" namespace="http://Types.xsd"/>
    <xs:element name="Request" type="ct_AbstractRequest">
    </xs:element>
    <xs:complexType name="ct_AbstractRequest" abstract="true">
        <xs:sequence>
            <xs:element name="Header" type="types:ct_Header"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>