xml/tests/testData/xml/XsiType_Types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://Types.xsd"
    targetNamespace="http://Types.xsd"
    elementFormDefault="qualified">
    <xs:complexType name="ct_Header">
        <xs:sequence>
            <xs:element name="Notification" type="ct_Notification"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ct_Notification">
    </xs:complexType>
</xs:schema>