xml/tests/testData/xml/XsiType_ActivationRequestV1.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright 2001-2009 Synchronoss Technologies, Inc. 750 Route 202 South,
    Bridgewater, New Jersey, 08807, U.S.A.  All Rights Reserved.

    This source code is part of the ConvergenceNow(R) platform and is the
    confidential and proprietary information of Synchronoss Technologies, Inc.
    ("Confidential Information"). You shall not disclose such Confidential
    Information and shall use it only in accordance with the terms of the
    license agreement you entered into with Synchronoss Technologies.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://www.synchronoss.com/activation/ActivationRequestV1.00.xsd"
    xmlns:types="http://www.synchronoss.com/common/TypesV1.00.xsd"
    targetNamespace="http://www.synchronoss.com/activation/ActivationRequestV1.00.xsd"
    elementFormDefault="qualified"
    >
    <xs:import schemaLocation="XsiType_TypesV1.00.xsd" namespace="http://www.synchronoss.com/common/TypesV1.00.xsd"/>
    <xs:element name="ActivationRequest" type="ct_AbstractActivationRequest">
        <xs:unique name="subscriberReference" xmlns:x="http://www.synchronoss.com/activation/ActivationRequestV1.00.xsd">
            <xs:selector xpath="x:Subscriber"/>
            <xs:field xpath="@subscriberReference"/>
        </xs:unique>
    </xs:element>
    <xs:complexType name="ct_AbstractActivationRequest" abstract="true">
        <xs:sequence>
            <xs:element name="Header" type="types:ct_Header"/>
            <xs:element name="FlexFields" type="ct_FlexFields" minOccurs="0"/>
            <xs:element name="Account" type="ct_Account"/>
            <xs:element name="Subscriber" type="ct_Subscriber" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="Shipping" type="ct_Shipping" minOccurs="0"/>
            <xs:element name="Payments" type="ct_Payments" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="orderNumber" type="types:st_NonZeroLengthString" use="required">
            <xs:annotation>
                <xs:documentation>Client order number associated with the order (must be unique per client)</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="retailer" type="xs:positiveInteger" use="required">
            <xs:annotation>
                <xs:documentation>Retailer associated with the order</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="retailerOrderNumber" type="types:st_NonZeroLengthString" use="optional">
            <xs:annotation>
                <xs:documentation>Retailer order number associated with the order</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="ct_Account">
        <xs:sequence>
            <xs:choice>
                <xs:element name="NewAccount" type="ct_NewAccount"/>
                <xs:element name="ExistingAccount" type="ct_ExistingAccount"/>
                <xs:element name="PrepaidAccount" type="ct_PrepaidAccount"/>
            </xs:choice>
            <xs:element name="FlexFields" type="ct_FlexFields" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="accountType" type="xs:positiveInteger" use="required"/>
        <xs:attribute name="accountSubType"  type="xs:positiveInteger" use="required"/>
        <xs:attribute name="serviceProvider" type="xs:positiveInteger" use="required"/>
        <xs:attribute name="businessName" type="types:st_NonZeroLengthString" use="optional"/>
        <xs:attribute name="liabilityIndicator" type="st_LiabilityIndicator" use="required"/>
        <xs:attribute name="contractNumber" type="types:st_NonZeroLengthString" use="optional"/>
        <xs:attribute name="langId" type="xs:positiveInteger" use="optional"/>
    </xs:complexType>
    <xs:simpleType name="st_LiabilityIndicator">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Individual"/>
            <xs:enumeration value="Corporate"/>
            <xs:enumeration value="Consumer"/>
            <xs:enumeration value="Business"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ct_NewAccount">
        <xs:sequence>
            <xs:element name="Liability" type="ct_Liability"/>
            <xs:element name="CreditCheck" type="ct_CreditCheck"  minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ct_Liability">
        <xs:sequence>
            <xs:element name="Name" type="types:ct_Name"/>
            <xs:element name="Address" type="types:ct_Address"/>
            <xs:element name="Authentication" type="ct_Authentication"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ct_Authentication">
        <xs:sequence>
            <xs:choice>
                <xs:element name="FedTaxID" type="types:st_NonZeroLengthString"/>
                <xs:sequence>
                    <xs:element name="SSN" type="types:st_SSN"/>
                    <xs:element name="DOB" type="types:st_YearMonthDay"/>
                    <xs:element name="PhotoIdentity" type="types:ct_PhotoIdentity" minOccurs="0"/>
                </xs:sequence>
            </xs:choice>
            <xs:element name="SecurityQuestion" type="ct_SecurityQuestion" minOccurs="0"/>
            <xs:element name="PIN" type="types:st_NonZeroLengthString" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ct_SecurityQuestion">
        <xs:sequence>
            <xs:element name="SecurityQuestion" type="types:st_NonZeroLengthString"/>
            <xs:element name="SecurityQuestionAnswer" type="types:st_NonZeroLengthString"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ct_CreditCheck">
        <xs:sequence>
            <xs:element name="DepositAmount" type="types:st_USCurrency" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="applicationNumber" type="types:st_NonZeroLengthString" use="optional"/>
        <xs:attribute name="numberLinesReq" type="xs:nonNegativeInteger" use="required"/>
        <xs:attribute name="numberApprLines" type="xs:nonNegativeInteger" use="optional"/>
        <xs:attribute name="applicationApprovalDate" type="types:st_YearMonthDay" use="optional"/>
        <xs:attribute name="applicationExpiresDate" type="types:st_YearMonthDay" use="optional"/>
        <xs:attribute name="creditStatus" type="st_CreditStatus" use="required"/>
        <xs:attribute name="guid" type="types:st_NonZeroLengthString" use="optional"/>
    </xs:complexType>
    <xs:simpleType name="st_CreditStatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Approved"/>
            <xs:enumeration value="Deposit"/>
            <xs:enumeration value="Pending"/>
            <xs:enumeration value="Review"/>
            <xs:enumeration value="Declined"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ct_ExistingAccount">
        <xs:sequence>
            <xs:element name="AccountIdentification">
                <xs:complexType>
                    <xs:choice>
                        <xs:sequence>
                            <xs:element name="MobileNumber" type="types:st_PhoneNumber"/>
                            <xs:element name="AccountNumber" type="types:st_NonZeroLengthString" minOccurs="0"/>
                        </xs:sequence>
                        <xs:element name="AccountNumber" type="types:st_NonZeroLengthString"/>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
            <xs:choice>
                <xs:element name="ExistingSSN" type="types:st_SSN"/>
                <xs:element name="ExistingLast4SSN" type="types:st_Last4SSN"/>
                <xs:element name="ExistingFedTaxID" type="types:st_NonZeroLengthString"/>
            </xs:choice>
            <xs:element name="ExistingLiability" type="ct_ExistingLiability" minOccurs="0"/>
            <xs:element name="CreditCheck" type="ct_CreditCheck" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ct_ExistingLiability">
        <xs:sequence>
            <xs:element name="Name" type="types:ct_Name" minOccurs="0"/>
            <xs:choice>
                <xs:element name="Address" type="types:ct_Address" minOccurs="0"/>
                <xs:element name="PostalCode" type="types:ct_PostalCode"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ct_PrepaidAccount">
        <xs:sequence>
            <xs:element name="PrepaidLiability" type="ct_PrepaidLiability"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ct_PrepaidLiability">
        <xs:sequence>
            <xs:element name="Name" type="types:ct_Name"/>
            <xs:element name="Address" type="types:ct_Address"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="st_ContractLengthUnit">
        <xs:restriction base="xs:string">
            <xs:enumeration value="months"/>
            <xs:enumeration value="years"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ct_ContractLength">
        <xs:attribute name="length" type="xs:nonNegativeInteger" use="required"/>
        <xs:attribute name="unit" type="st_ContractLengthUnit" use="required"/>
    </xs:complexType>
    <xs:complexType name="ct_Subscriber">
        <xs:sequence>
            <xs:element name="Usage" type="ct_Usage"/>
            <xs:element name="Service" type="ct_Service"/>
            <xs:element name="ContractLength" type="ct_ContractLength" minOccurs="0"/>
            <xs:element name="Equipment" type="ct_Equipment" minOccurs="0"/>
            <xs:element name="ReservedMobileNumber" type="types:st_PhoneNumber" minOccurs="0"/>
            <xs:element name="FlexFields" type="ct_FlexFields" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="subscriberReference" type="types:st_NonZeroLengthString" use="required"/>
        <xs:attribute name="group" type="st_Group" use="optional"/>
        <xs:attribute name="techType" type="xs:positiveInteger" use="required"/>
        <xs:attribute name="tcVersion" use="optional" type="types:st_NonZeroLengthString"/>
        <xs:attribute name="tcAgreedDateAndTime" use="optional" type="xs:dateTime"/>
        <xs:attribute name="customerType" type="st_CustomerType" use=" required"/>
    </xs:complexType>
    <xs:simpleType name="st_CustomerType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NEW"/>
            <xs:enumeration value="AL"/>
            <xs:enumeration value="ALF"/>
            <xs:enumeration value="LNP"/>
            <xs:enumeration value="LNPAL"/>
            <xs:enumeration value="LNPALF"/>
            <xs:enumeration value="UP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="st_Group">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SharedPlanSecondary"/>
            <xs:enumeration value="SharedPlanPrimary"/>
            <xs:enumeration value="SinglePlan"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ct_Usage">
        <xs:sequence>
            <xs:element name="Name" type="types:ct_Name"/>
            <xs:element name="Address" type="types:ct_Address"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ct_Service">
        <xs:sequence>
            <xs:element name="RatePlan" minOccurs="0">
                <xs:complexType>
                    <xs:attribute name="systemName" type="types:st_NonZeroLengthString" use="optional"/>
                    <xs:attribute name="billingCode" type="types:st_NonZeroLengthString" use="required"/>
                    <xs:attribute name="price" type="types:st_USCurrency" use="required"/>
                    <xs:attribute name="displayName" type="types:st_NonZeroLengthString" use="optional"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="IncludedFeature" type="ct_IncludedFeature" minOccurs="0" />
            <xs:element name="OptionalFeature" type="ct_OptionalFeature" minOccurs="0"/>
            <xs:element name="LnpPortIn" type="ct_LnpPortIn" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="activationFee" type="types:st_USCurrency" use="optional"/>
    </xs:complexType>
    <xs:complexType name="ct_Equipment">
        <xs:sequence>
            <xs:element name="SIM" type="ct_SIM" minOccurs="0"/>
            <xs:choice minOccurs="0">
                <xs:element name="Device" type="ct_Device"/>
                <xs:element name="ExistingDevice" type="ct_ExistingDevice"/>
            </xs:choice>
            <xs:element name="Accessory" type="ct_Accessory" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Collateral" type="ct_Collateral" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ct_SIM">
        <xs:sequence>
            <xs:element name="SystemName" type="types:st_NonZeroLengthString" minOccurs="0"/>
            <xs:element name="SKU" type="types:st_NonZeroLengthString"/>
            <xs:element name="Make" type="types:st_NonZeroLengthString" minOccurs="0"/>
            <xs:element name="ICCID" type="types:st_ICCID" minOccurs="0"/>
            <xs:element name="DisplayName" type="types:st_NonZeroLengthString" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="price" type="types:st_USCurrency" use="optional"/>
    </xs:complexType>
    <xs:complexType name="ct_Device">
        <xs:sequence>
            <xs:element name="SystemName" type="types:st_NonZeroLengthString" minOccurs="0"/>
            <xs:element name="SKU" type="types:st_NonZeroLengthString"/>
            <xs:element name="Make" type="types:st_NonZeroLengthString"/>
            <xs:choice minOccurs="0">
                <xs:element name="IMEI" type="types:st_IMEI"/>
                <xs:element name="ESN" type="types:st_ESN"/>
            </xs:choice>
            <xs:element name="DisplayName" type="types:st_NonZeroLengthString" minOccurs="0"/>
            <xs:element name="PhoneType" type="types:st_NonZeroLengthString" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="originalPrice" type="types:st_USCurrency" use="optional"/>
        <xs:attribute name="price" type="types:st_USCurrency" use="optional"/>
        <xs:attribute name="discount" type="types:st_USCurrency" use="optional"/>
    </xs:complexType>
    <xs:complexType name="ct_ExistingDevice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="IMEI" type="types:st_IMEI"/>
                <xs:element name="ESN" type="types:st_ESN"/>
            </xs:choice>
            <xs:element name="Manufacturer" type="types:st_NonZeroLengthString"/>
            <xs:element name="Model" type="types:st_NonZeroLengthString"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ct_Accessory">
        <xs:sequence>
            <xs:element name="SystemName" type="types:st_NonZeroLengthString" minOccurs="0"/>
            <xs:element name="SKU" type="types:st_NonZeroLengthString"/>
            <xs:element name="DisplayName" type="types:st_NonZeroLengthString" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="quantity" type="xs:nonNegativeInteger" use="required"/>
        <xs:attribute name="price" type="types:st_USCurrency" use="optional"/>
    </xs:complexType>
    <xs:complexType name="ct_Collateral">
        <xs:sequence>
            <xs:element name="SystemName" type="types:st_NonZeroLengthString" minOccurs="0"/>
            <xs:element name="SKU" type="types:st_NonZeroLengthString"/>
            <xs:element name="Make" type="types:st_NonZeroLengthString" minOccurs="0"/>
            <xs:element name="DisplayName" type="types:st_NonZeroLengthString" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="quantity" type="xs:nonNegativeInteger" use="required"/>
        <xs:attribute name="price" type="types:st_USCurrency" use="optional"/>
    </xs:complexType>
    <xs:complexType name="ct_IncludedFeature">
        <xs:sequence>
            <xs:element name="Feature" type="ct_PromoFeature" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ct_OptionalFeature">
        <xs:sequence>
            <xs:element name="Feature" type="ct_PromoFeature" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ct_PromoFeature">
        <xs:attribute name="systemName" type="types:st_NonZeroLengthString" use="optional"/>
        <xs:attribute name="billingCode" type="types:st_NonZeroLengthString" use="required"/>
        <xs:attribute name="price" type="types:st_USCurrency" use="required"/>
        <xs:attribute name="displayName" type="types:st_NonZeroLengthString" use="optional"/>
    </xs:complexType>
    <xs:complexType name="ct_LnpPortIn">
        <xs:sequence>
            <xs:element name="LnpCustomerInfo" type="ct_LnpCustomerInfo"/>
            <xs:element name="PortingNumber" type="types:st_PhoneNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ct_LnpCustomerInfo">
        <xs:sequence>
            <xs:element name="IndividualName" type="types:ct_Name"/>
            <xs:element name="BusinessName" type="types:st_NonZeroLengthString" minOccurs="0"/>
            <xs:element name="AuthName" type="types:ct_Name" minOccurs="0" />
            <xs:element name="SourceAddress" type="types:ct_Address"/>
            <xs:choice>
                <xs:element name="SSN" type="types:st_SSN"/>
                <xs:element name="Last4SSN" type="types:st_Last4SSN"/>
                <xs:element name="FedTaxID" type="types:st_NonZeroLengthString"/>
            </xs:choice>
            <xs:element name="AccountNumber" type="types:st_NonZeroLengthString"/>
            <xs:element name="PswdPin" type="types:st_NonZeroLengthString" minOccurs="0"/>
            <xs:element name="FlexFields" type="ct_FlexFields" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ct_Shipping">
        <xs:sequence>
            <xs:element name="Name" type="types:ct_Name"/>
            <xs:element name="Address" type="types:ct_Address"/>
            <xs:element name="FlexFields" type="ct_FlexFields" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="shippingSKU" type="types:st_NonZeroLengthString" use="required"/>
        <xs:attribute name="shippingPrice" type="types:st_USCurrency" use="required"/>
        <xs:attribute name="shippingPriceSKU" type="types:st_NonZeroLengthString" use="optional"/>
    </xs:complexType>
    <xs:complexType name="ct_Payments">
        <xs:sequence>
            <xs:element name="RecurringPayment" type="ct_RecurringPayment" minOccurs="0"/>
            <xs:element name="OneTimePayment" type="ct_OneTimePayment" minOccurs="0"/>
            <xs:element name="DepositPayment" type="ct_DepositPayment" minOccurs="0"/>
            <xs:element name="CreditPayment" type="ct_CreditPayment" minOccurs="0" maxOccurs="3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ct_OneTimePayment">
        <xs:sequence>
            <xs:element name="CreditPaymentRef" type="ct_CreditPaymentRef"/>
        </xs:sequence>
        <xs:attribute name="amount" type="types:st_USCurrency" use="required"/>
        <xs:attribute name="estimatedTax" type="types:st_USCurrency" use="optional"/>
    </xs:complexType>
    <xs:complexType name="ct_DepositPayment">
        <xs:choice>
            <xs:element name="CreditPaymentRef" type="ct_CreditPaymentRef"/>
        </xs:choice>
        <xs:attribute name="amount" type="types:st_USCurrency" use="required"/>
    </xs:complexType>
    <xs:complexType name="ct_RecurringPayment">
        <xs:sequence>
            <xs:element name="CreditPaymentRef" type="ct_CreditPaymentRef"/>
        </xs:sequence>
        <xs:attribute name="amount" type="types:st_USCurrency" use="optional"/>
    </xs:complexType>
    <xs:complexType name="ct_PaymentContactInfo">
        <xs:sequence>
            <xs:element name="Name" type="types:ct_Name"/>
            <xs:element name="Address" type="types:ct_Address"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="st_CreditCardType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="American Express"/>
            <xs:enumeration value="Discover"/>
            <xs:enumeration value="Master Card"/>
            <xs:enumeration value="Visa"/>
            <xs:enumeration value="DINERS CLUB"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ct_CreditPayment">
        <xs:complexContent>
            <xs:extension base="ct_PaymentContactInfo">
                <xs:sequence>
                    <xs:element name="ExpirationYearMonth" type="xs:gYearMonth"/>
                </xs:sequence>
                <xs:attribute name="creditCardType" use="required" type="st_CreditCardType"/>
                <xs:attribute name="creditCardNumber" type="types:st_NonZeroLengthString" use="required"/>
                <xs:attribute name="uniqueId" type="st_CreditPaymentUniqueId" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ct_CreditPaymentRef">
        <xs:attribute name="uniqueIdRef" type="st_CreditPaymentUniqueId" use="required"/>
    </xs:complexType>
    <xs:simpleType name="st_CreditPaymentUniqueId">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RECURRING"/>
            <xs:enumeration value="ONETIME"/>
            <xs:enumeration value="DEPOSIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ct_FlexFields" final="#all">
        <xs:sequence>
            <xs:element name="FlexField" type="ct_FlexField" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ct_FlexField" final="#all">
        <xs:sequence>
            <xs:element name="Key" type="types:st_NonZeroLengthString"/>
            <xs:choice>
                <xs:element name="Value" type="types:st_NonZeroLengthString"/>
                <xs:element name="FlexFields" type="ct_FlexField"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
</xs:schema>