xml/tests/testData/xml/XsiType_TypesV1.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright 2001-2009 Synchronoss Technologies, Inc. 750 Route 202 South,
    Bridgewater, New Jersey, 08807, U.S.A.  All Rights Reserved.

    This source code is part of the ConvergenceNow(R) platform and is the
    confidential and proprietary information of Synchronoss Technologies, Inc.
    ("Confidential Information"). You shall not disclose such Confidential
    Information and shall use it only in accordance with the terms of the
    license agreement you entered into with Synchronoss Technologies.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://www.synchronoss.com/common/TypesV1.00.xsd"
    targetNamespace="http://www.synchronoss.com/common/TypesV1.00.xsd"
    elementFormDefault="qualified">
    <xs:complexType name="ct_Header">
        <xs:sequence>
            <xs:element name="Notification" type="ct_Notification"/>
        </xs:sequence>
        <xs:attribute name="timeStamp" type="xs:dateTime" use="required"/>
        <xs:attribute name="transactionID" type="st_NonZeroLengthString" use="optional"/>
    </xs:complexType>
    <xs:complexType name="ct_Notification">
        <xs:attribute name="notificationUrl" type="st_NonZeroLengthString" use="optional"/>
        <xs:attribute name="notificationEmail" type="st_EmailAddress" use="required"/>
        <xs:attribute name="secondaryEmail" type="st_EmailAddress" use="optional"/>
    </xs:complexType>
    <xs:simpleType name="st_EmailAddress">
        <xs:restriction base="st_NonZeroLengthString"/>
    </xs:simpleType>
    <xs:simpleType name="st_NonZeroLengthString">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="st_PhoneNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{10}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ct_PhoneNumberwExtension">
        <xs:sequence>
            <xs:element name="PhoneNumber" type="st_PhoneNumber"/>
            <xs:element name="Extension" type="st_NonZeroLengthString" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="st_State">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AA"/>
            <xs:enumeration value="AK"/>
            <xs:enumeration value="AL"/>
            <xs:enumeration value="AR"/>
            <xs:enumeration value="AZ"/>
            <xs:enumeration value="AP"/>
            <xs:enumeration value="AE"/>
            <xs:enumeration value="CA"/>
            <xs:enumeration value="CO"/>
            <xs:enumeration value="CT"/>
            <xs:enumeration value="DC"/>
            <xs:enumeration value="DE"/>
            <xs:enumeration value="FL"/>
            <xs:enumeration value="FPO"/>
            <xs:enumeration value="GA"/>
            <xs:enumeration value="HI"/>
            <xs:enumeration value="IA"/>
            <xs:enumeration value="ID"/>
            <xs:enumeration value="IL"/>
            <xs:enumeration value="IN"/>
            <xs:enumeration value="KS"/>
            <xs:enumeration value="KY"/>
            <xs:enumeration value="LA"/>
            <xs:enumeration value="MA"/>
            <xs:enumeration value="MD"/>
            <xs:enumeration value="ME"/>
            <xs:enumeration value="MI"/>
            <xs:enumeration value="MN"/>
            <xs:enumeration value="MO"/>
            <xs:enumeration value="MS"/>
            <xs:enumeration value="MT"/>
            <xs:enumeration value="NC"/>
            <xs:enumeration value="ND"/>
            <xs:enumeration value="NE"/>
            <xs:enumeration value="NH"/>
            <xs:enumeration value="NJ"/>
            <xs:enumeration value="NM"/>
            <xs:enumeration value="NV"/>
            <xs:enumeration value="NY"/>
            <xs:enumeration value="OH"/>
            <xs:enumeration value="OK"/>
            <xs:enumeration value="OR"/>
            <xs:enumeration value="PA"/>
            <xs:enumeration value="PR"/>
            <xs:enumeration value="RI"/>
            <xs:enumeration value="SC"/>
            <xs:enumeration value="SD"/>
            <xs:enumeration value="TN"/>
            <xs:enumeration value="TX"/>
            <xs:enumeration value="UT"/>
            <xs:enumeration value="VA"/>
            <xs:enumeration value="VI"/>
            <xs:enumeration value="VT"/>
            <xs:enumeration value="WA"/>
            <xs:enumeration value="WI"/>
            <xs:enumeration value="WV"/>
            <xs:enumeration value="WY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="st_PostalCode5">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:length value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="st_Plus4">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:length value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ct_PostalCode">
        <xs:simpleContent>
            <xs:extension base="st_PostalCode5">
                <xs:attribute name="plus4" type="st_Plus4" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="st_NamePrefix">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Mr."/>
            <xs:enumeration value="Mrs."/>
            <xs:enumeration value="Miss."/>
            <xs:enumeration value="Ms."/>
            <xs:enumeration value="Dr."/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="st_NameSuffix">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DDS"/>
            <xs:enumeration value="I"/>
            <xs:enumeration value="II"/>
            <xs:enumeration value="III"/>
            <xs:enumeration value="IV"/>
            <xs:enumeration value="Jr"/>
            <xs:enumeration value="Jr."/>
            <xs:enumeration value="JR"/>
            <xs:enumeration value="MD"/>
            <xs:enumeration value="PhD"/>
            <xs:enumeration value="Sr"/>
            <xs:enumeration value="Sr."/>
            <xs:enumeration value="SR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ct_Name">
        <xs:sequence>
            <xs:element name="Title" type="st_NonZeroLengthString" minOccurs="0"/>
            <xs:element minOccurs="0" type="st_NamePrefix" name="Prefix"/>
            <xs:element name="FirstName" type="st_NonZeroLengthString"/>
            <xs:element name="MiddleInitial" type="st_NonZeroLengthString" minOccurs="0"/>
            <xs:element name="LastName" type="st_NonZeroLengthString"/>
            <xs:element minOccurs="0" name="Suffix" type="st_NameSuffix"/>
            <xs:element name="HomePhone" type="st_PhoneNumber"/>
            <xs:element name="WorkPhone" type="ct_PhoneNumberwExtension"/>
            <xs:element name="EmailAddress" type="st_EmailAddress" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="st_SSN">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="st_Last4SSN">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="st_YearMonthDay">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ct_PhotoIdentity">
        <xs:sequence>
            <xs:element name="LicenseNumber" type="st_NonZeroLengthString"/>
            <xs:element name="StateIssued" type="st_NonZeroLengthString"/>
            <xs:element name="LicenseExpirationDate" type="st_YearMonthDay"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="st_USCurrency">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ct_Address">
        <xs:sequence>
            <xs:choice>
                <xs:element name="POBox" type="st_NonZeroLengthString"/>
                <xs:sequence>
                    <xs:element name="Street1" type="st_NonZeroLengthString"/>
                    <xs:element name="Street2" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:sequence>
                    <xs:element name="HouseNumber" type="st_NonZeroLengthString" minOccurs="0"/>
                    <xs:element name="HouseNumberSuffix" type="st_NonZeroLengthString" minOccurs="0"/>
                    <xs:element name="DirectionPrefix" type="st_NonZeroLengthString" minOccurs="0"/>
                    <xs:element name="Direction" type="st_NonZeroLengthString" minOccurs="0"/>
                    <xs:element name="StreetName" type="st_NonZeroLengthString"/>
                    <xs:element name="StreetNameSuffix" type="st_NonZeroLengthString" minOccurs="0"/>
                    <xs:element name="StreetType" type="st_NonZeroLengthString" minOccurs="0"/>
                    <xs:element name="Structure" type="st_NonZeroLengthString" minOccurs="0"/>
                    <xs:element name="StructureNum" type="st_NonZeroLengthString" minOccurs="0"/>
                    <xs:element name="Level" type="st_NonZeroLengthString" minOccurs="0"/>
                    <xs:element name="LevelNum" type="st_NonZeroLengthString" minOccurs="0"/>
                    <xs:element name="ApartmentUnit" type="st_NonZeroLengthString" minOccurs="0"/>
                    <xs:element name="ApartmentUnitNum" type="st_NonZeroLengthString" minOccurs="0"/>
                </xs:sequence>
            </xs:choice>
            <xs:element name="City" type="st_NonZeroLengthString"/>
            <xs:element name="State" type="st_State"/>
            <xs:element name="PostalCode" type="ct_PostalCode"/>
            <xs:element name="Country" type="st_NonZeroLengthString" minOccurs="0"/>
            <xs:element name="Attention" type="st_NonZeroLengthString" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="type" use="optional" type="st_AddressType"/>
    </xs:complexType>
    <xs:simpleType name="st_AddressType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="United States"/>
            <xs:enumeration value="Rural Route"/>
            <xs:enumeration value="Military"/>
            <xs:enumeration value="P.O. Box"/>
            <xs:enumeration value="International"/>
            <xs:enumeration value="Puerto Rico/USVI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="st_ICCID">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{20}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="st_IMEI">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="st_ESN">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{18}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>