xml/relaxng/testData/completion/attr-combine-test.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0" ns="attr-combine-test.rng">
  <start>
    <element name="start">
      <ref name="attributes" />
    </element>
  </start>

  <define name="attributes" combine="choice">
    <attribute name="bar">
      <value>2.0</value>
    </attribute>
  </define>

  <define name="attributes">
    <attribute name="foo">
      <value>1.0</value>
    </attribute>
  </define>
<!--

  <define name="attributes">
    <attribute name="foo">
      <value>1.0</value>
    </attribute>
  </define>
-->
</grammar>