xml/relaxng/testData/validation/simple.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0" ns="urn:test:simple.rng">
  <start>
    <choice>
      <element name="missing-element">
        <element name="required"><empty /></element>
      </element>

      <element name="invalid-element">
        <element name="required"><empty /></element>
      </element>

      <element name="text-content">
        <oneOrMore>
          <element name="boolean">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
        </oneOrMore>
      </element>

      <element name="entity-element">
        <value type="string">ü"</value>
      </element>

      <element name="cdata-element">
        <value type="token"><![CDATA[<a & b>]]></value>
      </element>
    </choice>
  </start>

</grammar>