xml/tests/testData/xml/TheSameTypeName/test-xsd1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        xmlns:ns="http://namespace1"
        xmlns:cmnns="http://common-namespace1"
        xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified"
        targetNamespace="http://namespace1">
    <xs:import namespace="http://common-namespace1" schemaLocation="test-common-xsd1.xsd"/>
    <xs:complexType name="rootEelementType">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="Request" type="cmnns:Child"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="rootEelment" type="ns:rootEelementType"/>
</xs:schema>