plugins/xpath/xpath-lang/testData/xslt2/highlighting/move-def.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="nsx"
           xmlns="nsx"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <xs:element name="root" type="xs:string"/>

  <xs:simpleType name="custom-type-1">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="customType2">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]+"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>