xml/tests/testData/completion/tagValue/enumerated.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
        targetNamespace="foo.bar">
    <xs:element name="foo">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="none"/>
            <xs:enumeration value="standard"/>
          </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="bar" type="xs:boolean"/>
    
    <xs:element name="def" type="xs:string" default="my default"/>
</xs:schema>
