xml/relaxng/testData/highlighting/rng/backward-file1.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <include href="backward-included.rng"/>

  <start>
    <element name="root">
      <ref name="child1"/>
      <ref name="bar"/>
    </element>
  </start>

  <define name="child1">
    <element name="root-child1">
      <data type="string"/>
    </element>
  </define>

</grammar>
