xml/relaxng/testData/highlighting/rng/bad-parent-ref-2.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0" ns="urn:test:simple.rng">
  <start>
    <ref name="target2" />
  </start>

  <include href="bad-parent-ref-1.rng">
    <define name="target1">
      <parentRef name="<error>target2</error>" />
    </define>
  </include>

  <define name="target2">
    <element name="foo">
      <empty />
    </element>
  </define>
</grammar>