xml/tests/testData/schemaPrefix/rename_after.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://mySchema"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:my="http://mySchema">

    <xsd:element name="myElement" type="my:TYPE"/>
    <xsd:simpleType name="TYPE" id="TYPE">
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="0" id="nonNegativeInteger.minInclusive"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="T" id="T">
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="0" id="id"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
