java/idea-ui/src/com/intellij/platform/templates/IU_template_groups.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.jetbrains.com/projectTemplates">
  <xs:element name="template-groups" type="template-groupsType"/>
  <xs:complexType name="groupType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="path"/>
      <xs:element type="templateType" name="template"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="templateType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="description"/>
      <xs:element type="xs:string" name="path"/>
      <xs:element name="input-field" maxOccurs="unbounded" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="IJ_BASE_PACKAGE"/>
            <xs:enumeration value="IJ_APPLICATION_SERVER"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="template-groupsType">
    <xs:sequence>
      <xs:element type="groupType" name="group"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>