xml/tests/testData/xml/OasisDocumentHighlighting/glossary.mod.rnc

# =============================================================

# HEADER

# =============================================================

# MODULE:    DITA Glossary

# VERSION:   1.1

# DATE:      June 2006

#

# =============================================================

# =============================================================

# PUBLIC DOCUMENT TYPE DEFINITION

# TYPICAL INVOCATION

#

# Refer to this file by the following public identifier or an 
#       appropriate system identifier 
# PUBLIC "-//OASIS//ELEMENTS DITA Glossary//EN"
#       Delivered as file "glossary.mod"

# =============================================================

# SYSTEM:     Darwin Information Typing Architecture (DITA)

#

# PURPOSE:    Define elements and specialization atttributes

# for Glossary topics

#

# ORIGINAL CREATION DATE:

# June 2006

#

# (C) Copyright OASIS Open 2006.

# All Rights Reserved.

# UPDATES:

# =============================================================

# =============================================================

# ARCHITECTURE ENTITIES

# =============================================================

# default namespace prefix for DITAArchVersion attribute can be
# overridden through predefinition in the document type shell

# must be instanced on each topic type

# =============================================================

# SPECIALIZATION OF DECLARED ELEMENTS

# =============================================================

# =============================================================

# ELEMENT NAME ENTITIES

# =============================================================

namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"

glossterm = glossterm.element
glossdef = glossdef.element
# =============================================================

# DOMAINS ATTRIBUTE OVERRIDE

# =============================================================

# =============================================================

# ELEMENT DECLARATIONS

# =============================================================

# LONG NAME: Glossary Entry
glossentry.element =
  element glossentry {
    glossentry.attlist,
    glossterm,
    glossdef,
    related-links?,
    glossentry-info-types*
  }
glossentry.attlist &=
  attribute id { xsd:ID },
  attribute conref { text }?,
  select-atts,
  localization-atts,
  arch-atts,
  attribute outputclass { text }?,
  [
    a:defaultValue =
      "(topic ui-d) (topic hi-d) (topic pr-d) (topic sw-d)                          (topic ut-d) (topic indexing-d)"
  ]
  attribute domains { text }?
# LONG NAME: Glossary Term
glossterm.element = element glossterm { glossterm.attlist, title.cnt* }
glossterm.attlist &=
  id-atts,
  localization-atts,
  attribute outputclass { text }?
# LONG NAME: Glossary Definition
glossdef.element =
  element glossdef {
    glossdef.attlist, (section.notitle.cnt | shortdesc)*
  }
glossdef.attlist &=
  univ-atts,
  attribute outputclass { text }?
# =============================================================

# SPECIALIZATION ATTRIBUTE DECLARATIONS

# =============================================================
glossentry.attlist &=
  global-atts,
  [
    a:defaultValue =
      "- topic/topic concept/concept glossentry/glossentry "
  ]
  attribute class { text }?
glossterm.attlist &=
  global-atts,
  [
    a:defaultValue = "- topic/title concept/title glossentry/glossterm "
  ]
  attribute class { text }?
glossdef.attlist &=
  global-atts,
  [
    a:defaultValue =
      "- topic/abstract concept/abstract glossentry/glossdef "
  ]
  attribute class { text }?
# ================== End DITA Glossary ========================
