xml/tests/testData/xml/OasisDocumentHighlighting/indexingDomain.mod.rnc

# =============================================================

# HEADER

# =============================================================

# MODULE:    DITA Indexing  Domain

# VERSION:   1.1

# DATE:      June 2006

#

# =============================================================

# =============================================================

# PUBLIC DOCUMENT TYPE DEFINITION

# TYPICAL INVOCATION

#

# Refer to this file by the following public identifier or an
#       appropriate system identifier 
# PUBLIC "-//OASIS//ELEMENTS DITA Indexing Domain//EN"
#       Delivered as file "indexingDomain.mod"

# =============================================================

# SYSTEM:     Darwin Information Typing Architecture (DITA)

#

# PURPOSE:    Declaring the elements and specialization

# attributes for the DITA Indexing Domain

#

# ORIGINAL CREATION DATE:

# June 2006

#

# (C) Copyright OASIS Open 2006.

# All Rights Reserved.

#

# UPDATES:

# =============================================================

# =============================================================

# ELEMENT NAME ENTITIES

# =============================================================

# =============================================================

# COMMON ATTLIST SETS

# =============================================================

# =============================================================

# ELEMENT DECLARATIONS for IMAGEMAP

# =============================================================

# LONG NAME: Index See

namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"

index-see.element =
  element index-see { index-see.attlist, (words.cnt | indexterm)* }
index-see.attlist &=
  attribute keyref { text }?,
  univ-atts
# LONG NAME: Index See Also
index-see-also.element =
  element index-see-also {
    index-see-also.attlist, (words.cnt | indexterm)*
  }
index-see-also.attlist &=
  attribute keyref { text }?,
  univ-atts
# LONG NAME: Index Sort As
index-sort-as.element =
  element index-sort-as { index-sort-as.attlist, words.cnt* }
index-sort-as.attlist &=
  attribute keyref { text }?,
  univ-atts
# =============================================================

# SPECIALIZATION ATTRIBUTE DECLARATIONS

# =============================================================
index-see.attlist &=
  global-atts,
  [ a:defaultValue = "+ topic/index-base indexing-d/index-see " ]
  attribute class { text }?
index-see-also.attlist &=
  global-atts,
  [ a:defaultValue = "+ topic/index-base indexing-d/index-see-also " ]
  attribute class { text }?
index-sort-as.attlist &=
  global-atts,
  [ a:defaultValue = "+ topic/index-base indexing-d/index-sort-as " ]
  attribute class { text }?
# ================== End Indexing Domain ======================
