xml/tests/testData/xml/OasisDocumentHighlighting/reference.mod.rnc

# =============================================================

# HEADER

# =============================================================

# MODULE:    DITA Reference

# VERSION:   1.1

# DATE:      June 2006

#

# =============================================================

# =============================================================

# PUBLIC DOCUMENT TYPE DEFINITION

# TYPICAL INVOCATION

#

# Refer to this file by the following public identifier or an 
#       appropriate system identifier 
# PUBLIC "-//OASIS//ELEMENTS DITA Reference//EN"
#       Delivered as file "reference.mod"

# =============================================================

# SYSTEM:     Darwin Information Typing Architecture (DITA)

#

# PURPOSE:    Declaring the elements and specialization

# attributes for Reference

#

# ORIGINAL CREATION DATE:

# March 2001

#

# (C) Copyright OASIS Open 2005, 2006.

# (C) Copyright IBM Corporation 2001, 2004.

# All Rights Reserved.

#

# UPDATES:

# 2005.11.15 RDA: Removed old declaration for

# referenceClasses entity

# 2005.11.15 RDA: Corrected LONG NAME for propdeschd

# 2006.06.07 RDA: Added <abstract> element

# 2006.06.07 RDA: Make universal attributes universal

# (DITA 1.1 proposal #12)

# =============================================================

# =============================================================

# ARCHITECTURE ENTITIES

# =============================================================

# default namespace prefix for DITAArchVersion attribute can be
# overridden through predefinition in the document type shell

# must be instanced on each topic type

# =============================================================

# SPECIALIZATION OF DECLARED ELEMENTS

# =============================================================

namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"

reference-info-types = info-types
# =============================================================

# ELEMENT NAME ENTITIES

# =============================================================
refbody = refbody.element
refsyn = refsyn.element
properties = properties.element
property = property.element
proptype = proptype.element
propvalue = propvalue.element
propdesc = propdesc.element
prophead = prophead.element
proptypehd = proptypehd.element
propvaluehd = propvaluehd.element
propdeschd = propdeschd.element
# =============================================================

# DOMAINS ATTRIBUTE OVERRIDE

# =============================================================

# =============================================================

# ELEMENT DECLARATIONS

# =============================================================

# LONG NAME: Reference
reference.element =
  element reference {
    reference.attlist,
    title,
    titlealts?,
    (shortdesc | abstract)?,
    prolog?,
    refbody?,
    related-links?,
    reference-info-types*
  }
reference.attlist &=
  attribute id { xsd:ID },
  attribute conref { text }?,
  select-atts,
  localization-atts,
  arch-atts,
  [
    a:defaultValue =
      "(topic ui-d) (topic hi-d) (topic pr-d) (topic sw-d)                          (topic ut-d) (topic indexing-d)"
  ]
  attribute domains { text }?,
  attribute outputclass { text }?
# LONG NAME: Reference Body
refbody.element =
  element refbody {
    refbody.attlist,
    (section
     | refsyn
     | example
     | table
     | simpletable
     | properties
     | data.elements.incl
     | foreign.unknown.incl)*
  }
refbody.attlist &=
  id-atts,
  localization-atts,
  attribute outputclass { text }?
# LONG NAME: Reference Syntax
refsyn.element = element refsyn { refsyn.attlist, section.cnt* }
refsyn.attlist &=
  attribute spectitle { text }?,
  univ-atts,
  attribute outputclass { text }?
# LONG NAME: Properties
properties.element =
  element properties { properties.attlist, prophead?, property+ }
properties.attlist &=
  attribute relcolwidth { text }?,
  attribute keycol { xsd:NMTOKEN }?,
  attribute refcols { xsd:NMTOKENS }?,
  attribute spectitle { text }?,
  display-atts,
  univ-atts,
  attribute outputclass { text }?
# LONG NAME:  Property Head
prophead.element =
  element prophead {
    prophead.attlist, proptypehd?, propvaluehd?, propdeschd?
  }
prophead.attlist &=
  univ-atts,
  attribute outputclass { text }?
# LONG NAME: Property Type Head
proptypehd.element =
  element proptypehd { proptypehd.attlist, tblcell.cnt* }
proptypehd.attlist &=
  attribute specentry { text }?,
  univ-atts,
  attribute outputclass { text }?
# LONG NAME: Property Value Head
propvaluehd.element =
  element propvaluehd { propvaluehd.attlist, tblcell.cnt* }
propvaluehd.attlist &=
  attribute specentry { text }?,
  univ-atts,
  attribute outputclass { text }?
# LONG NAME: Property Description Head
propdeschd.element =
  element propdeschd { propdeschd.attlist, tblcell.cnt* }
propdeschd.attlist &=
  attribute specentry { text }?,
  univ-atts,
  attribute outputclass { text }?
# LONG NAME: Property
property.element =
  element property {
    property.attlist, proptype?, propvalue?, propdesc?
  }
property.attlist &=
  univ-atts,
  attribute outputclass { text }?
# LONG NAME: Property Type
proptype.element = element proptype { proptype.attlist, ph.cnt* }
proptype.attlist &=
  attribute specentry { text }?,
  univ-atts,
  attribute outputclass { text }?
# LONG NAME: Property Value
propvalue.element = element propvalue { propvalue.attlist, ph.cnt* }
propvalue.attlist &=
  attribute specentry { text }?,
  univ-atts,
  attribute outputclass { text }?
# LONG NAME: Property Descrption
propdesc.element = element propdesc { propdesc.attlist, desc.cnt* }
propdesc.attlist &=
  attribute specentry { text }?,
  univ-atts,
  attribute outputclass { text }?
# =============================================================

# SPECIALIZATION ATTRIBUTE DECLARATIONS

# =============================================================
reference.attlist &=
  global-atts,
  [ a:defaultValue = "- topic/topic       reference/reference " ]
  attribute class { text }?
refbody.attlist &=
  global-atts,
  [ a:defaultValue = "- topic/body        reference/refbody " ]
  attribute class { text }?
refsyn.attlist &=
  global-atts,
  [ a:defaultValue = "- topic/section     reference/refsyn " ]
  attribute class { text }?
properties.attlist &=
  global-atts,
  [ a:defaultValue = "- topic/simpletable reference/properties " ]
  attribute class { text }?
property.attlist &=
  global-atts,
  [ a:defaultValue = "- topic/strow       reference/property " ]
  attribute class { text }?
proptype.attlist &=
  global-atts,
  [ a:defaultValue = "- topic/stentry     reference/proptype " ]
  attribute class { text }?
propvalue.attlist &=
  global-atts,
  [ a:defaultValue = "- topic/stentry     reference/propvalue " ]
  attribute class { text }?
propdesc.attlist &=
  global-atts,
  [ a:defaultValue = "- topic/stentry     reference/propdesc " ]
  attribute class { text }?
prophead.attlist &=
  global-atts,
  [ a:defaultValue = "- topic/sthead      reference/prophead " ]
  attribute class { text }?
proptypehd.attlist &=
  global-atts,
  [ a:defaultValue = "- topic/stentry     reference/proptypehd " ]
  attribute class { text }?
propvaluehd.attlist &=
  global-atts,
  [ a:defaultValue = "- topic/stentry     reference/propvaluehd " ]
  attribute class { text }?
propdeschd.attlist &=
  global-atts,
  [ a:defaultValue = "- topic/stentry     reference/propdeschd " ]
  attribute class { text }?
# ================== End DITA Reference  ===========================
