xml/tests/testData/xml/OasisDocumentHighlighting/utilitiesDomain.mod.rnc

# =============================================================

# HEADER

# =============================================================

# MODULE:    DITA Utilities Domain

# VERSION:   1.1

# DATE:      June 2006

#

# =============================================================

# =============================================================

# PUBLIC DOCUMENT TYPE DEFINITION

# TYPICAL INVOCATION

#

# Refer to this file by the following public identifier or an
#       appropriate system identifier 
# PUBLIC "-//OASIS//ELEMENTS DITA Utilities Domain//EN"
#       Delivered as file "utilitiesDomain.mod"

# =============================================================

# SYSTEM:     Darwin Information Typing Architecture (DITA)

#

# PURPOSE:    Declaring the elements and specialization

# attributes for the DITA Utilities Domain

#

# ORIGINAL CREATION DATE:

# March 2001

#

# (C) Copyright OASIS Open 2005, 2006.

# (C) Copyright IBM Corporation 2001, 2004.

# All Rights Reserved.

#

# UPDATES:

# 2005.11.15 RDA: Updated these comments to match template

# 2005.11.15 RDA: Corrected the "Delivered as" system ID

# 2006.06.07 RDA: Make universal attributes universal

# (DITA 1.1 proposal #12)

# 2006.06.14 RDA: Move univ-atts-translate-no into topic.mod

# =============================================================

# =============================================================

# ELEMENT NAME ENTITIES

# =============================================================

namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"

area = area.element
shape = shape.element
coords = coords.element
# =============================================================

# COMMON ATTLIST SETS

# =============================================================

# Provide an alternative univ-atts that sets 
# translate to default 'no'

# Now uses the definition from topic.mod

# <!ENTITY % univ-atts-translate-no
# '%id-atts;
#  %select-atts;
#  translate  (yes | no)                       "no"
#  xml:lang   NMTOKEN                          #IMPLIED
#  dir       (ltr | rtl | lro | rlo)           #IMPLIED'   >

# =============================================================

# ELEMENT DECLARATIONS for IMAGEMAP

# =============================================================

# LONG NAME: Imagemap
imagemap.element = element imagemap { imagemap.attlist, image, area+ }
imagemap.attlist &=
  display-atts,
  attribute spectitle { text }?,
  univ-atts,
  attribute outputclass { text }?
# LONG NAME: Hoptspot Area Description
area.element = element area { area.attlist, shape, coords, xref }
area.attlist &=
  univ-atts,
  attribute outputclass { text }?
# LONG NAME: Shape of the Hotspot
shape.element = element shape { shape.attlist, text }
shape.attlist &=
  attribute keyref { text }?,
  univ-atts-translate-no,
  attribute outputclass { text }?
# LONG NAME: Coordinates of the Hotspot
coords.element = element coords { coords.attlist, words.cnt* }
coords.attlist &=
  attribute keyref { text }?,
  univ-atts-translate-no,
  attribute outputclass { text }?
# =============================================================

# SPECIALIZATION ATTRIBUTE DECLARATIONS

# =============================================================
imagemap.attlist &=
  global-atts,
  [ a:defaultValue = "+ topic/fig ut-d/imagemap " ]
  attribute class { text }?
area.attlist &=
  global-atts,
  [ a:defaultValue = "+ topic/figgroup ut-d/area " ]
  attribute class { text }?
shape.attlist &=
  global-atts,
  [ a:defaultValue = "+ topic/keyword ut-d/shape " ]
  attribute class { text }?
coords.attlist &=
  global-atts,
  [ a:defaultValue = "+ topic/ph ut-d/coords " ]
  attribute class { text }?
# ================== End Utilities Domain ======================
