plugins/google-app-engine/testData/sdk/1.3.7/docs/appengine-application.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://appengine.google.com/ns/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="appengine-application" type="ns:appengine-applicationType" xmlns:ns="http://appengine.google.com/ns/1.0"/>
     <xs:complexType name="appengine-applicationType">
        <xs:all>
            <xs:element type="xs:string" name="application"/>
        </xs:all>
    </xs:complexType>
</xs:schema>

