xml/relaxng/src/resources/html5-schema/inkscape/inkscape-draft.rnc

# Copyright (c) 2007 Mozilla Foundation
# 
# Permission is hereby granted, free of charge, to any person obtaining a copy of
# this software and associated documentation files (the "Software"), to deal in
# the Software without restriction, including without limitation the rights to
# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
# of the Software, and to permit persons to whom the Software is furnished to do
# so, subject to the following conditions:
# 
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
# 
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
# THE SOFTWARE.

namespace inkscape = "http://www.inkscape.org/namespaces/inkscape"
namespace sodipodi = "http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"

	sodipodi.namedview.elem =
		element sodipodi:namedview
			{	sodipodi.namedview.inner
			&	sodipodi.namedview.attrs
			}
			sodipodi.namedview.attrs = ( inkscape.attrs )
			sodipodi.namedview.inner = ( empty )

	inkscape.attrs =
		(	inkscape.attrs.collect?
		&	inkscape.attrs.connection-end?
		&	inkscape.attrs.connection-start?
		&	inkscape.attrs.connector-avoid?
		&	inkscape.attrs.connector-spacing?
		&	inkscape.attrs.connector-type?
		&	inkscape.attrs.current-layer?
		&	inkscape.attrs.cx?
		&	inkscape.attrs.cy?
		&	inkscape.attrs.dataloss?
		&	inkscape.attrs.document-units?
		&	inkscape.attrs.dstBox?
		&	inkscape.attrs.dstColumn?
		&	inkscape.attrs.dstPath?
		&	inkscape.attrs.dstShape?
		&	inkscape.attrs.excludeShape?
		&	inkscape.attrs.export-filename?
		&	inkscape.attrs.export-xdpi?
		&	inkscape.attrs.export-ydpi?
		&	inkscape.attrs.flatsided?
		&	inkscape.attrs.grid-bbox?
		&	inkscape.attrs.grid-points?
		&	inkscape.attrs.groupmode?
		&	inkscape.attrs.guide-bbox?
		&	inkscape.attrs.guide-points?
		&	inkscape.attrs.has_abs_tolerance?
		&	inkscape.attrs.href?
		&	inkscape.attrs.label?
		&	inkscape.attrs.layoutOptions?
		&	inkscape.attrs.marker?
		&	inkscape.attrs.object-bbox?
		&	inkscape.attrs.object-nodes?
		&	inkscape.attrs.object-paths?
		&	inkscape.attrs.object-points?
		&	inkscape.attrs.offset?
		&	inkscape.attrs.original?
		&	inkscape.attrs.output_extension?
		&	inkscape.attrs.pageopacity?
		&	inkscape.attrs.pageshadow?
		&	inkscape.attrs.radius?
		&	inkscape.attrs.randomized?
		&	inkscape.attrs.rounded?
		&	inkscape.attrs.showpageshadow?
		&	inkscape.attrs.srcNoMarkup?
		&	inkscape.attrs.srcPango?
		&	inkscape.attrs.stockid?
		&	inkscape.attrs.tile-cx?
		&	inkscape.attrs.tile-cy?
		&	inkscape.attrs.tiled-clone-of?
		&	inkscape.attrs.tile-h?
		&	inkscape.attrs.tile-w?
		&	inkscape.attrs.transform-center-x?
		&	inkscape.attrs.transform-center-y?
		&	inkscape.attrs.version?
		&	inkscape.attrs.window-height?
		&	inkscape.attrs.window-width?
		&	inkscape.attrs.window-x?
		&	inkscape.attrs.window-y?
		&	inkscape.attrs.zoom?
		&	sodipodi.attrs.absref?
		&	sodipodi.attrs.arg1?
		&	sodipodi.attrs.arg2?
		&	sodipodi.attrs.argument?
		&	sodipodi.attrs.cx?
		&	sodipodi.attrs.cy?
		&	sodipodi.attrs.docbase?
		&	sodipodi.attrs.docname?
		&	sodipodi.attrs.end?
		&	sodipodi.attrs.expansion?
		&	sodipodi.attrs.insensitive?
		&	sodipodi.attrs.linespacing?
		&	sodipodi.attrs.modified?
		&	sodipodi.attrs.nodetypes?
		&	sodipodi.attrs.nonprintable?
		&	sodipodi.attrs.open?
		&	sodipodi.attrs.original?
		&	sodipodi.attrs.r1?
		&	sodipodi.attrs.r2?
		&	sodipodi.attrs.radius?
		&	sodipodi.attrs.revolution?
		&	sodipodi.attrs.role?
		&	sodipodi.attrs.rx?
		&	sodipodi.attrs.ry?
		&	sodipodi.attrs.sides?
		&	sodipodi.attrs.spiral?
		&	sodipodi.attrs.star?
		&	sodipodi.attrs.start?
		&	sodipodi.attrs.t0?
		&	sodipodi.attrs.type?
		&	sodipodi.attrs.version?
		)
		inkscape.attrs.collect =
			attribute inkscape:collect { string }
		inkscape.attrs.connection-end =
			attribute inkscape:connection-end { string }
		inkscape.attrs.connection-start =
			attribute inkscape:connection-start { string }
		inkscape.attrs.connector-avoid =
			attribute inkscape:connector-avoid { string }
		inkscape.attrs.connector-spacing =
			attribute inkscape:connector-spacing { string }
		inkscape.attrs.connector-type =
			attribute inkscape:connector-type { string }
		inkscape.attrs.current-layer =
			attribute inkscape:current-layer { string }
		inkscape.attrs.cx =
			attribute inkscape:cx { string }
		inkscape.attrs.cy =
			attribute inkscape:cy { string }
		inkscape.attrs.dataloss =
			attribute inkscape:dataloss { string }
		inkscape.attrs.document-units =
			attribute inkscape:document-units { string }
		inkscape.attrs.dstBox =
			attribute inkscape:dstBox { string }
		inkscape.attrs.dstColumn =
			attribute inkscape:dstColumn { string }
		inkscape.attrs.dstPath =
			attribute inkscape:dstPath { string }
		inkscape.attrs.dstShape =
			attribute inkscape:dstShape { string }
		inkscape.attrs.excludeShape =
			attribute inkscape:excludeShape { string }
		inkscape.attrs.export-filename =
			attribute inkscape:export-filename { string }
		inkscape.attrs.export-xdpi =
			attribute inkscape:export-xdpi { string }
		inkscape.attrs.export-ydpi =
			attribute inkscape:export-ydpi { string }
		inkscape.attrs.flatsided =
			attribute inkscape:flatsided { string }
		inkscape.attrs.grid-bbox =
			attribute inkscape:grid-bbox { string }
		inkscape.attrs.grid-points =
			attribute inkscape:grid-points { string }
		inkscape.attrs.groupmode =
			attribute inkscape:groupmode { string }
		inkscape.attrs.guide-bbox =
			attribute inkscape:guide-bbox { string }
		inkscape.attrs.guide-points =
			attribute inkscape:guide-points { string }
		inkscape.attrs.has_abs_tolerance =
			attribute inkscape:has_abs_tolerance { string }
		inkscape.attrs.href =
			attribute inkscape:href { string }
		inkscape.attrs.label =
			attribute inkscape:label { string }
		inkscape.attrs.layoutOptions =
			attribute inkscape:layoutOptions { string }
		inkscape.attrs.marker =
			attribute inkscape:marker { string }
		inkscape.attrs.object-bbox =
			attribute inkscape:object-bbox { string }
		inkscape.attrs.object-nodes =
			attribute inkscape:object-nodes { string }
		inkscape.attrs.object-paths =
			attribute inkscape:object-paths { string }
		inkscape.attrs.object-points =
			attribute inkscape:object-points { string }
		inkscape.attrs.offset =
			attribute inkscape:offset { string }
		inkscape.attrs.original =
			attribute inkscape:original { string }
		inkscape.attrs.output_extension =
			attribute inkscape:output_extension { string }
		inkscape.attrs.pageopacity =
			attribute inkscape:pageopacity { string }
		inkscape.attrs.pageshadow =
			attribute inkscape:pageshadow { string }
		inkscape.attrs.radius =
			attribute inkscape:radius { string }
		inkscape.attrs.randomized =
			attribute inkscape:randomized { string }
		inkscape.attrs.rounded =
			attribute inkscape:rounded { string }
		inkscape.attrs.showpageshadow =
			attribute inkscape:showpageshadow { string }
		inkscape.attrs.srcNoMarkup =
			attribute inkscape:srcNoMarkup { string }
		inkscape.attrs.srcPango =
			attribute inkscape:srcPango { string }
		inkscape.attrs.stockid =
			attribute inkscape:stockid { string }
		inkscape.attrs.tile-cx =
			attribute inkscape:tile-cx { string }
		inkscape.attrs.tile-cy =
			attribute inkscape:tile-cy { string }
		inkscape.attrs.tiled-clone-of =
			attribute inkscape:tiled-clone-of { string }
		inkscape.attrs.tile-h =
			attribute inkscape:tile-h { string }
		inkscape.attrs.tile-w =
			attribute inkscape:tile-w { string }
		inkscape.attrs.transform-center-x =
			attribute inkscape:transform-center-x { string }
		inkscape.attrs.transform-center-y =
			attribute inkscape:transform-center-y { string }
		inkscape.attrs.version =
			attribute inkscape:version { string }
		inkscape.attrs.window-height =
			attribute inkscape:window-height { string }
		inkscape.attrs.window-width =
			attribute inkscape:window-width { string }
		inkscape.attrs.window-x =
			attribute inkscape:window-x { string }
		inkscape.attrs.window-y =
			attribute inkscape:window-y { string }
		inkscape.attrs.zoom =
			attribute inkscape:zoom { string }
		sodipodi.attrs.absref =
			attribute sodipodi:absref { string }
		sodipodi.attrs.arg1 =
			attribute sodipodi:arg1 { string }
		sodipodi.attrs.arg2 =
			attribute sodipodi:arg2 { string }
		sodipodi.attrs.argument =
			attribute sodipodi:argument { string }
		sodipodi.attrs.cx =
			attribute sodipodi:cx { string }
		sodipodi.attrs.cy =
			attribute sodipodi:cy { string }
		sodipodi.attrs.docbase =
			attribute sodipodi:docbase { string }
		sodipodi.attrs.docname =
			attribute sodipodi:docname { string }
		sodipodi.attrs.end =
			attribute sodipodi:end { string }
		sodipodi.attrs.expansion =
			attribute sodipodi:expansion { string }
		sodipodi.attrs.insensitive =
			attribute sodipodi:insensitive { string }
		sodipodi.attrs.linespacing =
			attribute sodipodi:linespacing { string }
		sodipodi.attrs.modified =
			attribute sodipodi:modified { string }
		sodipodi.attrs.nodetypes =
			attribute sodipodi:nodetypes { string }
		sodipodi.attrs.nonprintable =
			attribute sodipodi:nonprintable { string }
		sodipodi.attrs.open =
			attribute sodipodi:open { string }
		sodipodi.attrs.original =
			attribute sodipodi:original { string }
		sodipodi.attrs.r1 =
			attribute sodipodi:r1 { string }
		sodipodi.attrs.r2 =
			attribute sodipodi:r2 { string }
		sodipodi.attrs.radius =
			attribute sodipodi:radius { string }
		sodipodi.attrs.revolution =
			attribute sodipodi:revolution { string }
		sodipodi.attrs.role =
			attribute sodipodi:role { string }
		sodipodi.attrs.rx =
			attribute sodipodi:rx { string }
		sodipodi.attrs.ry =
			attribute sodipodi:ry { string }
		sodipodi.attrs.sides =
			attribute sodipodi:sides { string }
		sodipodi.attrs.spiral =
			attribute sodipodi:spiral { string }
		sodipodi.attrs.star =
			attribute sodipodi:star { string }
		sodipodi.attrs.start =
			attribute sodipodi:start { string }
		sodipodi.attrs.t0 =
			attribute sodipodi:t0 { string }
		sodipodi.attrs.type =
			attribute sodipodi:type { string }
		sodipodi.attrs.version =
			attribute sodipodi:version { string }
