xml/tests/testData/xmlRename/SchemaRename4_after.xsd

<xsd:schema
    xmlns = "http://aaa.bbb"
    xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
    targetNamespace = "http://aaa.bbb"
    elementFormDefault = "qualified"
    attributeFormDefault = "unqualified">
  
  <xsd:complexType name="NewCompany2">
      <xsd:sequence>
          <xsd:element name = "name" type="Ne<caret>wCompany2"/>
      </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="zzz" type="NewCompany2" />
</xsd:schema>
