xml/tests/testData/xmlRename/SchemaRename3.xsd

<xsd:schema
    xmlns = "http://aaa"
    xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
    xmlns:zzz="http://aaa.bbb"
    targetNamespace = "http://aaa.bbb"
    elementFormDefault = "qualified"
    attributeFormDefault = "unqualified">
  <xsd:import namespace="http://aaa.bbb" schemaLocation="SchemaRename3_2.xsd"/>
  
  <xsd:element name="Company">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="zzz:Co<caret>mpany"/>
        </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="zzz" substitutionGroup="Company" />
  <xsd:element name="zzz2" substitutionGroup="Company" />
  <xsd:element name="zzz3" substitutionGroup="Company" />
</xsd:schema>
