xml/tests/testData/xmlRename/SchemaRename4.xsd

<xsd:schema
    xmlns = "http://aaa.bbb"
    xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
    targetNamespace = "http://aaa.bbb"
    elementFormDefault = "qualified"
    attributeFormDefault = "unqualified">
  
  <xsd:complexType name="Company">
      <xsd:sequence>
          <xsd:element name = "name" type="Co<caret>mpany"/>
      </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="zzz" type="Company" />
</xsd:schema>
