xml/tests/testData/xmlRename/SchemaRename2_after.xsd

<xsd:schema
    xmlns = "http://aaa.bbb"
    xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
    targetNamespace = "http://aaa.bbb"
    elementFormDefault = "qualified"
    attributeFormDefault = "unqualified">
  <xsd:element name="NewCo<caret>mpany">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="Person" type="xsd:string" maxOccurs="unbounded"/>
            <xsd:element ref="NewCompany"/>
        </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="zzz" substitutionGroup="NewCompany" />
</xsd:schema>
