xml/tests/testData/xmlRename/SchemaRename2.xsd

<xsd:schema
    xmlns = "http://aaa.bbb"
    xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
    targetNamespace = "http://aaa.bbb"
    elementFormDefault = "qualified"
    attributeFormDefault = "unqualified">
  <xsd:element name="Co<caret>mpany">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="Person" type="xsd:string" maxOccurs="unbounded"/>
            <xsd:element ref="Company"/>
        </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="zzz" substitutionGroup="Company" />
</xsd:schema>
