xml/tests/testData/xml/ComplexSchemaValidation3Schemas/xinclude.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.w3.org/2001/XInclude" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xs:element name="include">
		<xs:complexType mixed="true">
			<xs:attribute name="href" type="xs:anyURI" use="required"/>
			<xs:attribute name="parse">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="xml"/>
						<xs:enumeration value="text"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="encoding" type="xs:string"/>
			<xs:anyAttribute/>
		</xs:complexType>
	</xs:element>
</xs:schema>
