xml/tests/testData/constraints/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
           elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="a" type="aType"/>
  <xs:complexType name="aType">
    <xs:sequence>
      <xs:element type="xs:string" name="b"/>
      <xs:element type="xs:string" name="c" minOccurs="1" maxOccurs="5"/>
      <xs:element type="xs:string" name="d" minOccurs="z" maxOccurs="x"/>
      <xs:element type="xs:string" name="e" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
