xml/tests/testData/quickFix/fetchExternalResources/6.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://jboss.com/products/seam/mail"
    xmlns:mail="http://jboss.com/products/seam/mail"
    xmlns:components="http://jboss.com/products/seam/components" attributeFormDefault="unqualified">
    <xs:import namespace="http://jboss.com/products/seam/components" schemaLocation="http://jboss.com/products/seam/components-1.2.xsd"/>
    <xs:attributeGroup name="attlist.mailSession">
        <xs:attribute name="username" type="xs:string"/>
        <xs:attribute name="password" type="xs:string"/>
        <xs:attribute name="host" type="xs:string"/>
        <xs:attribute name="port" type="xs:string"/>
        <xs:attribute name="debug" type="xs:string"/>
        <xs:attribute name="ssl" type="xs:boolean"/>
        <xs:attribute name="session-jndi-name" type="xs:string"/>
    </xs:attributeGroup>

    <xs:element name="mail-session">
        <xs:complexType>
            <xs:attributeGroup ref="components:attlist.component" />
            <xs:attributeGroup ref="mail:attlist.mailSession" />
        </xs:complexType>
    </xs:element>
</xs:schema>
