xml/tests/testData/projectView/xmlStructureView/file1.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!ELEMENT myplugin (helpset)>
<!ATTLIST myplugin
    url CDATA #IMPLIED
    version CDATA #IMPLIED>
<!ELEMENT helpset EMPTY>
<!ATTLIST helpset
  file CDATA #REQUIRED
  path CDATA #REQUIRED>

<!ENTITY % draft 'IGNORE'>
 <!ENTITY % final 'INCLUDE'>

<![%draft;[
<!ELEMENT book (comments*, title, body, supplements?)>
<!ELEMENT comments EMPTY>
]]>
<![%final;[
<!ELEMENT book (price,title, body, supplements?)>
<!ELEMENT price EMPTY>
]]>