xml/tests/testData/completion/Substitute/schema-a.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:a="http://test/a"
            targetNamespace="http://test/a">

    <xsd:complexType name="abstractType">
        <xsd:attribute name="id" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="Root">
        <xsd:sequence>
            <xsd:element ref="a:instance" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="instance" type="a:abstractType"/>
    <xsd:element name="root" type="a:Root"/>
</xsd:schema>