xml/tests/testData/completion/Substitute/schema-b.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:b="http://test/b"
            xmlns:a="http://test/a"
            targetNamespace="http://test/b">
    <xsd:import namespace="http://test/a"/>
    
    <xsd:complexType name="subType">
        <xsd:complexContent>
             <xsd:restriction base="a:abstractType">
                <xsd:attribute name="id" type="xsd:string" use="required"/>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element  name="instance" type="b:subType" substitutionGroup="a:instance"/>
</xsd:schema>