xml/tests/testData/validateXml/Alternative.xsd

<?xml version="1.1" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="validationType" mixed="true">
        <xs:sequence>
            <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="type" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="filter" />
                    <xs:enumeration value="options" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="filterValidateType">
        <xs:simpleContent>
            <xs:restriction base="validationType">
                <xs:simpleType>
                    <xs:restriction base="xs:string" />
                </xs:simpleType>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="optionsValidateType" mixed="true">
        <xs:complexContent>
            <xs:extension base="validationType">
                <xs:sequence>
                    <xs:element type="optionsType" name="options" minOccurs="1" maxOccurs="1" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="validationsType">
        <xs:sequence>
            <xs:element type="validationType" name="validation">
                <xs:alternative test="@type='filter'" type="filterValidateType" />
                <xs:alternative test="@type='options'" type="optionsValidateType" />
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="optionsType">
        <xs:sequence>
            <xs:element type="optionType" name="option" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="optionType">
        <xs:sequence>
            <xs:element name="caption" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="value" type="xs:string" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute type="xs:int" name="position" use="optional"/>
    </xs:complexType>

</xs:schema>