xml/tests/testData/validateXml/ReferencingAnotherSchema2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.ivtest/iv" xmlns:iv="http://www.ivtest/iv">
  <xs:import schemaLocation="ReferencingAnotherSchema.xsd"/>
  <xs:element name="InfiView">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Component" type="MyComponentType"/>
        <xs:element ref="iv:viewport"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="viewport">
    <xs:complexType/>
  </xs:element>
  <xs:complexType name="MyComponentType"/>
</xs:schema>
