xml/tests/testData/validateXml/SeveralImportsWithOneNamespace_product.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="product:shared" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ir="http://instrumentreference" targetNamespace="product:shared" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xsd:import namespace="http://instrumentreference" schemaLocation="SeveralImportsWithOneNamespace_instrumentclassification.xsd"/>
	<xsd:import namespace="http://instrumentreference" schemaLocation="SeveralImportsWithOneNamespace_instrumentreference.xsd"/>
	<xsd:complexType name="Asset">
		<xsd:sequence>
			<xsd:element name="instrumentId" type="ir:InstrumentId" maxOccurs="unbounded"/>
			<xsd:element name="assetClass" type="ir:AssetClassEnum"/>
			<xsd:element name="description" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID"/>
	</xsd:complexType>
    <xsd:element name="asset" type="Asset"/>
</xsd:schema>
