xml/tests/testData/psi/xi/xmlBase/xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.w3.org/XML/1998/namespace" >
  <xs:attribute name="id" type="xs:ID"/>
  <xs:attribute name="lang"/>
  <xs:attribute name="base"/>
  <xs:attribute name="space">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="preserve"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
</xs:schema>
