xml/tests/testData/unusedNs/wsdd.dtd

<!ELEMENT namespace (#PCDATA)>
<!ELEMENT service (parameter|namespace|requestFlow|responseFlow|beanMapping|typeMapping|arrayMapping)*>
<!ATTLIST service
    name CDATA #REQUIRED
    provider CDATA #REQUIRED
    use CDATA #IMPLIED
    style CDATA #IMPLIED>
<!ELEMENT handler (parameter)*>
<!ATTLIST handler
    name CDATA #IMPLIED
    type CDATA #REQUIRED>
<!ELEMENT globalConfiguration (requestFlow?,responseFlow?,parameter*)>
<!ELEMENT requestFlow (handler)*>
<!ELEMENT responseFlow (handler)*>
<!ELEMENT deployment (globalConfiguration|handler|service|transport|beanMapping|typeMapping|arrayMapping)*>
<!ATTLIST deployment
    name  CDATA
    xmlns CDATA #REQUIRED
    xmlns:java CDATA #REQUIRED>
<!ELEMENT parameter (#PCDATA)>
<!ATTLIST parameter
    name CDATA #REQUIRED
    value CDATA #REQUIRED>
<!ELEMENT transport (requestFlow|parameter|responseFlow)*>
<!ATTLIST transport
    name  CDATA #REQUIRED
    pivot CDATA>
<!ELEMENT beanMapping (#PCDATA)>
<!ATTLIST beanMapping
    languageSpecificType CDATA #REQUIRED
    qname CDATA #REQUIRED
    xmlns:ns CDATA #IMPLIED
    xmlns:ns1 CDATA #IMPLIED
    xmlns:ns2 CDATA #IMPLIED>
 <!ELEMENT typeMapping (#PCDATA)>
 <!ATTLIST typeMapping
     languageSpecificType CDATA #REQUIRED
     qname CDATA #REQUIRED
     serializer CDATA #REQUIRED
     deserializer CDATA #REQUIRED
     encodingStyle CDATA #REQUIRED
     xmlns:ns CDATA #IMPLIED
     xmlns:ns1 CDATA #IMPLIED
     xmlns:ns2 CDATA #IMPLIED>
 <!ELEMENT arrayMapping (#PCDATA)>
 <!ATTLIST arrayMapping
     qname CDATA #REQUIRED
     type CDATA #REQUIRED
     innerType CDATA #REQUIRED
     encodingStyle CDATA #REQUIRED
     xmlns:ns CDATA #IMPLIED
     xmlns:ns1 CDATA #IMPLIED
     xmlns:ns2 CDATA #IMPLIED>