xml/tests/testData/xml/ComplexSchemaValidation4Schemas/SalaryDeclarationContainer.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema
    targetNamespace="http://www.swissdec.ch/schema/sd/20050902/SalaryDeclarationContainer"
    xmlns:tns="http://www.swissdec.ch/schema/sd/20050902/SalaryDeclarationContainer"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:sd="http://www.swissdec.ch/schema/sd/20050902/SalaryDeclaration"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="0.0">

    <!-- state of standardisation: draft20050404 (AHV, UVG, Stv und BfS) -->
    <!-- last modified $Date: 2005/09/15 13:03:25 $Author: boehm $ -->

    <!--
    Status 2005.08.23
        -   uvgz, ktg und bvg neu integriert

    -->

    <!-- imports -->
    <xs:import namespace="http://www.swissdec.ch/schema/sd/20050902/SalaryDeclaration" schemaLocation="SalaryDeclaration.xsd"/>

    <!-- complex types -->
    <!-- request
    -->
    <xs:complexType name="RequestContextType">
        <xs:sequence>
            <!-- UserAgent: contains information about the transmitter application -->
            <xs:element name="UserAgent" type="tns:UserAgentType"/>
            <!-- LanguageCode -->
            <xs:element name="CompanyName" type="sd:CompanyNameType"/>
            <xs:element name="TransmissionDate" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation>Übertragungszeitpunkt</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RequestID" type="xs:string">
                <xs:annotation>
                    <xs:documentation>RequestID</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LanguageCode" type="tns:LanguageCodeType"/>
            <!-- Company: same structure and content as the element
SalaryDeclarations/SalaryDeclaration/Company in SalaryDeclaration.xsd -->
            <!-- date and time of transmission -->
            <!-- MonitoringID: acts as identyfier for writing and accessing
monitoring informations in/from a reference application
(related to testing and certification) -->
            <xs:element name="TestCase" type="tns:EmptyType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Testfall</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MonitoringID" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>MonitoringID</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Comments" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Bemerkungen</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SalaryDeclarationRequestType">
        <xs:sequence>
            <xs:element name="RequestContext" type="tns:RequestContextType">
                <xs:annotation>
                    <xs:documentation>Basisdaten</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Job" type="tns:JobType">
                <xs:annotation>
                    <xs:documentation>Auftrag</xs:documentation>
                </xs:annotation>
            </xs:element>
            <!-- Comments: notes related to transmission-->
            <!--
TransmissionMode: contains information about a repeated declaration
(reason: only substitution in case of acceptence )
            -->
            <xs:element name="Substitution" type="tns:SubstitutionType" minOccurs="0"/>
            <!-- Test: marks a test case without processing by the receiver.
The response contains a special info -->
            <!-- SalaryDeclarations: defines the core data structure of a salary
declartion (without transmission information)-->
            <xs:element name="SalaryDeclaration" type="sd:SalaryDeclarationType">
                <xs:annotation>
                    <xs:documentation>Lohnmeldung</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <!-- the concatination of UserAgent, RequestID und Company are used as unique key -->
    </xs:complexType>
    <xs:complexType name="GetStatusFromDeferredDeclarationType">
        <xs:sequence>
            <!-- UserAgent: contains information about the transmitter application -->
            <xs:element name="RequestContext" type="tns:RequestContextType">
                <xs:annotation>
                    <xs:documentation>Basisdaten</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="JobKey" type="tns:JobKeyType">
                <xs:annotation>
                    <xs:documentation>Eindeutiger Bezeichner für den Job</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="JobType">
        <xs:annotation>
            <xs:documentation>Aufgabearten</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Addressees" type="tns:AddresseeType">
                <xs:unique name="UVG-LAA-Ctrl">
                    <xs:selector xpath="tns:UVG-LAA"/>
                    <xs:field xpath="@InstitutionIDRef"/>
                </xs:unique>
            </xs:element>
            <xs:element name="EndUserNotification" type="tns:UserNotificationType" minOccurs="0"/>
            <xs:element name="Comments" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Bemerkungen</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AddresseeType">
        <xs:annotation>
            <xs:documentation>bekannte Empfängerdaten</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AHV-AVS" type="tns:ControlsType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>AHV-AVS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="UVG-LAA" type="tns:ControlsMultiType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>UVG-LAA</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="UVGZ-LAAC" type="tns:ControlsMultiType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>UVGZ-LAAC</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="KTG-AMC" type="tns:ControlsMultiType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>KTG-AMC</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BVG-LPP" type="tns:ControlsMultiType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>BVG-LPP</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FAK-CAF" type="tns:ControlsMultiType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>FAK-CAF</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CantonalTaxAdministration" type="tns:ControlsType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Kantonale Steuerverwaltung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SwissFederalStatisticalOffice" type="tns:ControlsType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>BfS</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ControlsType">
        <xs:sequence>
            <xs:element name="ProcessByDistributor" type="sd:SimpleBooleanType">
                <xs:annotation>
                    <xs:documentation>Verarbeitung durch Distributor</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CCAddressee" type="tns:CarbonCopyAddresseeType" minOccurs="0" maxOccurs="unbounded"  >
                <xs:annotation>
                    <xs:documentation>Verarbeitung durch Distributor</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ControlsMultiType">
        <xs:complexContent>
            <xs:extension base="tns:ControlsType">
                <xs:attribute name="InstitutionIDRef" type="sd:InstitutionIDType" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="UserNotificationType">
        <xs:annotation>
            <xs:documentation>EndBenutzer Benachrichtigung</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EmailAddress" type="xs:string">
                <xs:annotation>
                    <xs:documentation>EmailAdresse</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PhoneNumber" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Telefonnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SubstitutionType">
        <xs:annotation>
            <xs:documentation>Ersatzlieferung</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <!-- replaces prior salary declaration transmission -->
            <xs:element name="PredecessorRequestID" type="xs:string"/>
            <xs:element name="PredecessorResponseIDWithAcceptedState" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CarbonCopyAddresseeType">
        <xs:sequence>
            <xs:element name="PartnerID" type="xs:string" minOccurs="0" >
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        <translation>Partneridentifikation</translation>
                        <description>
                            <short>Partneridentifikation gemäss seperater Liste</short>
                        </description>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Name" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        <translation>Name</translation>
                        <description>
                            <short>Name (1. Zeile)</short>
                        </description>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ComplementaryLine" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        <translation>Zusatzzeile</translation>
                        <description>
                            <short>Zusatzzeile für Postadresse (2. Zeile)</short>
                        </description>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Street" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        <translation>Strasse</translation>
                        <description>
                            <short>Strasse und Hausnummer (3. Zeile)</short>
                        </description>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Postbox" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        <translation>Postfach</translation>
                        <description>
                            <short>Postfach (4. Zeile)</short>
                        </description>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ZIP-Code" type="tns:ZIP-CodeType">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        <translation>Postleitzahl (PLZ)</translation>
                        <description>
                            <short>Postleitzahl (5. Zeile)</short>
                        </description>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="City" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        <translation>Ort</translation>
                        <description>
                            <short>Ort (5. Zeile)</short>
                        </description>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Country" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        <translation>Land</translation>
                        <description>
                            <short>Land für Postversand (6. Zeile)</short>
                        </description>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ZIP-CodeType">
        <xs:annotation>
            <xs:documentation xml:lang="de">
                <translation>PLZ Typ</translation>
                <description>
                    <short>Postleitzahl</short>
                </description>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:NMTOKEN">
            <xs:minLength value="4"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- response
    -->
    <xs:complexType name="ResponseContextType">
        <xs:sequence>
            <!-- UserAgent: contains information about the receiver application -->
            <xs:element name="UserAgent" type="tns:UserAgentType"/>
            <!-- Social-Insurance-Name: human readable name of the receiving social insurance entity -->
            <xs:element name="InstitutionName" type="xs:string"/>
            <!-- date and time of transmission -->
            <xs:element name="TransmissionDate" type="xs:dateTime"/>
            <!-- ResponseID: a unique case number associated with a response (generated by receiver) -->
            <xs:element name="ResponseID" type="xs:string"/>
            <!-- RequestID: a unique case number associated with a request (generated by transmitter) -->
            <xs:element name="RequestID" type="xs:string"/>
            <!-- Completion: contains access information needed to lookup detailled process-information -->
            <xs:element name="Information" type="tns:AccessInformationType" minOccurs="0"/>
            <!-- Test: marks a test case without processing by the receiver the response contains a special info -->
            <xs:element name="TestCase" type="tns:EmptyType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AddresseeContextType">
        <xs:sequence>
            <!-- UserAgent: contains information about the receiver application -->
            <xs:element name="UserAgent" type="tns:UserAgentType"/>
            <!-- Social-Insurance-Name: human readable name of the receiving social insurance entity -->
            <xs:element name="InstitutionName" type="xs:string"/>
            <!-- date and time of transmission -->
            <xs:element name="TransmissionDate" type="xs:dateTime"/>
            <!-- ResponseID: a unique case number associated with a response (generated by receiver) -->
            <xs:element name="ResponseID" type="xs:string"/>
            <!-- RequestID: a unique case number associated with a request (generated by transmitter) -->
            <xs:element name="RequestID" type="xs:string"/>
            <!-- Completion: contains access information needed to complete or edit a transmitted salary declaration -->
            <xs:element name="Completion" type="tns:AccessInformationType" minOccurs="0"/>
            <!-- Test: marks a test case without processing by the receiver the response contains a special info -->
            <xs:element name="TestCase" type="tns:EmptyType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FaultContextType">
        <xs:sequence>
            <!-- UserAgent: contains information about the receiver application -->
            <xs:element name="UserAgent" type="tns:UserAgentType"/>
            <!-- Social-Insurance-Name: human readable name of the receiving social insurance entity -->
            <xs:element name="InstitutionName" type="xs:string"/>
            <!-- date and time of transmission -->
            <xs:element name="TransmissionDate" type="xs:dateTime"/>
            <!-- ResponseID: a unique case number associated with a response (generated by receiver) -->
            <xs:element name="ResponseID" type="xs:string"/>
            <!-- RequestID: a unique case number associated with a request (generated by transmitter) -->
            <xs:element name="RequestID" type="xs:string"/>
            <!-- Test: marks a test case without processing by the receiver the response contains a special info -->
            <xs:element name="TestCase" type="tns:EmptyType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SalaryDeclarationFaultType">
        <xs:sequence>
            <xs:element name="FaultContext" type="tns:FaultContextType"/>
            <xs:element name="FaultState" type="tns:FaultStateType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DeclareSalaryDeferredResponseType">
        <xs:sequence>
            <xs:element name="ResponseContext" type="tns:ResponseContextType"/>
            <xs:element name="JobKey" type="tns:JobKeyType">
                <xs:annotation>
                    <xs:documentation>Eindeutiger Bezeichner für den Job</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SalaryDeclarationStatusResponseType">
        <xs:sequence>
            <xs:element name="ResponseContext" type="tns:ResponseContextType"/>
            <xs:element name="PlausibilityState" type="tns:PlausibilityStateType"/>
            <xs:element name="JobFinished" type="sd:SimpleBooleanType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="JobStateType">
        <xs:annotation>
            <xs:documentation>Empfängerantworten</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AHV-AVS" type="tns:WorkingStateType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>AK-Nummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="UVG-LAA" type="tns:WorkingStateMultiType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>UVG-LAA</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="UVGZ-LAAC" type="tns:WorkingStateMultiType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>UVGZ-LAAC</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="KTG-AMC" type="tns:WorkingStateMultiType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>KTG-AMC</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BVG-LPP" type="tns:WorkingStateMultiType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>BVG-LPP</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FAK-CAF" type="tns:WorkingStateMultiType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>FAK-CAF</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CantonalTaxAdministration" type="tns:WorkingStateType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Kantonale Steuerverwaltung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SwissFederalStatisticalOffice" type="tns:WorkingStateType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>BfS</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="WorkingStateType">
        <xs:annotation>
            <xs:documentation>Arbeitszustandsdetail</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Processing" type="tns:EmptyType">
                <xs:annotation>
                    <xs:documentation>in verarbeitung</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Delayed" type="tns:DelayedResponseType">
                <xs:annotation>
                    <xs:documentation>verarbeitung momentan nicht möglich</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Success" type="tns:SuccessResponseType">
                <xs:annotation>
                    <xs:documentation>verbeitung erfolgreich beendet</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ignored" type="tns:EmptyType">
                <xs:annotation>
                    <xs:documentation>Adresse ignoriert</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Error" type="tns:ErrorResponseType">
                <xs:annotation>
                    <xs:documentation>verarbeitung ist fehlgeschlagen da empfänger einen fehler gemeldet hat</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="WorkingStateMultiType">
        <xs:annotation>
            <xs:documentation>Arbeitszustandsdetail</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="tns:WorkingStateType">
                <xs:attribute name="InstitutionIDRef" type="sd:InstitutionIDType" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ErrorResponseType">
        <xs:annotation>
            <xs:documentation>Info</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="EndUserInformation" type="xs:string"/>
            <xs:element name="DetailInformation" type="xs:string" minOccurs="0"/>
            <xs:element name="FaultInformation" type="tns:SalaryDeclarationFaultType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Fehlermeldung des Endempfängers</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DelayedResponseType">
        <xs:annotation>
            <xs:documentation>Info</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="EndUserInformation" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SuccessResponseType">
        <xs:annotation>
            <xs:documentation>Allgemeine Antwort</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AddresseeContext" type="tns:AddresseeContextType"/>
            <xs:element name="ResponseState" type="tns:ResponseStateType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ResponseStateType">
        <xs:annotation>
            <xs:documentation>Status</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <!-- Code: quality rating code related to a transmitted salary declaration-->
            <xs:element name="Code" type="tns:ResponseCodeType"/>
            <!-- Warning: defines the data structure to notify warning messages -->
            <xs:element name="Warning" type="tns:NotificationsType" minOccurs="0"/>
            <!-- Info: defines the data structure to notify general messages -->
            <xs:element name="Info" type="tns:NotificationsType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FaultStateType">
        <xs:annotation>
            <xs:documentation>Status</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <!-- Code: quality rating code related to a transmitted salary declaration-->
            <xs:element name="Code" type="tns:FaultCodeType"/>
            <!-- Error: defines the data structure to notify error messages -->
            <xs:element name="Error" type="tns:NotificationsType" minOccurs="0"/>
            <!-- Warning: defines the data structure to notify warning messages -->
            <xs:element name="Warning" type="tns:NotificationsType" minOccurs="0"/>
            <!-- Info: defines the data structure to notify general messages -->
            <xs:element name="Info" type="tns:NotificationsType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccessInformationType">
        <xs:annotation>
            <xs:documentation>Zugangsinformationen</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <!-- Url: access url -->
            <xs:element name="Url" type="xs:string"/>
            <!-- Key: authentication key -->
            <xs:element name="Key" type="xs:string"/>
            <!-- Password: authentication password -->
            <xs:element name="Password" type="xs:string"/>
            <!-- ExpiryDate: expiry date of access information -->
            <xs:element name="ExpiryDate" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NotificationsType">
        <xs:annotation>
            <xs:documentation>Hinweise</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <!-- Notification: data structure to define messages as
errors, warnings or general information -->
            <xs:element name="Notification" type="tns:NotificationType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NotificationType">
        <xs:annotation>
            <xs:documentation>Hinweise</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <!-- QualityLevel: used to relate a notification to quality levels
as validation, plausibilisation or acceptance -->
            <xs:element name="QualityLevel" type="tns:QualityLevelType"/>
            <!-- DescriptionCode: numerical code related to declared types of
notifications (errors, warnings, infos) -->
            <xs:element name="DescriptionCode" type="tns:DescriptionCodeType"/>
            <!-- Description: human readable content of the notification -->
            <xs:element name="Description" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <!-- response distributor-part -->
    <xs:complexType name="PlausibilityStateType">
        <xs:annotation>
            <xs:documentation>Ditributorzustand</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="ValidityPlausibilityChecking" type="tns:EmptyType">
                <xs:annotation>
                    <xs:documentation>Der Distributorhat die Validitäts- und Plausibilitätsprüfung noch nicht abgeschlossen</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Plausible" type="tns:PlausibleNotificationsType">
                <xs:annotation>
                    <xs:documentation>Das übertragene Dokument ist plausibel</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PlausibleNotificationsType">
        <xs:sequence>
            <!-- Warning: defines the data structure to notify warning messages -->
            <xs:element name="Warning" type="tns:NotificationsType" minOccurs="0"/>
            <!-- Info: defines the data structure to notify general messages -->
            <xs:element name="Info" type="tns:NotificationsType" minOccurs="0"/>
            <xs:element name="JobState" type="tns:JobStateType"/>
        </xs:sequence>
    </xs:complexType>
    <!-- shared types -->
    <xs:complexType name="UserAgentType">
        <xs:annotation>
            <xs:documentation>Benutzeragent</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <!-- Producer:  manufacturer of the used application (transmitter or receiver) -->
            <xs:element name="Producer" type="xs:string"/>
            <!-- Name: name of the used application -->
            <xs:element name="Name" type="xs:string"/>
            <!-- Version: version of the used application -->
            <xs:element name="Version" type="xs:string"/>
            <!-- Certificate: certificate of the used application -->
            <xs:element name="Certificate" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EmptyType"/>
    <!-- simple types -->
    <xs:simpleType name="QualityLevelType">
        <xs:annotation>
            <xs:documentation>Gütestufen</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Validity"/>
            <xs:enumeration value="Plausibility"/>
            <xs:enumeration value="Acceptance"/>
            <!-- Validity:      first level check -->
            <!-- Plausibility:  second level check -->
            <!-- Acceptance:    third level check -->
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ResponseCodeType">
        <xs:annotation>
            <xs:documentation>Antwortcode</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="accepted"/>
            <xs:enumeration value="acceptedWithWarning"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FaultCodeType">
        <xs:annotation>
            <xs:documentation>Fehlercode</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="NOT_accepted"/>
            <xs:enumeration value="NOT_plausible"/>
            <xs:enumeration value="NOT_valid"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DescriptionCodeType">
        <xs:annotation>
            <xs:documentation>Beschreibungscode</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:nonNegativeInteger">
            <xs:totalDigits value="7"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LanguageCodeType">
        <xs:annotation>
            <xs:documentation>Sprachcode</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="de"/>
            <xs:enumeration value="fr"/>
            <xs:enumeration value="it"/>
            <xs:enumeration value="en"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UVG-LAANameType">
        <xs:annotation>
            <xs:documentation>UVG Versicherungsname</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Suva"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GovernmentNameType">
        <xs:annotation>
            <xs:documentation>Name der Verwaltung</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="CantonalTaxAdministration"/>
            <xs:enumeration value="SwissFederalStatisticalOffice"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="JobKeyType">
        <xs:annotation>
            <xs:documentation>Eindeutiger Bezeichner für den Job</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="10"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
