xml/tests/testData/xml/Redefine/base.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:complexType name="resourceType">
        <xs:attribute name="someAttribute"/>
    </xs:complexType>

    <xs:complexType name="serviceType">
        <xs:sequence>
            <xs:element name="resource" type="resourceType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
